// section article
sectiona.article.home4-article
  h4.title-line.text-uppercase MOST ARTICLES
  .line-6.Mb50
    
  ul.article-list.list-unstyled
    li
      a(href="#") Meet the Comedian Who Trolled Sean Spicer, United Airlines and Pepsi in 1
      p.metadata
        a(href="#") MONMAG
        span.line-divine |
        a(href="#") June 27, 2017
        span.line-divine |
        a(href="#") 52 Views
    li
      a(href="#") Meet the Comedian Who Trolled Sean Spicer, United Airlines and Pepsi in 1
      p.metadata
        a(href="#") MONMAG
        span.line-divine |
        a(href="#") June 27, 2017
        span.line-divine |
        a(href="#") 72 Views
    li
      a(href="#") Rising global fears challenge Wall Streetmeme 
      p.metadata
        a(href="#") MONMAG
        span.line-divine |
        a(href="#") June 25, 2017
        span.line-divine |
        a(href="#") 100 Views
    li
      a(href="#") Meet the Comedian Who Trolled Sean Spicer, United Airlines and Pepsi in 1
      p.metadata
        a(href="#") MONMAG
        span.line-divine |
        a(href="#") June 24, 2017
        span.line-divine |
        a(href="#") 35 Views
    li
      a(href="#") Meet the Comedian Who Trolled Sean Spicer, United Airlines and Pepsi in 1
      p.metadata
        a(href="#") MONMAG
        span.line-divine |
        a(href="#") June 24, 2017
        span.line-divine |
        a(href="#") 40 Views
    li
      a(href="#") Meet the Comedian Who Trolled Sean Spicer, United Airlines and Pepsi in 1
      p.metadata
        a(href="#") MONMAG
        span.line-divine |
        a(href="#") June 24, 2017
        span.line-divine |
        a(href="#") 40 Views
    
