// section asia
section.home4-asia
  .container
    h4.title-line.text-uppercase Asia Finance
    .line-6.Mb40
    |
    |
    .row
      .col-md-4
        .box-wrap
          .box-content-1
            .box-content-1-type
              a.btn.btn-type-2.text-uppercase(href="#") FINANCE
            a(href="#")
              img.w-100(src="assets/img/home4/asia/asia_03.png", alt="")
          .box-content-1-text
            h4
              a(href="#") Foreign Economies Better Able to Handle U.S. Rate Hikes, Fed Vice Chair
            p.metadata
              a(href="#") MONMAG
              span.line-divine |
              a(href="#") June 27, 2017
              span.line-divine |
              a(href="#") 42 Views
      |
      |        
      .col-md-4
        .box-wrap
          .box-content-1
            .box-content-1-type
              a.btn.btn-type-2.text-uppercase(href="#") FINANCE
            a(href="#")
              img.w-100(src="assets/img/home4/asia/asia_05.png", alt="")
          .box-content-1-text
            h4
              a(href="#") China Sage Tips 'Destruction' of Leverage Trades as Stocks Slide
            p.metadata
              a(href="#") MONMAG
              span.line-divine |
              a(href="#") June 27, 2017
              span.line-divine |
              a(href="#") 42 Views
      |
      |
      .col-md-4
        .box-wrap
          .box-content-1
            .box-content-1-type
              a.btn.btn-type-2.text-uppercase(href="#") FINANCE
            a(href="#")
              img.w-100(src="assets/img/home4/asia/asia_07.png", alt="")
          .box-content-1-text
            h4
              a(href="#") China Rolls Out Fresh Tax Cuts in Bid to Support Economic Growth
            p.metadata
              a(href="#") MONMAG
              span.line-divine |
              a(href="#") June 27, 2017
              span.line-divine |
              a(href="#") 42 Views
      |
      |
      .col-md-4
        .box-wrap
          .box-content-1
            .box-content-1-type
              a.btn.btn-type-2.text-uppercase(href="#") FINANCE
            a(href="#")
              img.w-100(src="assets/img/home4/asia/asia_12.png", alt="")
          .box-content-1-text
            h4
              a(href="#") How Japan's Bet on Asian Casino Boom May Play Out
            p.metadata
              a(href="#") MONMAG
              span.line-divine |
              a(href="#") June 27, 2017
              span.line-divine |
              a(href="#") 42 Views
      |
      |
      .col-md-4
        .box-wrap
          .box-content-1
            .box-content-1-type
              a.btn.btn-type-2.text-uppercase(href="#") FINANCE
            a(href="#")
              img.w-100(src="assets/img/home4/asia/asia_13.png", alt="")
          .box-content-1-text
            h4
              a(href="#") Mitsubishi Aircraft Targets Paris Air Show Debut of Regional Jet
            p.metadata
              a(href="#") MONMAG
              span.line-divine |
              a(href="#") June 27, 2017
              span.line-divine |
              a(href="#") 42 Views
      |
      |
      .col-md-4
        .box-wrap
          .box-content-1
            .box-content-1-type
              a.btn.btn-type-2.text-uppercase(href="#") FINANCE
            a(href="#")
              img.w-100(src="assets/img/home4/asia/asia_14.png", alt="")
          .box-content-1-text
            h4
              a(href="#") Morgan Stanley Bond Traders Top Goldman for First Time Since 2011
            p.metadata
              a(href="#") MONMAG
              span.line-divine |
              a(href="#") June 27, 2017
              span.line-divine |
              a(href="#") 42 Views
      
