// section break-new
section.home4-break
  .container
    .break-all
      .break-wrap
        .box-content-3
          .box-content-3-type
            a.btn.btn-type-2.text-uppercase(href="#") INVESTING 
          img.w-100(src="assets/img/home4/break-new/break_03.png", alt="")
          a(href="#").box-content-3-overlay
          .box-content-3-featured
            h4
              a(href="#") Meet the Comedian Who Trolled Sean Spicer, United Airlines and Pepsi in 1 Meme
            p.metadata 
              a(href="#") MONMAG
              span.line-divine |
              a(href="#") June 27, 2017
              span.line-divine |
              a(href="#") 42 Views
      |
      |
      .break-wrap
        .break-wrap-small
          .box-content-3
            .box-content-3-type
              a.btn.btn-type-2.text-uppercase(href="#") INVESTING 
            img.w-100(src="assets/img/home4/break-new/break_05.png", alt="")
            a(href="#").box-content-3-overlay
            .box-content-3-featured
              h4
                a(href="#") Sony Dominating SensorsUnited Airlines and Pepsi
              p.metadata 
                a(href="#") MONMAG
                span.line-divine |
                a(href="#") June 27, 2017
                span.line-divine |
                a(href="#") 42 Views
          |
          |
          .box-content-3
            .box-content-3-type
              a.btn.btn-type-2.text-uppercase(href="#") POLITICS
            img.w-100(src="assets/img/home4/break-new/break_07.png", alt="")
            a(href="#").box-content-3-overlay
            .box-content-3-featured
              h4
                a(href="#") The Women Who Marched Into History in Capital
              p.metadata 
                a(href="#") MONMAG
                span.line-divine |
                a(href="#") June 27, 2017
                span.line-divine |
                a(href="#") 42 Views
        |
        |
        .break-wrap-small
          .box-content-3
            .box-content-3-type
              a.btn.btn-type-2.text-uppercase(href="#") business
            img.w-100(src="assets/img/home4/break-new/break_11.png", alt="")
            a(href="#").box-content-3-overlay
            .box-content-3-featured
              h4
                a(href="#") Free Trade With South Korea Is Working
              p.metadata 
                a(href="#") MONMAG
                span.line-divine |
                a(href="#") June 27, 2017
                span.line-divine |
                a(href="#") 42 Views
