//section subscribe
section.subscribe.home4-currency
  .subscribe-wrap
    h4.title-line.text-uppercase SUBSCRIBE
    .line-9.Mb40
    |
    |
    .currency-wrap
      table.table.currency-table.text-uppercase.borderless
        thead
          tr
            th Currency 
            |       
            th Price
            |       
            th $Change
        |   
        tbody
          tr
            td Euro
            |       
            td 1.06
            |       
            td +0.0428%
          |     
          tr
            td BRITISH POUND
            |       
            td 1.26
            |       
            td +0.0115%
          |     
          tr
            td JAPANese YEN
            |       
            td 109.02
            |       
            td +0.0482%
          |     
          tr
            td canadian dollar
            |       
            td 0.75
            |       
            td +0.0000%
          |     
          tr
            td chinese yuan
            |       
            td 6.89
            |       
            td +0.0886%
          |     
          tr
            td Brazilian REAL
            |       
            td 3.1080
            |       
            td +0.013%
          |     
          tr
            td Chilean PESO
            |       
            td 648.5600
            |       
            td +0.0000%
          |     
          tr
            td Mexican PESO
            |       
            td 18.6161
            |       
            td +0.144%
