// section gallery
section.home4-gallery
  h4.title-line.text-uppercase GALLERY
  .line-6.Mb40
  |
  |
  //- .carousel-special
  //-   .owl-carousel.owl-theme.carousel-none
  //-     .item
  //-       img(src="assets/img/home4/gallery/gallery_03.png", alt="")
  //-     .item
  //-       img(src="assets/img/home4/gallery/gallery_03.png", alt="")
  //-     .item
  //-       img(src="assets/img/home4/gallery/gallery_03.png", alt="")
  //-     .item
  //-       img(src="assets/img/home4/gallery/gallery_03.png", alt="")
  //-     .item
  //-       img(src="assets/img/home4/gallery/gallery_03.png", alt="")
  //-     .item
  //-       img(src="assets/img/home4/gallery/gallery_03.png", alt="")
  //-     .item
  //-       img(src="assets/img/home4/gallery/gallery_03.png", alt="")
  //-     .item
  //-       img(src="assets/img/home4/gallery/gallery_03.png", alt="")
  //-   |            
  //-   |          
  //-   .owl-carousel.owl-theme.carousel-nav        
      .item  
        a(href="#"): img(src="assets/img/home4/gallery/gallery_05.png", alt="")
      .item 
        a(href="#"): img(src="assets/img/home4/gallery/gallery_08.png", alt="")
      .item 
        a(href="#"): img(src="assets/img/home4/gallery/gallery_10.png", alt="")
      .item 
          a(href="#"): img(src="assets/img/home4/gallery/gallery_12.png", alt="")
      .item 
          a(href="#"): img(src="assets/img/home4/gallery/gallery_14.png", alt="")
      .item 
          a(href="#"): img(src="assets/img/home4/gallery/gallery_16.png", alt="")
      .item 
          a(href="#"): img(src="assets/img/home4/gallery/gallery_18.png", alt="")
      .item 
          a(href="#"): img(src="assets/img/home4/gallery/gallery_20.png", alt="")
  .slider-1
    .wrap-slider
      ul.list-unstyled.gallery-slick
        li: img(src="assets/img/home4/gallery/gallery_03.png", alt="")
        li: img(src="assets/img/home4/gallery/gallery_03.png", alt="")
        li: img(src="assets/img/home4/gallery/gallery_03.png", alt="")
        li: img(src="assets/img/home4/gallery/gallery_03.png", alt="")
        li: img(src="assets/img/home4/gallery/gallery_03.png", alt="")
        li: img(src="assets/img/home4/gallery/gallery_03.png", alt="")
        li: img(src="assets/img/home4/gallery/gallery_03.png", alt="")
    |
    |
    .nav-control
      .gallery-control
        .slide
          img(src="assets/img/home4/gallery/gallery_05.png", alt="")
        .slide
          img(src="assets/img/home4/gallery/gallery_08.png", alt="")
        .slide
          img(src="assets/img/home4/gallery/gallery_10.png", alt="")
        .slide
          img(src="assets/img/home4/gallery/gallery_12.png", alt="")
        .slide
          img(src="assets/img/home4/gallery/gallery_14.png", alt="")
        .slide
          img(src="assets/img/home4/gallery/gallery_16.png", alt="")
        .slide
          img(src="assets/img/home4/gallery/gallery_18.png", alt="")
        .slide
          img(src="assets/img/home4/gallery/gallery_20.png", alt="")
        .slide
          img(src="assets/img/home4/gallery/gallery_20.png", alt="")
        .slide
          img(src="assets/img/home4/gallery/gallery_20.png", alt="")
        .slide
          img(src="assets/img/home4/gallery/gallery_20.png", alt="")
        .slide
          img(src="assets/img/home4/gallery/gallery_20.png", alt="")
    

  //- section.vertical-center-4.slider
  //-   div
  //-     img(src='http://placehold.it/350x100?text=1')
  //-   |               
  //-   div
  //-     img(src='http://placehold.it/350x100?text=2')
  //-   |               
  //-   div
  //-     img(src='http://placehold.it/350x100?text=3')
  //-   |               
  //-   div
  //-     img(src='http://placehold.it/350x100?text=4')
  //-   |               
  //-   div
  //-     img(src='http://placehold.it/350x100?text=5')
  //-   |               
  //-   div
  //-     img(src='http://placehold.it/350x100?text=6')
  //-   |               
  //-   div
  //-     img(src='http://placehold.it/350x100?text=7')
  //-   |               
  //-   div
  //-     img(src='http://placehold.it/350x100?text=8')
  //-   |               
  //-   div
  //-     img(src='http://placehold.it/350x100?text=9')
  //-   |               
  //-   div
  //-     img(src='http://placehold.it/350x100?text=10')
