// section top-global
section.home1-global
  h4.title-line.text-uppercase Top Global News
  .line-6.Mb40
  |
  |
  .owl-carousel.owl-theme.carousel-5.custom-nav-accent2
    .item
      .row.media-6
        .col-md-6
          a(href="#")
            a.btn.btn-type-2.media-type.text-uppercase(href="#") INVESTING
            a(href="#"): img.w-100(src='assets/img/home1/top-global/global_03.png', alt='Generic placeholder image')
                
        .col-md-6   
          .media-body
            a(href="#"): h5.mt-0 Are New Budget Flights Between the U.S. and Europe Really a Bargain?
            p.metadata
              a(href="#") MONMAG
              span.line-divine |
              a(href="#") June 26, 2017
              span.line-divine |
              a(href="#") 92 Views
            .line-7
            p.media-content South Korea’s foreign minister says he's confident that the U.S. will consult Seoul before taking action against North Korea. Satellite imagery analyzed by U.S. researchers shows activity on and ...
      |
      |
      .row
        .col-md-3
          .box-content-5.box-content-6
            .box-content-1
              a(href="#")
                img.w-100(src="assets/img/home4/global/global_06.png", alt="")
            .box-content-1-text
              a(href="#"): h6.text-uppercase COMPANIES
              h4
                a(href="#") The rise and fall of the euro
        |
        |
        .col-md-3
          .box-content-5.box-content-6
            .box-content-1
              a(href="#")
                img.w-100(src="assets/img/home4/global/global_08.png", alt="")
            .box-content-1-text
              a(href="#"): h6.text-uppercase COMPANIES
              h4
                a(href="#") Why Big Oil wants Trump to stay in Paris climate deal
        |
        |
        .col-md-3
          .box-content-5.box-content-6
            .box-content-1
              a(href="#")
                img.w-100(src="assets/img/home4/global/global_10.png", alt="")
            .box-content-1-text
              a(href="#"): h6.text-uppercase COMPANIES
              h4
                a(href="#") India to produce its most expensive film
        |
        |
        .col-md-3
          .box-content-5.box-content-6
            .box-content-1
              a(href="#")
                img.w-100(src="assets/img/home4/global/global_12.png", alt="")
            .box-content-1-text
              a(href="#"): h6.text-uppercase COMPANIES
              h4
                a(href="#") Making three motorbikes a minutegers on
        |
        |
        .col-md-3
          .box-content-5.box-content-6
            .box-content-1
              a(href="#")
                img.w-100(src="assets/img/home4/global/global_18.png", alt="")
            .box-content-1-text
              a(href="#"): h6.text-uppercase COMPANIES
              h4
                a(href="#") Surprise election makes a painful Brexit
        |
        |
        .col-md-3
          .box-content-5.box-content-6
            .box-content-1
              a(href="#")
                img.w-100(src="assets/img/home4/global/global_19.png", alt="")
            .box-content-1-text
              a(href="#"): h6.text-uppercase COMPANIES
              h4
                a(href="#") United Airlines Will Reimburse All Passengers
        |
        |
        .col-md-3
          .box-content-5.box-content-6
            .box-content-1
              a(href="#")
                img.w-100(src="assets/img/home4/global/global_20.png", alt="")
            .box-content-1-text
              a(href="#"): h6.text-uppercase COMPANIES
              h4
                a(href="#") Apple Readies iPhone Overhaul for Smart
        |
        |
        .col-md-3
          .box-content-5.box-content-6
            .box-content-1
              a(href="#")
                img.w-100(src="assets/img/home4/global/global_21.png", alt="")
            .box-content-1-text
              a(href="#"): h6.text-uppercase COMPANIES
              h4
                a(href="#") At Kushners' Manhat tan Tower, Debt Pay
    |
    |
    .item
      .row.media-6
        .col-md-6
          a(href="#")
            a.btn.btn-type-2.media-type.text-uppercase(href="#") INVESTING
            a(href="#"): img.w-100(src='assets/img/home1/top-global/global_03.png', alt='Generic placeholder image')
                
        .col-md-6   
          .media-body
            a(href="#"): h5.mt-0 Are New Budget Flights Between the U.S. and Europe Really a Bargain?
            p.metadata
              a(href="#") MONMAG
              span.line-divine |
              a(href="#") June 26, 2017
              span.line-divine |
              a(href="#") 92 Views
            .line-7
            p.media-content South Korea’s foreign minister says he's confident that the U.S. will consult Seoul before taking action against North Korea. Satellite imagery analyzed by U.S. researchers shows activity on and ...
      |
      |
      .row
        .col-md-3
          .box-content-5.box-content-6
            .box-content-1
              a(href="#")
                img.w-100(src="assets/img/home4/global/global_06.png", alt="")
            .box-content-1-text
              a(href="#"): h6.text-uppercase COMPANIES
              h4
                a(href="#") The rise and fall of the euro
        |
        |
        .col-md-3
          .box-content-5.box-content-6
            .box-content-1
              a(href="#")
                img.w-100(src="assets/img/home4/global/global_08.png", alt="")
            .box-content-1-text
              a(href="#"): h6.text-uppercase COMPANIES
              h4
                a(href="#") Why Big Oil wants Trump to stay in Paris climate deal
        |
        |
        .col-md-3
          .box-content-5.box-content-6
            .box-content-1
              a(href="#")
                img.w-100(src="assets/img/home4/global/global_10.png", alt="")
            .box-content-1-text
              a(href="#"): h6.text-uppercase COMPANIES
              h4
                a(href="#") India to produce its most expensive film
        |
        |
        .col-md-3
          .box-content-5.box-content-6
            .box-content-1
              a(href="#")
                img.w-100(src="assets/img/home4/global/global_12.png", alt="")
            .box-content-1-text
              a(href="#"): h6.text-uppercase COMPANIES
              h4
                a(href="#") Making three motorbikes a minutegers on
        |
        |
        .col-md-3
          .box-content-5.box-content-6
            .box-content-1
              a(href="#")
                img.w-100(src="assets/img/home4/global/global_18.png", alt="")
            .box-content-1-text
              a(href="#"): h6.text-uppercase COMPANIES
              h4
                a(href="#") Surprise election makes a painful Brexit
        |
        |
        .col-md-3
          .box-content-5.box-content-6
            .box-content-1
              a(href="#")
                img.w-100(src="assets/img/home4/global/global_19.png", alt="")
            .box-content-1-text
              a(href="#"): h6.text-uppercase COMPANIES
              h4
                a(href="#") United Airlines Will Reimburse All Passengers
        |
        |
        .col-md-3
          .box-content-5.box-content-6
            .box-content-1
              a(href="#")
                img.w-100(src="assets/img/home4/global/global_20.png", alt="")
            .box-content-1-text
              a(href="#"): h6.text-uppercase COMPANIES
              h4
                a(href="#") Apple Readies iPhone Overhaul for Smart
        |
        |
        .col-md-3
          .box-content-5.box-content-6
            .box-content-1
              a(href="#")
                img.w-100(src="assets/img/home4/global/global_21.png", alt="")
            .box-content-1-text
              a(href="#"): h6.text-uppercase COMPANIES
              h4
                a(href="#") At Kushners' Manhat tan Tower, Debt Pay
      
