// section market
section.home4-market
  h4.title-line.text-uppercase MARKETS
  .line-6.Mb40
  |
  |
  .owl-carousel.owl-theme.carousel-5.custom-nav-accent2
    .item
      .wrap-market.green-market
        .left-market
          img(src="assets/img/home4/arrow-up.png", alt="")
        |
        |
        .middle-market
          span.text-uppercase DOW2
          span 183.00        
        |
        |
        .right-market
          span + 0.23%
          span 20,636.92
      |
      |
      .wrap-market.red-market
        .left-market
          img(src="assets/img/home4/arrow-up.png", alt="")
        |
        |
        .middle-market
          span.text-uppercase NIKK
          span 183.00        
        |
        |
        .right-market
          span + 0.23%
          span 20,636.92
      |
      |
      .wrap-market.green-market
        .left-market
          img(src="assets/img/home4/arrow-up.png", alt="")
        |
        |
        .middle-market
          span.text-uppercase NIKK
          span 183.00        
        |
        |
        .right-market
          span + 0.23%
          span 20,636.92
    |
    |
    .item
      .wrap-market.green-market
        .left-market
          img(src="assets/img/home4/arrow-up.png", alt="")
        |
        |
        .middle-market
          span.text-uppercase DOW2
          span 183.00        
        |
        |
        .right-market
          span + 0.23%
          span 20,636.92
      |
      |
      .wrap-market.red-market
        .left-market
          img(src="assets/img/home4/arrow-up.png", alt="")
        |
        |
        .middle-market
          span.text-uppercase NIKK
          span 183.00        
        |
        |
        .right-market
          span + 0.23%
          span 20,636.92
      |
      |
      .wrap-market.green-market
        .left-market
          img(src="assets/img/home4/arrow-up.png", alt="")
        |
        |
        .middle-market
          span.text-uppercase NIKK
          span 183.00        
        |
        |
        .right-market
          span + 0.23%
          span 20,636.92
    |
    |
    .item
      .wrap-market.green-market
        .left-market
          img(src="assets/img/home4/arrow-up.png", alt="")
        |
        |
        .middle-market
          span.text-uppercase DOW2
          span 183.00        
        |
        |
        .right-market
          span + 0.23%
          span 20,636.92
      |
      |
      .wrap-market.red-market
        .left-market
          img(src="assets/img/home4/arrow-up.png", alt="")
        |
        |
        .middle-market
          span.text-uppercase NIKK
          span 183.00        
        |
        |
        .right-market
          span + 0.23%
          span 20,636.92
      |
      |
      .wrap-market.green-market
        .left-market
          img(src="assets/img/home4/arrow-up.png", alt="")
        |
        |
        .middle-market
          span.text-uppercase NIKK
          span 183.00        
        |
        |
        .right-market
          span + 0.23%
          span 20,636.92
      
