// section news
section.news.news-home2.news-home4
  .container
    .wrap-news
      .news-box
        p.text-uppercase BREAKING NEWS
      |
      |
      .news-slider
        .owl-carousel.owl-theme.carousel-3
          .item
            a(href="#") Talk Resurfaces that Obama is Buying Rancho Mirage Home
          .item
            a(href="#") Talk Resurfaces that Obama is Buying Rancho Mirage Home
          .item
            a(href="#") Talk Resurfaces that Obama is Buying Rancho Mirage Home
          
  
