//section subscribe
section.subscribe.home4-subscribe-small
  .subscribe-wrap
    h4.title-line.text-uppercase SUBSCRIBE
    .line-9.Mb40
    |
    |
    form.subscribe-form
      input.form-control(type="text" placeholder="Enter your email...")
      a.btn.btn-type-2.btn-submit(href="#"): i.fa.fa-envelope-o(aria-hidden='true')
