//section top-read
section.home1-topread.home4-world
  .title-area
    .wrap-title
      h4.title-line.text-uppercase WORLD
      .line-6.Mb40
    |
    |
    nav.navbar-small
      ul.navbar-small-ul.list-unstyled.text-uppercase
        li: a(href="#") ALL
        li: a(href="#") SOFTWARE
        li: a(href="#") OPINION
        li: a(href="#") TREND
        li.nav-item.dropdown
          a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            | more 
          |         
          .dropdown-menu(aria-labelledby='navbarDropdown')
            a.dropdown-item(href='#') Action
            |           
            a.dropdown-item(href='#') Another action
            |           
            a.dropdown-item(href='#') Something else here
  |
  |
  .top-read-wrap
    .row
      .col-md-6
        .box-wrap
          .box-content-1
            .box-content-1-type
              a.btn.btn-type-2.text-uppercase(href="#") COMPANIES
            a(href="#")
              img.w-100(src="assets/img/home4/world/world_03.png", alt="")
          .box-content-1-text
            h4
              a(href="#") Venezuela Lawmakers Ask Wall Street to Stop Aiding Maduro
            p.metadata 
              a(href="#") MONMAG
              span.line-divine |
              a(href="#") June 25, 2017
              span.line-divine |
              a(href="#") 75 Views
          .line-7
          p.top-rate-content From a 30 percent increase in water prices to higher diesel costs to a looming carbon tax. It also signals a pick-up in inflation, an outcome the central bank...
      |
      |
      .col-md-6    
        .media.media-5
          a(href="#"): img.media-object.mr-3(src='assets/img/home4/world/world_05.png', alt='Generic placeholder image')
          |   
          .media-body
            a(href="#"): h6.text-uppercase BUSINESS
            a(href="#"): h5.mt-0 Alcohol Ban Another Drain on India's Weak State Finances
        |
        |
        .media.media-5
          a(href="#"): img.media-object.mr-3(src='assets/img/home4/world/world_08.png', alt='Generic placeholder image')
          |   
          .media-body
            a(href="#"): h6.text-uppercase ENCONOMY
            a(href="#"): h5.mt-0 How May's Brexit Election Could Help Scots Independence
        |
        |
        .media.media-5
          a(href="#"): img.media-object.mr-3(src='assets/img/home4/world/world_10.png', alt='Generic placeholder image')
          |   
          .media-body
            a(href="#"): h6.text-uppercase INVESTING
            a(href="#"): h5.mt-0 Microsoft is killing off passwords
        |
        |
        .media.media-5
          a(href="#"): img.media-object.mr-3(src='assets/img/home4/world/world_13.png', alt='Generic placeholder image')
          |   
          .media-body
            a(href="#"): h6.text-uppercase COMPANIES
            a(href="#"): h5.mt-0 Seven Things You're Doing Wrong at a Steakhouse
        |
        |
        .media.media-5
          a(href="#"): img.media-object.mr-3(src='assets/img/home4/world/world_15.png', alt='Generic placeholder image')
          |   
          .media-body
            a(href="#"): h6.text-uppercase INVESTING
            a(href="#"): h5.mt-0 Exxon, Shell Join Ivanka Trump to Defend Paris Climate Pact
