// section main-content
section.author-list-content
    .author-list-wrap
        .row
            .col-md-5
                a(href="#"): img.w-100(src="assets/img/author-list/author_03.png", alt="")
            |
            |
            .col-md-7
                a(href="#"): h4.text-uppercase Johannes Kepler
                p.author-list-text Unless you're part of one of those couples that say "But we never argue!" (weirdos), arguments in a relationship are an expected part of spending a prolonged period of time with one person.
                span.author-list-contact.text-uppercase CONTACT
                ul.author-list-nav.list-unstyled
                    li
                        img(src="assets/img/author-list/mail-icon.png", alt="")
                        span Johannes@gmai.com
                    li
                        img(src="assets/img/author-list/phone-icon.png", alt="")
                        span 01223 543 533
        .line-1.Mt20
    |
    |
    .author-list-wrap
        .row
            .col-md-5
                a(href="#"): img.w-100(src="assets/img/author-list/author_06.png", alt="")
            |
            |
            .col-md-7
                a(href="#"): h4.text-uppercase Lise Meitner
                p.author-list-text Unless you're part of one of those couples that say "But we never argue!" (weirdos), arguments in a relationship are an expected part of spending a prolonged period of time with one person.
                span.author-list-contact.text-uppercase CONTACT
                ul.author-list-nav.list-unstyled
                    li
                        img(src="assets/img/author-list/mail-icon.png", alt="")
                        span Lisemeitner@gmai.com
                    li
                        img(src="assets/img/author-list/phone-icon.png", alt="")
                        span 01223 543 533
        .line-1.Mt20
    |
    |
    .author-list-wrap
        .row
            .col-md-5
                a(href="#"): img.w-100(src="assets/img/author-list/author_08.png", alt="")
            |
            |
            .col-md-7
                a(href="#"): h4.text-uppercase Shirley Ann Jackson
                p.author-list-text Unless you're part of one of those couples that say "But we never argue!" (weirdos), arguments in a relationship are an expected part of spending a prolonged period of time with one person.
                span.author-list-contact.text-uppercase CONTACT
                ul.author-list-nav.list-unstyled
                    li
                        img(src="assets/img/author-list/mail-icon.png", alt="")
                        span Shirleyjackson@gmai.com
                    li
                        img(src="assets/img/author-list/phone-icon.png", alt="")
                        span 01223 543 533
        .line-1.Mt20
    |
    |
    .author-list-wrap
        .row
            .col-md-5
                a(href="#"): img.w-100(src="assets/img/author-list/author_10.png", alt="")
            |
            |
            .col-md-7
                a(href="#"): h4.text-uppercase Stephen Hawking
                p.author-list-text Unless you're part of one of those couples that say "But we never argue!" (weirdos), arguments in a relationship are an expected part of spending a prolonged period of time with one person.
                span.author-list-contact.text-uppercase CONTACT
                ul.author-list-nav.list-unstyled
                    li
                        img(src="assets/img/author-list/mail-icon.png", alt="")
                        span Stephenhawking@gmai.com
                    li
                        img(src="assets/img/author-list/phone-icon.png", alt="")
                        span 01223 543 533
        .line-1.Mt20
    |
    |
    .author-list-wrap
        .row
            .col-md-5
                a(href="#"): img.w-100(src="assets/img/author-list/author_12.png", alt="")
            |
            |
            .col-md-7
                a(href="#"): h4.text-uppercase Erwin Schroedinger
                p.author-list-text Unless you're part of one of those couples that say "But we never argue!" (weirdos), arguments in a relationship are an expected part of spending a prolonged period of time with one person.
                span.author-list-contact.text-uppercase CONTACT
                ul.author-list-nav.list-unstyled
                    li
                        img(src="assets/img/author-list/mail-icon.png", alt="")
                        span Erwinschroedinger@gmai.com
                    li
                        img(src="assets/img/author-list/phone-icon.png", alt="")
                        span 01223 543 533
        .line-1.Mt20