// section search
section.author-list-search.d-flex
    select.author-select.form-control
        option(data-display='Sorting by') Nothing
        option(value='1') Some option
        option(value='2') Another option
        option(value='3', disabled='') A disabled option
        option(value='4') Potato