.home1-post-slider {
  .box-content-3-featured {
    h4 a {
      font-size: 18px;
      line-height: 34px;
      @include hoverColor($accent-color2);
    }
  }

  .owl-nav [class*='owl-']:hover {
    background: $accent-color2 !important;
  }
}
