include jadefiles/global/head.jade
|
|
body.category1-page.accent-2-scroll
  |
  |
  .home-wrap
    include jadefiles/home1/header.jade
    |
    |
    include jadefiles/category/breadcrumb.jade
    |
    |
    .home-sections
      .container
        .row
          // Primary Column
          .col-12.col-lg-12.col-xl-8.primary-col
            include jadefiles/category/main-content.jade
          |
          |
          // Sidebar Column
          .d-none.d-xl-block.col-md-4.sidebar-col
            include jadefiles/category/ads-1.jade
            |
            |
            .Mb50
            include jadefiles/category/hot-new.jade
            |
            |
            .Mb50
            include jadefiles/category/category-nav.jade
            |
            |
            .Mb50
            include jadefiles/category/recent.jade
            |
            |
            .Mb50
            include jadefiles/home1/post-tag.jade
    
    |
    |
    include jadefiles/home1/subscribe.jade
    |
    |
    footer.footer
      include jadefiles/home1/footer.jade
  |      
  |
  |
  include jadefiles/global/footer.jade
