include jadefiles/global/head.jade
|
|
body.error-page.accent-2-scroll
  |
  |
  .home-wrap
    include jadefiles/home1/header.jade
    |
    |
    .home-sections.Py0
      include jadefiles/error/breadcrumb.jade
      |
      |
      include jadefiles/error/thumb-post.jade
    |
    |
    footer.footer
      include jadefiles/home1/footer.jade
  |      
  |
  |
  include jadefiles/global/footer.jade
