include jadefiles/global/head.jade
|
|
body.home2-page
  |
  |
  .home-wrap
    include jadefiles/home2/header.jade
    |
    |
    include jadefiles/home2/carousel.jade
    |
    |
    include jadefiles/home2/news.jade
    |
    |
    .home-sections
      .container
        .row
          // Primary Column
          .col-12.col-lg-12.col-xl-8.primary-col
            include jadefiles/home2/featured.jade
          |
          |
          // Sidebar Column
          .d-none.d-xl-block.col-md-4.sidebar-col
            include jadefiles/home2/connected.jade
            .Mb50
            |
            |
            include jadefiles/home2/latest.jade
          |
          |
          .col-md-12
            include jadefiles/home2/ads.jade
          |
          |
          .col-md-12
            include jadefiles/home2/top-rate.jade
          |
          |
          |
          |
          // Primary Column
          .col-12.col-lg-12.col-xl-8.primary-col.My50
            include jadefiles/home2/movie.jade
            |
            |
            include jadefiles/home2/hotgraphies-modern.jade
          |
          |
          // Sidebar Column
          .d-none.d-xl-block.col-md-4.sidebar-col.My50
            include jadefiles/home2/article.jade
            |
            |
            include jadefiles/home2/ads-1.jade
      |
      |
      include jadefiles/home2/video.jade
      |
      |
      include jadefiles/home2/star-new.jade
      |
      |
      .container
        .row
          // Primary Column
          .col-12.col-lg-12.col-xl-8.primary-col.My50
            include jadefiles/home2/latest-article.jade
          |
          |
          // Sidebar Column
          .d-none.d-xl-block.col-md-4.sidebar-col.My50
            include jadefiles/home2/ads-2.jade
            |
            |
            include jadefiles/home2/subscribe.jade
            |
            |
            include jadefiles/home2/post-tag.jade
    |
    |
    footer.footer
      include jadefiles/footer.jade
    
  |        
  |
  |      
  |
  |
  include jadefiles/global/footer.jade
