{
  "name": "Magazine",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "index.jade",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "assets/css/main.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"expanded\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "assets",
      "assets/css",
      "jadefiles",
      "assets/js"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "home2.jade",
      "imports": [
        "jadefiles/global/head.jade",
        "jadefiles/home2/header.jade",
        "jadefiles/home2/carousel.jade",
        "jadefiles/home2/news.jade",
        "jadefiles/home2/featured.jade",
        "jadefiles/home2/connected.jade",
        "jadefiles/home2/latest.jade",
        "jadefiles/home2/ads.jade",
        "jadefiles/home2/top-rate.jade",
        "jadefiles/home2/movie.jade",
        "jadefiles/home2/hotgraphies-modern.jade",
        "jadefiles/home2/article.jade",
        "jadefiles/home2/ads-1.jade",
        "jadefiles/home2/video.jade",
        "jadefiles/home2/star-new.jade",
        "jadefiles/home2/latest-article.jade",
        "jadefiles/home2/ads-2.jade",
        "jadefiles/home2/subscribe.jade",
        "jadefiles/home2/post-tag.jade",
        "jadefiles/footer.jade",
        "jadefiles/global/footer.jade"
      ]
    },
    {
      "path": "assets/css/main.scss",
      "imports": [
        "assets/css/0-tools/bootstrap/bootstrap.min.css",
        "assets/css/0-tools/bootstrap-select/select2.min.css",
        "assets/css/0-tools/nice-select/nice-select.css",
        "assets/css/0-tools/chosen-js/chosen.min.css",
        "assets/css/0-tools/font-awesome/css/font-awesome.min.css",
        "assets/css/0-tools/animate.css",
        "assets/css/0-tools/owl-carousel/owl.carousel.min.css",
        "assets/css/0-tools/owl-carousel/owl.theme.default.css",
        "assets/css/0-tools/slick/slick.css",
        "assets/css/0-tools/slick/slick-theme.css",
        "assets/css/0-tools/lightbox/magnific-popup.css",
        "assets/css/0-tools/hover-direction/style.css",
        "assets/css/1-base/_vars.scss",
        "assets/css/1-base/_mixin.scss",
        "assets/css/1-base/_base.scss",
        "assets/css/1-base/_global-css.scss",
        "assets/css/2-modules/_nice-select-filter.scss",
        "assets/css/2-modules/_select.scss",
        "assets/css/2-modules/_button.scss",
        "assets/css/2-modules/_pagination.scss",
        "assets/css/2-modules/_box-content.scss",
        "assets/css/2-modules/_custom-nav.scss",
        "assets/css/2-modules/_custom-media.scss",
        "assets/css/2-modules/_connected.scss",
        "assets/css/2-modules/_title-area.scss",
        "assets/css/2-modules/_subscribe.scss",
        "assets/css/2-modules/_social.scss",
        "assets/css/2-modules/_special-slider.scss",
        "assets/css/2-modules/_category-nav.scss",
        "assets/css/2-modules/_breadcrumb.scss",
        "assets/css/2-modules/_footer.scss",
        "assets/css/3-layout/home2/_header.scss",
        "assets/css/3-layout/home2/_carousel.scss",
        "assets/css/3-layout/home2/_news.scss",
        "assets/css/3-layout/home2/_featured.scss",
        "assets/css/3-layout/home2/_ads.scss",
        "assets/css/3-layout/home2/_ads-1.scss",
        "assets/css/3-layout/home2/_top-rate.scss",
        "assets/css/3-layout/home2/_movie.scss",
        "assets/css/3-layout/home2/_hotgraphies-modern.scss",
        "assets/css/3-layout/home2/_article.scss",
        "assets/css/3-layout/home2/_video.scss",
        "assets/css/3-layout/home2/_subscribe.scss",
        "assets/css/3-layout/home2/_latest-article.scss",
        "assets/css/3-layout/home3/_header.scss",
        "assets/css/3-layout/home3/_thumb.scss",
        "assets/css/3-layout/home3/_health.scss",
        "assets/css/3-layout/home3/_watch.scss",
        "assets/css/3-layout/home3/_break.scss",
        "assets/css/3-layout/home3/_featured.scss",
        "assets/css/3-layout/home3/_hot.scss",
        "assets/css/3-layout/home3/_subscribe.scss",
        "assets/css/3-layout/home3/_tech.scss",
        "assets/css/3-layout/home1/_header.scss",
        "assets/css/3-layout/home1/_slider.scss",
        "assets/css/3-layout/home1/_top-new.scss",
        "assets/css/3-layout/home1/_top-read.scss",
        "assets/css/3-layout/home1/_connected.scss",
        "assets/css/3-layout/home1/_must-read.scss",
        "assets/css/3-layout/home1/_top-global.scss",
        "assets/css/3-layout/home1/_watch.scss",
        "assets/css/3-layout/home1/_people.scss",
        "assets/css/3-layout/home1/_trending.scss",
        "assets/css/3-layout/home1/_hot-new.scss",
        "assets/css/3-layout/home1/_post-slider.scss",
        "assets/css/3-layout/home1/_latest.scss",
        "assets/css/3-layout/home1/_post-tag.scss",
        "assets/css/3-layout/home1/_footer.scss",
        "assets/css/3-layout/home4/_header.scss",
        "assets/css/3-layout/home4/_break-new.scss",
        "assets/css/3-layout/home4/_news.scss",
        "assets/css/3-layout/home4/_world.scss",
        "assets/css/3-layout/home4/_watch.scss",
        "assets/css/3-layout/home4/_asia.scss",
        "assets/css/3-layout/home4/_top-new.scss",
        "assets/css/3-layout/home4/_tech.scss",
        "assets/css/3-layout/home4/_investing.scss",
        "assets/css/3-layout/home4/_latest.scss",
        "assets/css/3-layout/home4/_subscribe-small.scss",
        "assets/css/3-layout/home4/_article.scss",
        "assets/css/3-layout/home4/_market.scss",
        "assets/css/3-layout/home4/_currency.scss",
        "assets/css/3-layout/home5/_header.scss",
        "assets/css/3-layout/home5/_video-list.scss",
        "assets/css/3-layout/home5/_today.scss",
        "assets/css/3-layout/home5/_most-view.scss",
        "assets/css/3-layout/home5/_destination.scss",
        "assets/css/3-layout/home5/_connected.scss",
        "assets/css/3-layout/home5/_popular.scss",
        "assets/css/3-layout/home5/_playlist.scss",
        "assets/css/3-layout/home5/_movie.scss",
        "assets/css/3-layout/home5/_last-video.scss",
        "assets/css/3-layout/home5/_post-slider.scss",
        "assets/css/3-layout/home5/_hot-new.scss",
        "assets/css/3-layout/home5/_ad-content.scss",
        "assets/css/3-layout/home5/_footer.scss",
        "assets/css/3-layout/category/_main-content.scss",
        "assets/css/3-layout/category3/_main-content.scss",
        "assets/css/3-layout/category6/_main-content.scss",
        "assets/css/3-layout/category8/_main-content.scss",
        "assets/css/3-layout/author-list/_main-content.scss"
      ]
    },
    {
      "path": "home3.jade",
      "imports": [
        "jadefiles/global/head.jade",
        "jadefiles/home3/header.jade",
        "jadefiles/home3/thumb-news.jade",
        "jadefiles/home3/health.jade",
        "jadefiles/home3/ads-1.jade",
        "jadefiles/home3/connected.jade",
        "jadefiles/home3/ads.jade",
        "jadefiles/home3/watch.jade",
        "jadefiles/home3/tech.jade",
        "jadefiles/home3/break.jade",
        "jadefiles/home3/featured.jade",
        "jadefiles/home3/hot.jade",
        "jadefiles/home3/ads-2.jade",
        "jadefiles/home3/investing.jade",
        "jadefiles/home3/bussiness.jade",
        "jadefiles/home3/latest.jade",
        "jadefiles/home3/post-tag.jade",
        "jadefiles/home3/subscribe.jade",
        "jadefiles/home3/footer.jade",
        "jadefiles/global/footer.jade"
      ]
    },
    {
      "path": "home1.jade",
      "imports": [
        "jadefiles/global/head.jade",
        "jadefiles/home1/header.jade",
        "jadefiles/home1/slider.jade",
        "jadefiles/home1/ads.jade",
        "jadefiles/home1/top-new.jade",
        "jadefiles/home1/top-read.jade",
        "jadefiles/home1/top-global.jade",
        "jadefiles/home1/connected.jade",
        "jadefiles/home1/must-read.jade",
        "jadefiles/home1/watch.jade",
        "jadefiles/home1/people.jade",
        "jadefiles/home1/trending.jade",
        "jadefiles/home1/hot-new.jade",
        "jadefiles/home1/post-slider.jade",
        "jadefiles/home1/latest.jade",
        "jadefiles/home1/post-tag.jade",
        "jadefiles/home1/subscribe.jade",
        "jadefiles/home1/footer.jade",
        "jadefiles/global/footer.jade"
      ]
    },
    {
      "path": "index.jade",
      "imports": [
        "jadefiles/global/head.jade",
        "jadefiles/global/footer.jade"
      ]
    },
    {
      "path": "home4.jade",
      "imports": [
        "jadefiles/global/head.jade",
        "jadefiles/home4/header.jade",
        "jadefiles/home4/break-new.jade",
        "jadefiles/home4/news.jade",
        "jadefiles/home4/global.jade",
        "jadefiles/home4/world.jade",
        "jadefiles/home4/watch.jade",
        "jadefiles/home4/market.jade",
        "jadefiles/home4/ads-2.jade",
        "jadefiles/home4/new-business.jade",
        "jadefiles/home4/asia.jade",
        "jadefiles/home4/top-new.jade",
        "jadefiles/home4/gallery.jade",
        "jadefiles/home4/article.jade",
        "jadefiles/home4/currency.jade",
        "jadefiles/home4/investing.jade",
        "jadefiles/home4/tech.jade",
        "jadefiles/home4/latest.jade",
        "jadefiles/home1/connected.jade",
        "jadefiles/home4/subscribe-small.jade",
        "jadefiles/home1/footer.jade",
        "jadefiles/global/footer.jade"
      ]
    },
    {
      "path": "home5.jade",
      "imports": [
        "jadefiles/global/head.jade",
        "jadefiles/home5/header.jade",
        "jadefiles/home5/video-list.jade",
        "jadefiles/home5/today.jade",
        "jadefiles/home5/most-view.jade",
        "jadefiles/home5/connected.jade",
        "jadefiles/home5/popular.jade",
        "jadefiles/home5/destination.jade",
        "jadefiles/home5/playlist.jade",
        "jadefiles/home5/movie.jade",
        "jadefiles/home5/music.jade",
        "jadefiles/home5/last-video.jade",
        "jadefiles/home5/post-slider.jade",
        "jadefiles/home5/hot-new.jade",
        "jadefiles/home5/ads.jade",
        "jadefiles/home5/ad-content.jade",
        "jadefiles/home5/subscribe.jade",
        "jadefiles/home5/footer.jade",
        "jadefiles/global/footer.jade"
      ]
    },
    {
      "path": "category1.jade",
      "imports": [
        "jadefiles/global/head.jade",
        "jadefiles/home1/header.jade",
        "jadefiles/category/breadcrumb.jade",
        "jadefiles/category/main-content.jade",
        "jadefiles/category/ads-1.jade",
        "jadefiles/category/hot-new.jade",
        "jadefiles/category/category-nav.jade",
        "jadefiles/category/recent.jade",
        "jadefiles/home1/post-tag.jade",
        "jadefiles/home1/subscribe.jade",
        "jadefiles/home1/footer.jade",
        "jadefiles/global/footer.jade"
      ]
    },
    {
      "path": "category2.jade",
      "imports": [
        "jadefiles/global/head.jade",
        "jadefiles/home1/header.jade",
        "jadefiles/category/breadcrumb.jade",
        "jadefiles/category/ads-1.jade",
        "jadefiles/category/hot-new.jade",
        "jadefiles/category/category-nav.jade",
        "jadefiles/category/recent.jade",
        "jadefiles/home1/post-tag.jade",
        "jadefiles/category/main-content.jade",
        "jadefiles/home1/subscribe.jade",
        "jadefiles/home1/footer.jade",
        "jadefiles/global/footer.jade"
      ]
    },
    {
      "path": "category3.jade",
      "imports": [
        "jadefiles/global/head.jade",
        "jadefiles/home1/header.jade",
        "jadefiles/category/breadcrumb.jade",
        "jadefiles/category/ads-1.jade",
        "jadefiles/category/hot-new.jade",
        "jadefiles/category/category-nav.jade",
        "jadefiles/category/recent.jade",
        "jadefiles/home1/post-tag.jade",
        "jadefiles/category3/main-content.jade",
        "jadefiles/home1/subscribe.jade",
        "jadefiles/home1/footer.jade",
        "jadefiles/global/footer.jade"
      ]
    },
    {
      "path": "category4.jade",
      "imports": [
        "jadefiles/global/head.jade",
        "jadefiles/home1/header.jade",
        "jadefiles/category/breadcrumb.jade",
        "jadefiles/category3/main-content.jade",
        "jadefiles/category/ads-1.jade",
        "jadefiles/category/hot-new.jade",
        "jadefiles/category/category-nav.jade",
        "jadefiles/category/recent.jade",
        "jadefiles/home1/post-tag.jade",
        "jadefiles/home1/subscribe.jade",
        "jadefiles/home1/footer.jade",
        "jadefiles/global/footer.jade"
      ]
    },
    {
      "path": "category5.jade",
      "imports": [
        "jadefiles/global/head.jade",
        "jadefiles/home1/header.jade",
        "jadefiles/category/breadcrumb.jade",
        "jadefiles/category5/main-content.jade",
        "jadefiles/home1/subscribe.jade",
        "jadefiles/home1/footer.jade",
        "jadefiles/global/footer.jade"
      ]
    },
    {
      "path": "category6.jade",
      "imports": [
        "jadefiles/global/head.jade",
        "jadefiles/home1/header.jade",
        "jadefiles/category/breadcrumb.jade",
        "jadefiles/category6/main-content.jade",
        "jadefiles/home1/subscribe.jade",
        "jadefiles/home1/footer.jade",
        "jadefiles/global/footer.jade"
      ]
    },
    {
      "path": "category7.jade",
      "imports": [
        "jadefiles/global/head.jade",
        "jadefiles/home1/header.jade",
        "jadefiles/category/breadcrumb.jade",
        "jadefiles/category7/main-content.jade",
        "jadefiles/home1/subscribe.jade",
        "jadefiles/home1/footer.jade",
        "jadefiles/global/footer.jade"
      ]
    },
    {
      "path": "category8.jade",
      "imports": [
        "jadefiles/global/head.jade",
        "jadefiles/home1/header.jade",
        "jadefiles/category/breadcrumb.jade",
        "jadefiles/category8/main-content.jade",
        "jadefiles/category/ads-1.jade",
        "jadefiles/category/hot-new.jade",
        "jadefiles/category/category-nav.jade",
        "jadefiles/category/recent.jade",
        "jadefiles/home1/post-tag.jade",
        "jadefiles/home1/subscribe.jade",
        "jadefiles/home1/footer.jade",
        "jadefiles/global/footer.jade"
      ]
    },
    {
      "path": "category9.jade",
      "imports": [
        "jadefiles/global/head.jade",
        "jadefiles/home1/header.jade",
        "jadefiles/category/breadcrumb.jade",
        "jadefiles/category/ads-1.jade",
        "jadefiles/category/hot-new.jade",
        "jadefiles/category/category-nav.jade",
        "jadefiles/category/recent.jade",
        "jadefiles/home1/post-tag.jade",
        "jadefiles/category9/main-content.jade",
        "jadefiles/home1/subscribe.jade",
        "jadefiles/home1/footer.jade",
        "jadefiles/global/footer.jade"
      ]
    },
    {
      "path": "author-list.jade",
      "imports": [
        "jadefiles/global/head.jade",
        "jadefiles/home1/header.jade",
        "jadefiles/author-list/breadcrumb.jade",
        "jadefiles/author-list/main-content.jade",
        "jadefiles/author-list/search.jade",
        "jadefiles/category/ads-1.jade",
        "jadefiles/category/hot-new.jade",
        "jadefiles/category/recent.jade",
        "jadefiles/home1/post-tag.jade",
        "jadefiles/home1/subscribe.jade",
        "jadefiles/home1/footer.jade",
        "jadefiles/global/footer.jade"
      ]
    },
    {
      "path": "author-detail.jade",
      "imports": [
        "jadefiles/global/head.jade",
        "jadefiles/home1/header.jade",
        "jadefiles/author-detail/breadcrumb.jade",
        "jadefiles/author-detail/main-content.jade",
        "jadefiles/category/ads-1.jade",
        "jadefiles/category/hot-new.jade",
        "jadefiles/category/recent.jade",
        "jadefiles/home1/post-tag.jade",
        "jadefiles/home1/subscribe.jade",
        "jadefiles/home1/footer.jade",
        "jadefiles/global/footer.jade"
      ]
    }
  ],
  "projectView": {
    "selectedView": "log"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7893,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": false,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": false,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "bracketize": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}