include jadefiles/global/head.jade
|
|
body.single-post7-page.accent-2-scroll
  |
  |
  .home-wrap
    include jadefiles/home1/header.jade
    |
    |
    include jadefiles/single-post1/breadcrumb.jade
    |
    |
    .home-sections
      .container
        .row
          .col-md-12
            include jadefiles/single-post7/main-content.jade
    |
    |
    include jadefiles/home1/subscribe.jade
    |
    |
    footer.footer
      include jadefiles/home1/footer.jade
  |      
  |
  |
  include jadefiles/global/footer.jade
