include jadefiles/global/head.jade
|
|
body.single-post2-page.accent-2-scroll
  |
  |
  .home-wrap
    include jadefiles/home1/header.jade
    |
    |
    .home-sections.Pt0
      include jadefiles/single-post2/breadcrumb.jade
      |
      |
      include jadefiles/single-post2/thumb-post.jade
      .Mb50
      |
      |
      .container
        .row
          .col-md-12
            include jadefiles/single-post2/main-content.jade
    |
    |
    include jadefiles/home1/subscribe.jade
    |
    |
    footer.footer
      include jadefiles/home1/footer.jade
  |      
  |
  |
  include jadefiles/global/footer.jade
