.home5-movie {
    .box-content-video-2 {
        h5 {
            font-size: 24px;
            line-height: 28px;
            @include hoverColor($accent-color3);
        }
    }

    .right-movie {
        .box-content-video-2 {
            margin-bottom: 25px;

            h5 {
                font-size: 14px;
                font-weight: 700;
                line-height: 24px;
            }
        }
    }
}