.home5-video-list {
    padding-top: 20PX;
    
    .box-content-video-1 {
        .box-content-3-featured {
            padding: 10px 20px;
            h4 a {
                @include hoverColor($accent-color3);
            }
        }
    }

    .right-video-list {
       .box-content-video-1 {
           margin-bottom: 30px;

           .box-content-3-featured {
               h4 a {
                   font-size: 14px;
                   line-height: 24px;
               }
           }
       }
    }
}