// section thumb-post
section.error-thumb-post
    img.w-100(src="assets/img/404.png", alt="")
    |
    |
    .error-wrap.text-uppercase
        h2 OOPS!
        h3 THE PAGE YOU were looking for dosen’t exist
        a.btn.btn-accent-2(href="#") BACK HOME
