// section single-post-content
section.single-post1-content.single-post3-content.single-video1-content
    h3.title Ryan Reynolds Gushes Over Blake Lively at Met Gala: ‘She’s Made Me a More Empathetic Person’
    .wrap-meta
        p.metadata
            a(href="#") BUSINESS
            span.line-divine |
            a(href="#") BY JOHANNES KEPLER 
            span.line-divine |
            a(href="#") June 14, 2017
        |
        |
        p.metadata
            a(href="#")
                img(src="assets/img/comment-icon.png", alt="")
                |  09
            span.line-divine |
            a(href="#")
                img(src="assets/img/view-icon.png", alt="")
                |  200
    |
    |
    .wrap-share
        span 
            i.fa.fa-share-alt(aria-hidden='true')
            | Share
        span
            a.btn.btn-social.btn-fb(href="#"): i.fa.fa-facebook(aria-hidden='true')
            a.btn.btn-social.btn-twitter(href="#"): i.fa.fa-twitter(aria-hidden='true')
            a.btn.btn-social.btn-google(href="#"): i.fa.fa-google-plus(aria-hidden='true')
    |
    |
    .wrap-content
        p If you have enough money in a savings account, it can be possible to live off the interest. Here's how to determine how much you would need in the bank to do this, how much you can expect to save at your current rate, and another way of building a million-dollar nest egg that could be a better idea.
    |
    |
    .show-less
        a(href="#").text-uppercase SHOW LESS
    |
    |
    .wrap-tag
        p
            span 
                i.fa.fa-tags(aria-hidden='true')
                | Tags:
                a(href="#") Business,
                a(href="#") hot,
                a(href="#") Finance
    |
    |
    .owl-carousel.owl-theme.carousel-5.post-carousel.post-nav
        .item
            .wrap-post
                .media.media-5
                    .media-body
                        a(href="#"): h6.text-uppercase READ PREVIOUS
                        a(href="#"): h5.mt-0 16 high-paying jobs that saw some of the biggest pay raises
                    a(href="#"): img.media-object.mr-3(src='assets/img/single-post/carousel_03.png', alt='Generic placeholder image')
                    |   
                    
                |
                |
                .media.media-5
                    a(href="#"): img.media-object.mr-3(src='assets/img/single-post/carousel_05.png', alt='Generic placeholder image')
                    |   
                    .media-body
                        a(href="#"): h6.text-uppercase READ NEXT
                        a(href="#"): h5.mt-0 The Kushners, the Saudis and Blackstone: Behind the Recent Deals
        |
        |
        .item
            .wrap-post
                .media.media-5
                    .media-body
                        a(href="#"): h6.text-uppercase READ PREVIOUS
                        a(href="#"): h5.mt-0 16 high-paying jobs that saw some of the biggest pay raises
                    a(href="#"): img.media-object.mr-3(src='assets/img/single-post/carousel_03.png', alt='Generic placeholder image')
                    |   
                    
                |
                |
                .media.media-5
                    a(href="#"): img.media-object.mr-3(src='assets/img/single-post/carousel_05.png', alt='Generic placeholder image')
                    |   
                    .media-body
                        a(href="#"): h6.text-uppercase READ NEXT
                        a(href="#"): h5.mt-0 The Kushners, the Saudis and Blackstone: Behind the Recent Deals
        |
        |
        .item
            .wrap-post
                .media.media-5
                    .media-body
                        a(href="#"): h6.text-uppercase READ PREVIOUS
                        a(href="#"): h5.mt-0 16 high-paying jobs that saw some of the biggest pay raises
                    a(href="#"): img.media-object.mr-3(src='assets/img/single-post/carousel_03.png', alt='Generic placeholder image')
                    |   
                    
                |
                |
                .media.media-5
                    a(href="#"): img.media-object.mr-3(src='assets/img/single-post/carousel_05.png', alt='Generic placeholder image')
                    |   
                    .media-body
                        a(href="#"): h6.text-uppercase READ NEXT
                        a(href="#"): h5.mt-0 The Kushners, the Saudis and Blackstone: Behind the Recent Deals
    |
    |
    .comment-area
        h4.title-line.Mb40.text-uppercase COMMENT 
            span.text-color1 (3)
        |
        |
        .media.media-comment
            img.media-avatar.mr-3(src='assets/img/single-post/avatar_07.png', alt='Generic placeholder image')
            |   
            .media-body
                h5.mt-0 Andrea Anderson
                span.media-date Posted at 15:35 06 July 2017
                p.media-text For me, it all comes down to better listening skills, which start with asking better questions. Open-ended questions about customers' likes, dislikes, and especially customers' feelings related to our products, are the things most likely to tell us how we're doing relative to out comes and not simply output.
                a.btn-reply.text-uppercase(href="#") reply
                |
                |
                .media
                    .line-8.line-transform
                    img.media-avatar.mr-3(src='assets/img/single-post/avatar_03.png', alt='Generic placeholder image')
                    |   
                    .media-body
                        h5.mt-0 Christian Clark
                        span.media-date Posted at 15:35 06 July 2017
                        p.media-text For me, it all comes down to better listening skills, which start with asking better questions. Open-ended questions about customers' likes, dislikes, and especially customers' feelings related to our products, are the things most likely to tell us how we're doing relative to out comes and not simply output.
                        a.btn-reply.text-uppercase(href="#") reply
        |
        |
        .media.media-comment
            img.media-avatar.mr-3(src='assets/img/single-post/avatar_10.png', alt='Generic placeholder image')
            |   
            .media-body
                h5.mt-0 Andrea Anderson
                span.media-date Posted at 15:35 06 July 2017
                p.media-text For me, it all comes down to better listening skills, which start with asking better questions. Open-ended questions about customers' likes, dislikes, and especially customers' feelings related to our products, are the things most likely to tell us how we're doing relative to out comes and not simply output.
                a.btn-reply.text-uppercase(href="#") reply
        |
        |
        .media.media-comment
            img.media-avatar.mr-3(src='assets/img/single-post/avatar_11.png', alt='Generic placeholder image')
            |   
            .media-body
                h5.mt-0 Elizabeth Blackburn
                span.media-date Posted at 15:35 06 July 2017
                p.media-text Character cannot be developed in ease and quiet. Only through experience of trial and suffering can the soul Making up names all the time is tedious, and finding a good list to use (Presidents, cartoon characters, Facebook friends) can be difficult. 
                a.btn-reply.text-uppercase(href="#") reply
    |
    |
    .write-comment
        h4.title-line.Mb40.text-uppercase WRITE A COMMENT
        |
        |
        .row
            .col-md-4
                .form-group
                    input.form-control(type="text" placeholder="Your name...")
                .form-group
                    input.form-control(type="email" placeholder="Your email...")
            |
            |
            .col-md-8
                .form-group
                    textarea.form-control(placeholder="Write comment...")
            |
            |
            .col-md-12
              a.btn.btn-accent-2.text-uppercase(href="#") post comment
            
                
        
        
        
