// section thumb-post
section.single-video2-thumb-post
    .container
        iframe.post-video(width='560', height='515', src='https://www.youtube.com/embed/4mNN7cHW-p8', frameborder='0', allowfullscreen='')
