/**** Button ****/
.btn-type {
  color: $white-color;
  font-size: 10px;
  background: $accent-color;
  padding: 10px 40px;
  border-radius: 0;
  width: 65px;
  // height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    color: $white-color;
    background: darken($accent-color, 10%);
  }
}

.btn-type-1 {
  @extend .btn-type;
  background: $accent-color1;

  &:hover {
    background: darken($accent-color1, 10%);
  }
}

.btn-type-2 {
  @extend .btn-type;
  background: $accent-color2;

  &:hover {
    background: darken($accent-color2, 10%);
  }
}

.btn-tag {
  font-size: 14px;
  font-weight: 500;
  color: $text-color;
  border-radius: 0 !important;
  margin-bottom: 10px;
  background: $tag-bg;
  margin-right: 10px;
  padding: 10px 15px;

  &:hover {
    color: $white-color;
    background: $accent-color;
  }
}

.btn-tag-2 {
  font-size: 14px;
  font-weight: 500;
  color: $text-color;
  border-radius: 0 !important;
  margin-bottom: 10px;
  background: $tag-bg;
  margin-right: 10px;
  padding: 10px 15px;

  &:hover {
    color: $white-color;
    background: $accent-color2;
  }
}

.btn-accent-1 {
  background: $accent-color1;
  border-radius: 0;
  color: $white-color;
  font-size: 10px;
  line-height: 24px;
  padding: 5px 15px;
  margin-bottom: 20px;

  &:hover {
    color: $white-color;
    background: darken($accent-color1, 10%);
  }
}

.btn-accent-2 {
  @extend .btn-accent-1;
  background: $accent-color2;

  &:hover {
    color: $white-color;
    background: darken($accent-color2, 10%);
  }
}
