.connected {
  .wrap-connected {
    display: flex;
    justify-content: space-between;
  }

  .social-box {
    background: $social-bg;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 27px;
    transition: all .2s ease-in-out;

    &:hover {
      background: $accent-color;
    }

    &:last-child {
      margin-right: 0;
    }

    a {
      color: $white-color;
      font-size: 24px;
    }
  }
}

.home3-connected {
  .social-box:hover {
    background: $accent-color1;
  }
}
