.custom-nav {
  .owl-nav {
    position: absolute;
    top: -77px;
    right: 0;
    margin: 0;
  }

  .owl-prev, .owl-next {
    margin: 0 !important;
    width: 30px;
    height: 30px;
    border-radius: 0 !important;
  }

  .owl-prev {
    margin-right: 5px !important;
  }

  .owl-nav [class*='owl-']:hover {
    background: $accent-color !important;
  }
}
