@media (max-width: 992px) {
  .playlist-video-thumb-post {
    .wrap-video-list {
      .media {
        flex-direction: column;

        img {
          margin-bottom: 10px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .playlist-video-thumb-post {
    .post-video-1 {
      height: 35vh;
    }

    .wrap-video-list {
      margin-top: 20px;

      .media {
        img {
          width: auto !important;
        }
      }
    }
  }
}
