// section ad-content
section.home5-ad-content.single-video1-adcontent
    h4.title-line.text-uppercase AD CONTENT
    .line-6.Mb40
    |
    |
    .owl-carousel.owl-theme.carousel-adcontent.custom-nav
        .item
            .box-1-wrap
                .box-content-1
                    a(href="#")
                        img.w-100(src="assets/img/home5/ad-content/ad-content_03.png", alt="")
                    .box-content-1-text
                        h4
                            a(href="#") Just "happy wife, happy life."
                        p.metadata 
                            a(href="#") June 27, 2017
                            span.line-divine |
                            a(href="#") 42 Views
        |
        |
        .item
            .box-1-wrap
                .box-content-1
                    a(href="#")
                        img.w-100(src="assets/img/home5/ad-content/ad-content_05.png", alt="")
                    .box-content-1-text
                        h4
                            a(href="#") Germany eyes new North Korea
                        p.metadata 
                            a(href="#") June 27, 2017
                            span.line-divine |
                            a(href="#") 42 Views
        |
        |
        .item
            .box-1-wrap
                .box-content-1
                    a(href="#")
                        img.w-100(src="assets/img/home5/ad-content/ad-content_07.png", alt="")
                    .box-content-1-text
                        h4
                            a(href="#") Germany eyes new North Korea
                        p.metadata 
                            a(href="#") June 27, 2017
                            span.line-divine |
                            a(href="#") 42 Views
        |
        |
        .item
            .box-1-wrap
                .box-content-1
                    a(href="#")
                        img.w-100(src="assets/img/home5/ad-content/ad-content_09.png", alt="")
                    .box-content-1-text
                        h4
                            a(href="#") Uninhabited island is the most polluted in
                        p.metadata 
                            a(href="#") June 27, 2017
                            span.line-divine |
                            a(href="#") 42 Views
        |
        |
        .item
            .box-1-wrap
                .box-content-1
                    a(href="#")
                        img.w-100(src="assets/img/home5/ad-content/ad-content_11.png", alt="")
                    .box-content-1-text
                        h4
                            a(href="#") Summer Picnic Tips For Your Trip
                        p.metadata 
                            a(href="#") June 27, 2017
                            span.line-divine |
                            a(href="#") 42 Views
        |
        |
        .item
            .box-1-wrap
                .box-content-1
                    a(href="#")
                        img.w-100(src="assets/img/home5/ad-content/ad-content_13.png", alt="")
                    .box-content-1-text
                        h4
                            a(href="#") Germany eyes new North Korea
                        p.metadata 
                            a(href="#") June 27, 2017
                            span.line-divine |
                            a(href="#") 42 Views
        |
        |
        .item
            .box-1-wrap
                .box-content-1
                    a(href="#")
                        img.w-100(src="assets/img/home5/ad-content/ad-content_03.png", alt="")
                    .box-content-1-text
                        h4
                            a(href="#") Just "happy wife, happy life."
                        p.metadata 
                            a(href="#") June 27, 2017
                            span.line-divine |
                            a(href="#") 42 Views
        |
        |
        .item
            .box-1-wrap
                .box-content-1
                    a(href="#")
                        img.w-100(src="assets/img/home5/ad-content/ad-content_05.png", alt="")
                    .box-content-1-text
                        h4
                            a(href="#") Germany eyes new North Korea
                        p.metadata 
                            a(href="#") June 27, 2017
                            span.line-divine |
                            a(href="#") 42 Views
        |
        |
        .item
            .box-1-wrap
                .box-content-1
                    a(href="#")
                        img.w-100(src="assets/img/home5/ad-content/ad-content_07.png", alt="")
                    .box-content-1-text
                        h4
                            a(href="#") Germany eyes new North Korea
                        p.metadata 
                            a(href="#") June 27, 2017
                            span.line-divine |
                            a(href="#") 42 Views
        |
        |
        .item
            .box-1-wrap
                .box-content-1
                    a(href="#")
                        img.w-100(src="assets/img/home5/ad-content/ad-content_09.png", alt="")
                    .box-content-1-text
                        h4
                            a(href="#") Uninhabited island is the most polluted in
                        p.metadata 
                            a(href="#") June 27, 2017
                            span.line-divine |
                            a(href="#") 42 Views
        |
        |
        .item
            .box-1-wrap
                .box-content-1
                    a(href="#")
                        img.w-100(src="assets/img/home5/ad-content/ad-content_11.png", alt="")
                    .box-content-1-text
                        h4
                            a(href="#") Summer Picnic Tips For Your Trip
                        p.metadata 
                            a(href="#") June 27, 2017
                            span.line-divine |
                            a(href="#") 42 Views
        |
        |
        .item
            .box-1-wrap
                .box-content-1
                    a(href="#")
                        img.w-100(src="assets/img/home5/ad-content/ad-content_13.png", alt="")
                    .box-content-1-text
                        h4
                            a(href="#") Germany eyes new North Korea
                        p.metadata 
                            a(href="#") June 27, 2017
                            span.line-divine |
                            a(href="#") 42 Views
