@media (max-width: 768px) {
  .home3-health {
    margin-bottom: 30px;

    .owl-carousel {
      .item {
        margin-bottom: 20px;
        
        .col-md-7 {
          margin-bottom: 20px;
        }
      }

      .owl-nav {
        padding-bottom: 6px;
      }
    }
  }
}
