// section main-content
section.home1-trending.category3-main-content.category6-main-content
    .row
        .col-md-6
            .box-wrap
                .box-content-1
                    .box-content-1-type
                        a.btn.btn-type-2.text-uppercase(href="#") INVESTING
                    a(href="#")
                        img.w-100(src="assets/img/category3/content_03.png", alt="")
                    a.play-icon-1(href="#"): img(src="assets/img/play-icon.png", alt="")
                .box-content-1-text
                    h4
                        a(href="#") Rebecca Admits She Doesn't Want Son Silas Following in Benjamin's Musical
                    p.metadata 
                        a(href="#") MONMAG
                        span.line-divine |
                        a(href="#") June 25, 2017
                        span.line-divine |
                        a(href="#") 75 Views
                .line-7
                p.top-rate-content South Korea’s foreign minister says he's confident that the U.S. will consult Seoul before taking action against North Korea. Satellite imagery analyzed by U.S. researchers shows activity on and ... shows activity on and ...
                a.btn.btn-accent-2.text-uppercase(href="#") READ MORE
        |
        |
        .col-md-6
            .box-wrap
                .box-content-1
                    .box-content-1-type
                        a.btn.btn-type-2.text-uppercase(href="#") COMPANIES
                    a(href="#")
                        img.w-100(src="assets/img/category3/content_05.png", alt="")
                    a.volume-icon(href="#"): img(src="assets/img/volume-icon.png", alt="")
                .box-content-1-text
                    h4
                        a(href="#") Liam Payne and Cheryl Cole Gave Their Baby a Sweet, Animal-Inspired Name
                    p.metadata 
                        a(href="#") MONMAG
                        span.line-divine |
                        a(href="#") June 25, 2017
                        span.line-divine |
                        a(href="#") 75 Views
                .line-7
                p.top-rate-content South Korea’s foreign minister says he's confident that the U.S. will consult Seoul before taking action against North Korea. Satellite imagery analyzed by U.S. researchers shows activity on and ...
                a.btn.btn-accent-2.text-uppercase(href="#") READ MORE
        |
        |
        .col-md-6
            .box-wrap
                .box-content-1
                    .box-content-1-type
                        a.btn.btn-type-2.text-uppercase(href="#") COMPANIES
                    a(href="#")
                        img.w-100(src="assets/img/category3/content_09.png", alt="")
                .box-content-1-text
                    h4
                        a(href="#") Chris Soules Seen Purchasing Alcohol Shortly Before Fatal Crash
                    p.metadata 
                        a(href="#") MONMAG
                        span.line-divine |
                        a(href="#") June 25, 2017
                        span.line-divine |
                        a(href="#") 75 Views
                .line-7
                p.top-rate-content South Korea’s foreign minister says he's confident that the U.S. will consult Seoul before taking action against North Korea. Satellite imagery analyzed by U.S. researchers shows activity on and ...
                a.btn.btn-accent-2.text-uppercase(href="#") READ MORE
        |
        |
        .col-md-6
            .box-wrap
                .box-content-1
                    .box-content-1-type
                        a.btn.btn-type-2.text-uppercase(href="#") COMPANIES
                    a(href="#")
                        img.w-100(src="assets/img/category3/content_11.png", alt="")
                .box-content-1-text
                    h4
                        a(href="#") Ryan Reynolds Gushes Over Blake Lively at Met Gala: ‘She’s Made Me a More 
                    p.metadata 
                        a(href="#") MONMAG
                        span.line-divine |
                        a(href="#") June 25, 2017
                        span.line-divine |
                        a(href="#") 75 Views
                .line-7
                p.top-rate-content South Korea’s foreign minister says he's confident that the U.S. will consult Seoul before taking action against North Korea. Satellite imagery analyzed by U.S. researchers shows activity on and ...
                a.btn.btn-accent-2.text-uppercase(href="#") READ MORE
        |
        |
        .col-md-6
            .box-wrap
                .box-content-1
                    .box-content-1-type
                        a.btn.btn-type-2.text-uppercase(href="#") COMPANIES
                    a(href="#")
                        img.w-100(src="assets/img/category3/content_14.png", alt="")
                .box-content-1-text
                    h4
                        a(href="#") Rebecca Admits She Doesn't Want Son Silas Following in Benjamin's Musical
                    p.metadata 
                        a(href="#") MONMAG
                        span.line-divine |
                        a(href="#") June 25, 2017
                        span.line-divine |
                        a(href="#") 75 Views
                .line-7
                p.top-rate-content South Korea’s foreign minister says he's confident that the U.S. will consult Seoul before taking action against North Korea. Satellite imagery analyzed by U.S. researchers shows activity on and ...
                a.btn.btn-accent-2.text-uppercase(href="#") READ MORE
        |
        |
        .col-md-6
            .box-wrap
                .box-content-1
                    .box-content-1-type
                        a.btn.btn-type-2.text-uppercase(href="#") COMPANIES
                    a(href="#")
                        img.w-100(src="assets/img/category3/content_15.png", alt="")
                .box-content-1-text
                    h4
                        a(href="#") Liam Payne and Cheryl Cole Gave Their Baby a Sweet, Animal-Inspired Name
                    p.metadata 
                        a(href="#") MONMAG
                        span.line-divine |
                        a(href="#") June 25, 2017
                        span.line-divine |
                        a(href="#") 75 Views
                .line-7
                p.top-rate-content South Korea’s foreign minister says he's confident that the U.S. will consult Seoul before taking action against North Korea. Satellite imagery analyzed by U.S. researchers shows activity on and ...
                a.btn.btn-accent-2.text-uppercase(href="#") READ MORE
        |
        |
        .col-md-6
            .box-wrap
                .box-content-1
                    .box-content-1-type
                        a.btn.btn-type-2.text-uppercase(href="#") COMPANIES
                    a(href="#")
                        img.w-100(src="assets/img/category3/content_18.png", alt="")
                .box-content-1-text
                    h4
                        a(href="#") Chris Soules Seen Purchasing Alcohol Shortly Before Fatal Crash, Open Drinks
                    p.metadata 
                        a(href="#") MONMAG
                        span.line-divine |
                        a(href="#") June 25, 2017
                        span.line-divine |
                        a(href="#") 75 Views
                .line-7
                p.top-rate-content South Korea’s foreign minister says he's confident that the U.S. will consult Seoul before taking action against North Korea. Satellite imagery analyzed by U.S. researchers shows activity on and ...
                a.btn.btn-accent-2.text-uppercase(href="#") READ MORE
        |
        |
        .col-md-6
            .box-wrap
                .box-content-1
                    .box-content-1-type
                        a.btn.btn-type-2.text-uppercase(href="#") COMPANIES
                    a(href="#")
                        img.w-100(src="assets/img/category3/content_19.png", alt="")
                .box-content-1-text
                    h4
                        a(href="#") Ryan Reynolds Gushes Over Blake Lively at Met Gala: ‘She’s Made Me a More
                    p.metadata 
                        a(href="#") MONMAG
                        span.line-divine |
                        a(href="#") June 25, 2017
                        span.line-divine |
                        a(href="#") 75 Views
                .line-7
                p.top-rate-content South Korea’s foreign minister says he's confident that the U.S. will consult Seoul before taking action against North Korea. Satellite imagery analyzed by U.S. researchers shows activity on and ...
                a.btn.btn-accent-2.text-uppercase(href="#") READ MORE
       
    .wrap-btn
        a.btn.btn-black.text-uppercase(href="#") VIEW MORE
