@media (max-width: 575px) {
  .box-content-2 {
    .box-content-2-featured {
      h4 a {
        font-size: 18px;
        line-height: 30px;
      }
    }
  }

  .box-content-3 {
    .box-content-3-featured {
      h4 a {
        font-size: 18px;
        line-height: 30px;
      }
    }
  }
}
