/* GLOBAL CLASS
   ----------------------------- */
.line-1 {
  border-bottom: 2px solid $border-color;
  position: relative;

  &:before {
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    border: 2px solid $white-color;
    border-radius: 50%;
    background: $accent-color;
    position: absolute;
    left: 0;
    bottom: -6px;
  }

  &:after {
    display: block;
    content: '';
    width: 70px;
    height: 2px;
    background: $accent-color;
    position: absolute;
    left: 10px;
    bottom: -2px;
  }
}

.line-2 {
  @extend .line-1;
  border: none;
  margin: 15px 0 32px;

  &:after {
    width: 40px;
  }
}

.line-3 {
  @extend .line-1;
  margin-bottom: 20px !important;
  margin-top: 25px;

  &:after {
    left: 50% !important;
    transform: translateX(-50%);
    width: 150px;
  }

  &:before {
    left: 50% !important;
    z-index: 1;
    border-color: $subscribe-bg;
  }
}

.line-4 {
  @extend .line-1;
  &:after, &:before {
    background-color: $accent-color1;
  }
}

.line-5 {
  @extend .line-2;

  &:before, &:after {
    background-color: $accent-color1;
  }

  &:before {
    border-color: #f8f3f4;
  }
}

.line-6 {
  @extend .line-4;

  &:after, &:before {
    background-color: $accent-color2;
  }
}

.line-7 {
  @extend .line-2;

  &:before, &:after {
    background-color: $accent-color2;
  }

  &:before {
    border-color: $white-color;
  }
}

.line-8 {
  @extend .line-2;

  &:before, &:after {
    background-color: $accent-color2;
  }

  &:before {
    border-color: #f8f3f4;
  }
}

.line-9 {
  @extend .line-3;

  &:before, &:after {
    background: $accent-color2;
  }
}

.line-10 {
    @extend .line-6;

    &:after, &:before {
        background-color: $accent-color3;
    }
}

.line-11 {
  @extend .line-2;

  &:before, &:after {
    background-color: $accent-color3;
  }

  &:before {
    border-color: #f8f3f4;
  }
}

.title-line {
  font-size: 24px;
  font-weight: 700;
}

.M0 {
  margin: 0;
}

.Mb20 {
  margin-bottom: 20px;
}

.Mb30 {
  margin-bottom: 30px;
}

.Mb40 {
  margin-bottom: 40px;
}

.Mb50 {
  margin-bottom: 50px;
}

.Mb60 {
  margin-bottom: 60px;
}

.Mt40 {
  margin-top: 40px;
}

.Mt20 {
  margin-top: 20px;
}

.My50 {
  margin: 50px 0;
}

.Pt50 {
  padding-top: 50px;
}

.Py50 {
  padding: 50px 0;
}

.Py60 {
  padding: 60px 0;
}
