$accent-color: #c26dc9;
$accent-color1: #ff3249;
$accent-color2: #51aff7;
$menu-bg2: #212121;
$topbar-bg2: #2d2d2d;
$grey-bg: #f3f3f3;
$white-color: #ffffff;
$social-bg: #cccccc;
$video-bg: #222222;
$tag-bg: #eeeeee;
$subscribe-bg: #f7f7f7;
$copyright-bg: #1d1d1e;
$black-bg: #212121;
$market-bg: #78b526;
$market-bg1: #eb531e;


$text-color: #999999;
$text-color1: #a9a9a9;
$text-color2: #e6e6e6;
$text-color3: #303030;
$text-color4: #777777;
$text-color5: #cccccc;
$text-color6: #bebebe;
$text-color7: #555555;
$text-color8: #3c6800;
$text-color9: #922e0b;
$text-color10: #bababa;
$text-color11: #0c4c8a;
$text-color12: #78b526;

$border-color: #eaeaea;

/**** Home3 ****/
$topbar-bg3: #1c1c1d;
$logo-bg: #272727;

/**** Home4 ****/
$topbar-bg4: #e3e3e3;
