$accent-color: #c26dc9;
$menu-bg2: #212121;
$topbar-bg2: #2d2d2d;
$white-color: #ffffff;
$social-bg: #cccccc;
$video-bg: #222222;

$text-color: #999999;
$text-color1: #a9a9a9;
$text-color2: #e6e6e6;
$text-color3: #303030;
$text-color4: #777777;

$border-color: #eaeaea;
