// section category-nav
section.category-nav
    h4.title-line.text-uppercase SUBSCRIBE
    .line-6.Mb30
    |
    |
    ul.category-list.list-unstyled
        li: a(href="#") Catergory 1
        li: a(href="#") Catergory 2
        li: a(href="#") Catergory 3
        li: a(href="#") Catergory 4
        li: a(href="#") Catergory 5
        li: a(href="#") Catergory 6
        li: a(href="#") Catergory 7
        