//section latest
section.latest.home1-hot
  h4.title-line.text-uppercase Hot news
  .line-6.Mb40
  |
  |
  .row
    .col-md-6
      .box-1-wrap
        .box-content-1
          a(href="#")
            img.w-100(src="assets/img/home1/hot-new/hot_03.png", alt="")
        .box-content-1-text
          h4
            a(href="#") It's time for a new American retirement
          p.metadata 
            a(href="#") June 27, 2017
            span.line-divine |
            a(href="#") 42 Views
    |
    |
    .col-md-6
      .box-1-wrap
        .box-content-1
          a(href="#")
            img.w-100(src="assets/img/home1/hot-new/hot_05.png", alt="")
        .box-content-1-text
          h4
            a(href="#") The Rolling Stones may not seem like
          p.metadata 
            a(href="#") June 27, 2017
            span.line-divine |
            a(href="#") 42 Views
    |
    |
    .col-md-6
      .box-1-wrap
        .box-content-1
          a(href="#")
            img.w-100(src="assets/img/home1/hot-new/hot_09.png", alt="")
        .box-content-1-text
          h4
            a(href="#")  You'll want to be conscious about 
          p.metadata 
            a(href="#") June 27, 2017
            span.line-divine |
            a(href="#") 42 Views
    |
    |
    .col-md-6
      .box-1-wrap
        .box-content-1
          a(href="#")
            img.w-100(src="assets/img/home1/hot-new/hot_10.png", alt="")
        .box-content-1-text
          h4
            a(href="#") Germany eyes new North Korea
          p.metadata 
            a(href="#") June 27, 2017
            span.line-divine |
            a(href="#") 42 Views
    |
    |
    .col-md-6
      .box-1-wrap
        .box-content-1
          a(href="#")
            img.w-100(src="assets/img/home1/hot-new/hot_13.png", alt="")
        .box-content-1-text
          h4
            a(href="#")  Many younger workers are learning
          p.metadata 
            a(href="#") June 27, 2017
            span.line-divine |
            a(href="#") 42 Views
    |
    |
    .col-md-6
      .box-1-wrap
        .box-content-1
          a(href="#")
            img.w-100(src="assets/img/home1/hot-new/hot_14.png", alt="")
        .box-content-1-text
          h4
            a(href="#")  Many younger workers are learning
          p.metadata 
            a(href="#") June 27, 2017
            span.line-divine |
            a(href="#") 42 Views
  
