// section about-content
section.about-content
    .about-us.Mb50
        h4.title-line.text-uppercase About us
        .line-6.Mb40
        |
        |
        .about-us-content
            p Technology is a powerful force for improving people's lives. But right now, half the world does not have access to the benefits and opportunities that technology offers. That’s why we're committed to doing more globally to bring the benefits of technology to the people and organizations who need them most. Together with our grantees, partners and employees around the world, we’re working to fulfill Microsoft’s mission to empower every person and every organization on the planet to achieve more.
            .row
                .col-md-4
                    img(src="assets/img/about/about_03.png", alt="")
                |
                |
                .col-md-8
                    p Technology is a powerful force for improving people's lives. But right now, half the world does not have access to the benefits and opportunities that technology offers. That’s why we're committed to doing more  of technology to the people and organizations who need them most. 
                    p Together with our grantees, partners and employees around the world, we’re working to fulfill Microsoft’s mission to empower every person and every organization on the planet to achieve more.
                    p A representative for the Austin Police Department confirmed the news to TMZ, telling the outlet they received a call around 2 a.m. on Monday. Nance was unresponsive when police arrived at the scene. He was pronounced dead shortly after. 
                    p Delivery companies left to suffer tiny margins as online retailer comes out winner.
    |
    |
    .we-do.Mb50
        .row
            .col-md-6
                h4.title-line.text-uppercase About us
                .line-6.Mb40
                |
                |
                p Technology is a powerful force for improving people's lives. But right now, half the world does not have access to the benefits and opportunities that technology offers. That’s why we're committed to doing more  of technology to the people and organizations who need them most. 
                p Together with our grantees, partners and employees around the world, we’re working to fulfill Microsoft’s mission to empower every person and every organization on the planet to achieve more.
                p A representative for the Austin Police Department confirmed the news to TMZ, telling the outlet they received a call around 2 a.m. on Monday. Nance was unresponsive when police arrived at the scene. He was pronounced dead shortly after. 
                p Delivery companies left to suffer tiny margins as online retailer comes out winner.
            |
            |
            .col-md-6
                img(src="assets/img/about/about_07.png", alt="")
    |
    |
    .author-list-content.popular-author
        h4.title-line.text-uppercase.text-center the most popular AUTHORs
        .line-9.Mb40
        |
        |
        .row
            .col-md-6
                .author-list-wrap
                    .row
                        .col-md-5
                            a(href="#"): img.w-100(src="assets/img/author-list/author_03.png", alt="")
                        |
                        |
                        .col-md-7
                            a(href="#"): h4.text-uppercase Johannes Kepler
                            p.author-list-text Unless you're part of one of those couples that say "But we never argue!" (weirdos), arguments in a relationship are an expected part of spending a prolonged period of time with one person.
                            span.author-list-contact.text-uppercase CONTACT
                            ul.author-list-nav.list-unstyled
                                li
                                    img(src="assets/img/author-list/mail-icon.png", alt="")
                                    span Johannes@gmai.com
                                li
                                    img(src="assets/img/author-list/phone-icon.png", alt="")
                                    span 01223 543 533
                    .line-1.Mt20
                |
                |
                .author-list-wrap
                    .row
                        .col-md-5
                            a(href="#"): img.w-100(src="assets/img/author-list/author_06.png", alt="")
                        |
                        |
                        .col-md-7
                            a(href="#"): h4.text-uppercase Lise Meitner
                            p.author-list-text Unless you're part of one of those couples that say "But we never argue!" (weirdos), arguments in a relationship are an expected part of spending a prolonged period of time with one person.
                            span.author-list-contact.text-uppercase CONTACT
                            ul.author-list-nav.list-unstyled
                                li
                                    img(src="assets/img/author-list/mail-icon.png", alt="")
                                    span Lisemeitner@gmai.com
                                li
                                    img(src="assets/img/author-list/phone-icon.png", alt="")
                                    span 01223 543 533
                    .line-1.Mt20
            |
            |
            .col-md-6
                .author-list-wrap
                    .row
                        .col-md-5
                            a(href="#"): img.w-100(src="assets/img/author-list/author_08.png", alt="")
                        |
                        |
                        .col-md-7
                            a(href="#"): h4.text-uppercase Shirley Ann Jackson
                            p.author-list-text Unless you're part of one of those couples that say "But we never argue!" (weirdos), arguments in a relationship are an expected part of spending a prolonged period of time with one person.
                            span.author-list-contact.text-uppercase CONTACT
                            ul.author-list-nav.list-unstyled
                                li
                                    img(src="assets/img/author-list/mail-icon.png", alt="")
                                    span Shirleyjackson@gmai.com
                                li
                                    img(src="assets/img/author-list/phone-icon.png", alt="")
                                    span 01223 543 533
                    .line-1.Mt20
                |
                |
                .author-list-wrap
                    .row
                        .col-md-5
                            a(href="#"): img.w-100(src="assets/img/author-list/author_10.png", alt="")
                        |
                        |
                        .col-md-7
                            a(href="#"): h4.text-uppercase Stephen Hawking
                            p.author-list-text Unless you're part of one of those couples that say "But we never argue!" (weirdos), arguments in a relationship are an expected part of spending a prolonged period of time with one person.
                            span.author-list-contact.text-uppercase CONTACT
                            ul.author-list-nav.list-unstyled
                                li
                                    img(src="assets/img/author-list/mail-icon.png", alt="")
                                    span Stephenhawking@gmai.com
                                li
                                    img(src="assets/img/author-list/phone-icon.png", alt="")
                                    span 01223 543 533
                    .line-1.Mt20
