// section thumb-post
section.single-video2-thumb-post.playlist-video-thumb-post
    .container
        .row
            .col-md-8
                //- img.post-video-1.w-100(src="assets/img/playlist-video/playlist_03.png", alt="")
                iframe.post-video-1(width='560', height='515', src='https://www.youtube.com/embed/9Ca8zWJOlFQ', frameborder='0', allowfullscreen='')
            |
            |
            .col-md-4
                .wrap-video-list
                    .media.media-2
                        a(href="#"): img.mr-3(src='assets/img/home5/playlist/playlist_06.png', alt='Generic placeholder image')
                        |   
                        .media-body
                            a(href="#"): h5.mt-0 Dancing Mom Out Does Her Daughter
                            p.metadata
                                a(href="#") MONMAG
                                span.line-divine |
                                a(href="#") June 27, 2017
                                span.line-divine |
                                a(href="#") 42 Views
                    |
                    |
                    .media.media-2
                        a(href="#"): img.mr-3(src='assets/img/home5/playlist/playlist_09.png', alt='Generic placeholder image')
                        |   
                        .media-body
                            a(href="#"): h5.mt-0 Eleven Celebrities on How They Spend Their Money
                            p.metadata
                                a(href="#") MONMAG
                                span.line-divine |
                                a(href="#") June 27, 2017
                                span.line-divine |
                                a(href="#") 42 Views
                    |
                    |
                    .media.media-2
                        a(href="#"): img.mr-3(src='assets/img/home5/playlist/playlist_11.png', alt='Generic placeholder image')
                        |   
                        .media-body
                            a(href="#"): h5.mt-0 Poles Regain Stock Market Zest as Dino Polska Soars in Debut
                            p.metadata
                                a(href="#") MONMAG
                                span.line-divine |
                                a(href="#") June 27, 2017
                                span.line-divine |
                                a(href="#") 42 Views
                    |
                    |
                    .media.media-2
                        a(href="#"): img.mr-3(src='assets/img/home5/playlist/playlist_13.png', alt='Generic placeholder image')
                        |   
                        .media-body
                            a(href="#"): h5.mt-0 This Is What Melinda Gates Is Reading
                            p.metadata
                                a(href="#") MONMAG
                                span.line-divine |
                                a(href="#") June 27, 2017
                                span.line-divine |
                                a(href="#") 42 Views
                    |
                    |
                    .media.media-2
                        a(href="#"): img.mr-3(src='assets/img/home5/playlist/playlist_15.png', alt='Generic placeholder image')
                        |   
                        .media-body
                            a(href="#"): h5.mt-0 Adventure-seekers can sleep on the edge
                            p.metadata
                                a(href="#") MONMAG
                                span.line-divine |
                                a(href="#") June 27, 2017
                                span.line-divine |
                                a(href="#") 42 Views
