// section breadcrumb
section.breadcrumb-wrap.breadcrumb-wrap-2
    .container
        .row
            .col-md-12
                nav(aria-label='breadcrumb', role='navigation')
                    ol.breadcrumb.breadcrumb-2.text-uppercase
                        li.breadcrumb-item
                            a(href='#') Home
                        li.breadcrumb-item.active(aria-current='page') Contact us
