// section about-content
section.single-post1-content.about-content.contact-content
    .about-us.contact-us
        h4.title-line.text-uppercase CONTACT US
        .line-6.Mb40
        |
        |
        .about-us-content
            p Technology is a powerful force for improving people's lives. But right now, half the world does not have access to the benefits and opportunities that technology offers. That’s why we're committed to doing more globally to bring the benefits of technology to the people and organizations who need them most. Together with our grantees, partners and employees around the world, we’re working to fulfill Microsoft’s mission to empower every person and every organization on the planet to achieve more.
            .row.Mt40
                .col-md-4
                    ul.list-unstyled.contact-list
                        li 
                            img(src="assets/img/contact/list-1.png", alt="")
                            p
                                span MAIL
                                span hello@eplus-themes.com
                        li 
                            img(src="assets/img/contact/list-2.png", alt="")
                            p
                                span PHONE
                                span +88 3333 6789
                        li 
                            img(src="assets/img/contact/list-3.png", alt="")
                            p
                                span ADDRESS
                                span 935-994 Tortor. Street Santa Rosa
                |
                |
                .col-md-8.write-comment.Pt0
                    h4.title-line.text-uppercase LEAVE MESSAGE
                    .line-6.Mb40
                    |
                    |
                    .row
                        .col-md-6
                            .form-group
                                input.form-control(type="text" placeholder="Your name...")
                            .form-group
                                input.form-control(type="email" placeholder="Your email...")
                            .form-group
                                input.form-control(type="text" placeholder="Your phone...")
                            a.btn.btn-accent-2.text-uppercase(href="#") send message
                        |
                        |
                        .col-md-6
                            .form-group
                                textarea.form-control(placeholder="Write comment...")
