// section carousel-post
section.carousel-post
    .owl-theme.owl-carousel.single-post-carousel.Mb10
        .item(data-hash="zero")
            img.w-100(src="assets/img/single-post/thumb-post-1.png", alt="")
        .item(data-hash="one")
            img.w-100(src="assets/img/single-post/thumb-post-1.png", alt="")
        .item(data-hash="two")
            img.w-100(src="assets/img/single-post/thumb-post-1.png", alt="")
    |
    |
    .owl-theme.owl-carousel.single-post-carousel-control
        .item
            a(href="#zero"): img.w-100(src="assets/img/single-post/nav/nav_03.png", alt="")
        .item
            a(href="#one"): img.w-100(src="assets/img/single-post/nav/nav_05.png", alt="")
        .item
            a(href="#two"): img.w-100(src="assets/img/single-post/nav/nav_07.png", alt="")
            
