.home3-topbar {
  background: $topbar-bg3;
}

.home3-logo {
  background: $logo-bg;
  border-bottom: 1px solid #323232;

  .wrap-logo {
    display: flex;
    align-items: center;
  }

  .breaking-news {
    position: relative;
    overflow: hidden;

    .title {
      position: absolute;
      top: 50%;
      left: 95px;
      color: $white-color;
      transform: translateY(-50%);
      font-size: 18px;
      font-weight: 500;
      line-height: 24px;
    }

    .carousel-7 {
      position: absolute;
      top: 50%;
      left: 300px;
      transform: translateY(-50%);

      a {
        font-size: 14px;
        line-height: 24px;
        color: $white-color;
      }
    }
  }
}

.home3-menu {
  background: $logo-bg;

  .navbar {
    background: $logo-bg !important;
    padding: 0;

    .btn-search {
      background: none !important;
      color: $accent-color1;
      font-size: 24px;
      cursor: pointer;
      border: none !important;

      &:focus {
        border: none !important;
        box-shadow: none !important;
      }
    }
  }

  .navbar-nav {
    li {
      margin-right: 70px;
      position: relative;

      &:hover {
        .sub-menu {
          opacity: 1;
          pointer-events: all;
        }
      }
    }

    li.active > a {
      color: $accent-color1 !important;
    }

    a {
      color: $white-color !important;
      font-size: 13px;
      line-height: 60px;
      font-weight: 500;
      padding: 0 !important;
      @include hoverColor($accent-color1 !important);
    }
  }
}

.sub-menu {
  text-transform: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  width: 300px;
  background: rgba($logo-bg, 0.9);
  pointer-events: none;
  opacity: 0;
  transition: all .2s ease-in-out;

  li {
    padding: 0 20px;
    margin-right: 0 !important;
    position: relative;

    &:hover {
      .sub-menu-sub {
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  a {
    margin: 0 !important;
    line-height: 50px !important;
  }
}

.sub-menu-sub {
  position: absolute;
  left: 100%;
  top: 0;
  width: 300px;
  background: rgba($logo-bg, 0.9);
  pointer-events: none;
  opacity: 0;
  transition: all .2s ease-in-out;
}
