// section category-nav
section.category-nav
    h4.title-line.text-uppercase SUBSCRIBE
    .line-6.Mb30
    |
    |
    ul.category-list.list-unstyled
        li: a(href="#") Popular quest
        li: a(href="#") About account
        li: a(href="#") Author
        li: a(href="#") Any problem
        li: a(href="#") Services
        
