// section FAQ
section.faq
    h4.title-line.text-uppercase POPULAR QUEST
    .line-6.Mb40
    |
    |
    .wrap-faq
        ul.faq-list.list-unstyled(role='tablist')
            li
                i.faq-icon.fa.fa-minus(aria-hidden='true' data-toggle='collapse', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                .faq-box
                    a(data-toggle='collapse', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne') How can I check the status of my appointment online?
                    #collapseOne.faq-content.collapse.show(role='tabpanel', aria-labelledby='headingOne', data-parent='.faq-list')
                        p Technology is a powerful force for improving people's lives. But right now, half the world does not have access to the benefits and opportunities that technology offers. That’s why we're committed to doing more  of technology to the people and organizations who need them most. 
                        p Together with our grantees, partners and employees around the world, we’re working to fulfill Microsoft’s mission to empower every person and every organization on the planet to achieve more.
                        p A representative for the Austin Police Department confirmed the news to TMZ, telling the outlet they received a call around 2 a.m. on Monday. Nance was unresponsive when police arrived at the scene. He was pronounced dead shortly after. 
                        p Delivery companies left to suffer tiny margins as online retailer comes out winner.
            |
            |
            li
                i.faq-icon.fa.fa-plus(aria-hidden='true' data-toggle='collapse', href='#collapseTwo', aria-expanded='true', aria-controls='collapseTwo')
                .faq-box
                    a(data-toggle='collapse', href='#collapseTwo', aria-expanded='true', aria-controls='collapseTwo') Can I cancel or reschedule an appointment online?
                    #collapseTwo.faq-content.collapse(role='tabpanel', aria-labelledby='headingOne', data-parent='.faq-list')
                        p Technology is a powerful force for improving people's lives. But right now, half the world does not have access to the benefits and opportunities that technology offers. That’s why we're committed to doing more  of technology to the people and organizations who need them most. 
                        p Together with our grantees, partners and employees around the world, we’re working to fulfill Microsoft’s mission to empower every person and every organization on the planet to achieve more.
                        p A representative for the Austin Police Department confirmed the news to TMZ, telling the outlet they received a call around 2 a.m. on Monday. Nance was unresponsive when police arrived at the scene. He was pronounced dead shortly after. 
                        p Delivery companies left to suffer tiny margins as online retailer comes out winner.
            |
            |
            li
                i.faq-icon.fa.fa-plus(aria-hidden='true' data-toggle='collapse', href='#collapseThree', aria-expanded='true', aria-controls='collapseThree')
                .faq-box
                    a(data-toggle='collapse', href='#collapseThree', aria-expanded='true', aria-controls='collapseThree') I have Limited access to My Account. What features will I be able to see?
                    #collapseThree.faq-content.collapse(role='tabpanel', aria-labelledby='headingOne', data-parent='.faq-list')
                        p Technology is a powerful force for improving people's lives. But right now, half the world does not have access to the benefits and opportunities that technology offers. That’s why we're committed to doing more  of technology to the people and organizations who need them most. 
                        p Together with our grantees, partners and employees around the world, we’re working to fulfill Microsoft’s mission to empower every person and every organization on the planet to achieve more.
                        p A representative for the Austin Police Department confirmed the news to TMZ, telling the outlet they received a call around 2 a.m. on Monday. Nance was unresponsive when police arrived at the scene. He was pronounced dead shortly after. 
                        p Delivery companies left to suffer tiny margins as online retailer comes out winner.
            |
            |
            li
                i.faq-icon.fa.fa-plus(aria-hidden='true' data-toggle='collapse', href='#collapseFour', aria-expanded='true', aria-controls='collapseFour')
                .faq-box
                    a(data-toggle='collapse', href='#collapseFour', aria-expanded='true', aria-controls='collapseFour') What is My Account? What can I do with it?
                    #collapseFour.faq-content.collapse(role='tabpanel', aria-labelledby='headingOne', data-parent='.faq-list')
                        p Technology is a powerful force for improving people's lives. But right now, half the world does not have access to the benefits and opportunities that technology offers. That’s why we're committed to doing more  of technology to the people and organizations who need them most. 
                        p Together with our grantees, partners and employees around the world, we’re working to fulfill Microsoft’s mission to empower every person and every organization on the planet to achieve more.
                        p A representative for the Austin Police Department confirmed the news to TMZ, telling the outlet they received a call around 2 a.m. on Monday. Nance was unresponsive when police arrived at the scene. He was pronounced dead shortly after. 
                        p Delivery companies left to suffer tiny margins as online retailer comes out winner.
        
