.single-post1-content {
    .title {
        font-size: 36px;
        line-height: 46px;
        color: $text-color3;
        font-weight: 700;
        margin-bottom: 40px;
    }

    .wrap-meta {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        padding: 10px 0;
    }

    .wrap-share {
        padding: 10px 0;
        display: flex;
        align-items: center;

        span {
            &:nth-child(1) {
                @include font('Roboto');
                font-size: 14px;
                color: $text-color7;
                font-weight: 500;
                margin-right: 40px;

                i {
                    margin-right: 5px;
                }
            }

            &:nth-child(2) {
                display: flex;
            }
        }
    }

    .wrap-content {
        @include font('Roboto');
        padding: 40px 0;

        p {
            font-size: 14px;
            line-height: 24px;
            color: $text-color4;
            margin-bottom: 25px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .wrap-quote {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;

        .quote {
            padding-left: 70px;
            position: relative;
            width: 75%;

            p {
                font-size: 18px;
                font-weight: 500;
                line-height: 28px;
                text-transform: uppercase;
            }

            .line-8 {
                &:before {
                    border-color: $white-color;
                }

                &:after {
                    width: 70px;
                }
            }
        }
    }

    .wrap-tag {
        display: flex;
        padding: 10px 0;
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        @include font('Roboto');

        span {
            font-size: 14px;
            color: $text-color7;
            font-weight: 600;

            a {
                color: $text-color4;
                font-weight: 500;
                margin-left: 5px;
            }
        }
    }

    .post-carousel {
        padding: 20px 0;
        border-bottom: 1px solid $border-color;
        display: flex;

        .wrap-post {
            display: flex;

            .media {
                width: 90%;
                margin-bottom: 0;

                h5 {
                    font-size: 18px;
                    line-height: 28px;
                    font-weight: 700;
                    @include hoverColor($accent-color2);
                }

                h6 {
                    color: $accent-color2;
                }

                &:nth-child(odd) {
                    padding-right: 25px;
                    border-right: 1px solid $border-color;

                    .media-body {
                        text-align: right;
                        margin-right: 20px;
                    }
                }

                &:nth-child(even) {
                    padding-left: 25px;

                    .media-body {
                        margin-left: 20px;
                    }
                }
            }
        }
    }

    .wrap-similar {
        border-bottom: 1px solid $border-color;
        padding-bottom: 55px;

        .box-content-1-text {
            h4 a {
                @include hoverColor($accent-color2);
            }
        }
    }

    .comment-area {
        padding: 55px 0;
        border-bottom: 1px solid $border-color;
    }

    .write-comment {
        padding-top: 55px;

        .btn-accent-2 {
            font-size: 14px;
            padding: 7px 15px;
        }

        .form-group {
            margin-bottom: 20px;

            .form-control {
                border-radius: 0;
                font-size: 14px;
                color: $text-color6;
                @include font('Roboto');
                @include placeholderColor($text-color6);
            }

            textarea {
                height: 110px;
            }
        }
    }
}
