.home1-header
  // section topbar
  section.topbar.home3-topbar
    .container
      .row
        .col-md-6
          p.text-uppercase WELCOME TO MONMAG
        |
        |  
        .col-md-6
          p
            a(href="login.html") Login
            span |
            a(href="login.html") Register
  |
  |
  section.home3-logo
    .container
      .wrap-logo
        a(href="#"): img(src="assets/img/home1/header/logo.png", alt="")
        |
        |
        .breaking-news
          img(src="assets/img/home1/header/breaking-news.png", alt="")
          p.title BREAKING NEWS
          .owl-carousel.owl-theme.carousel-7
            .item
              a(href="#") Talk Resurfaces that Obama is Buying Rancho Mirage Home
            .item
              a(href="#") Talk Resurfaces that Obama is Buying Rancho Mirage Home
            .item
              a(href="#") Talk Resurfaces that Obama is Buying Rancho Mirage Home
            .item
              a(href="#") Talk Resurfaces that Obama is Buying Rancho Mirage Home
  |
  |
  section.home3-menu
    .container
      nav.navbar.navbar-expand-lg.navbar-light.bg-light
        |   
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        |   
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.mr-auto.text-uppercase
            li.nav-item.active
              a.nav-link(href='#')
                | HOMEPAGES 
                span.sr-only (current)
            |       
            li.nav-item
              a.nav-link(href='#') OTHERPAGES  
            li.nav-item
              a.nav-link(href='#') MEGAMENU 
            li.nav-item
              a.nav-link(href='#') ABOUT
            li.nav-item
              a.nav-link(href='#') CONTACT
    
          |     
          form.form-inline.my-2.my-lg-0
            button.btn.btn-search(type='submit')
              i.fa.fa-search(aria-hidden='true')
