// section people
seciton.home1-people
  h4.title-line.text-uppercase Stay Connected
  .line-6.Mb40
  |
  |
  .box-content-3
    .box-content-3-type
      a.btn.btn-type-2.text-uppercase(href="#") good news
    img.w-100(src="assets/img/home1/people/people_03.png", alt="")
    a(href="#").box-content-3-overlay
    .box-content-3-featured
      h4
        a(href="#") Lucy Continues to Slay in New Pregnancy Pics See the All-Black Look!
      p.metadata-1 
        a(href="#") MONMAG
        span.line-divine |
        a(href="#") June 27, 2017
        span.line-divine |
        a(href="#") 42 Views
  |
  |
  .row
    .col-md-3
      .box-content-5
        .box-content-1
          a(href="#")
            img.w-100(src="assets/img/home1/people/people_02.png", alt="")
        .box-content-1-text
          h4
            a(href="#") Kim Jong Un Oversees Military Parade
    |
    |
    .col-md-3
      .box-content-5
        .box-content-1
          a(href="#")
            img.w-100(src="assets/img/home1/people/people_05.png", alt="")
        .box-content-1-text
          h4
            a(href="#") Beware the Rally in Emerging-Market Currencies
    |
    |
    .col-md-3
      .box-content-5
        .box-content-1
          a(href="#")
            img.w-100(src="assets/img/home1/people/people_07.png", alt="")
        .box-content-1-text
          h4
            a(href="#") How this brand is still thriving after two centuries
    |
    |
    .col-md-3
      .box-content-5
        .box-content-1
          a(href="#")
            img.w-100(src="assets/img/home1/people/people_09.png", alt="")
        .box-content-1-text
          h4
            a(href="#") Emirates Sees Slower U.S. Traffic in Fallout From Travel Bans
    |
    |
    .col-md-3
      .box-content-5
        .box-content-1
          a(href="#")
            img.w-100(src="assets/img/home1/people/people_15.png", alt="")
        .box-content-1-text
          h4
            a(href="#") Kim Jong Un Oversees Military Parade
    |
    |
    .col-md-3
      .box-content-5
        .box-content-1
          a(href="#")
            img.w-100(src="assets/img/home1/people/people_16.png", alt="")
        .box-content-1-text
          h4
            a(href="#") How this brand is still thriving after two centuries
    |
    |
    .col-md-3
      .box-content-5
        .box-content-1
          a(href="#")
            img.w-100(src="assets/img/home1/people/people_17.png", alt="")
        .box-content-1-text
          h4
            a(href="#") Emirates Sees Slower U.S. Traffic in Fallout From Travel Bans
    |
    |
    .col-md-3
      .box-content-5
        .box-content-1
          a(href="#")
            img.w-100(src="assets/img/home1/people/people_18.png", alt="")
        .box-content-1-text
          h4
            a(href="#") Kim Jong Un Oversees Military Parade
    
