// section ads-2
section.ads-2.home1-post-slider
  h4.title-line.text-uppercase POST SLIDER
  .line-6.Mb40
  |
  |
  .owl-carousel.owl-theme.carousel-13.custom-nav
    .item
      .box-content-3
        .box-content-3-type
          a.btn.btn-type-2.text-uppercase(href="#") opinion
        img.w-100(src="assets/img/home1/post-slider.png", alt="")
        a(href="#").box-content-3-overlay
        .box-content-3-featured
          h4
            a(href="#") Germany eyes new North Korea
          p.metadata
            a(href="#") MONMAG
            span.line-divine |
            a(href="#") June 27, 2017
            span.line-divine |
            a(href="#") 42 Views
    |
    |
    .item
      .box-content-3
        .box-content-3-type
          a.btn.btn-type-2.text-uppercase(href="#") opinion
        img.w-100(src="assets/img/home1/post-slider.png", alt="")
        a(href="#").box-content-3-overlay
        .box-content-3-featured
          h4
            a(href="#") Germany eyes new North Korea
          p.metadata
            a(href="#") MONMAG
            span.line-divine |
            a(href="#") June 27, 2017
            span.line-divine |
            a(href="#") 42 Views
    |
    |
    .item
      .box-content-3
        .box-content-3-type
          a.btn.btn-type-2.text-uppercase(href="#") opinion
        img.w-100(src="assets/img/home1/post-slider.png", alt="")
        a(href="#").box-content-3-overlay
        .box-content-3-featured
          h4
            a(href="#") Germany eyes new North Korea
          p.metadata
            a(href="#") MONMAG
            span.line-divine |
            a(href="#") June 27, 2017
            span.line-divine |
            a(href="#") 42 Views
    |
    |
    .item
      .box-content-3
        .box-content-3-type
          a.btn.btn-type-2.text-uppercase(href="#") opinion
        img.w-100(src="assets/img/home1/post-slider.png", alt="")
        a(href="#").box-content-3-overlay
        .box-content-3-featured
          h4
            a(href="#") Germany eyes new North Korea
          p.metadata
            a(href="#") MONMAG
            span.line-divine |
            a(href="#") June 27, 2017
            span.line-divine |
            a(href="#") 42 Views
