// section slider
section.home1-slider
  .owl-carousel.owl-theme.carousel-10.custom-nav-1
    .item
      .box-content-3
        .box-content-3-type
          a.btn.btn-type-2.text-uppercase(href="#") INVESTING
        img.w-100(src="assets/img/home1/slider/slider_03.png", alt="")
        a(href="#").box-content-3-overlay
        .box-content-3-featured
          h4
            a(href="#") What it's like to be accused of spying for Russia?
          p.metadata 
            a(href="#") MONMAG
            span.line-divine |
            a(href="#") June 27, 2017
            span.line-divine |
            a(href="#") 42 Views
    |
    |
    .item
      .box-content-3
        .box-content-3-type
          a.btn.btn-type-2.text-uppercase(href="#") INVESTING
        img.w-100(src="assets/img/home1/slider/slider_05.png", alt="")
        a(href="#").box-content-3-overlay
        .box-content-3-featured
          h4
            a(href="#") Fighting for equality in big-wave surfing
          p.metadata 
            a(href="#") MONMAG
            span.line-divine |
            a(href="#") June 27, 2017
            span.line-divine |
            a(href="#") 42 Views
    |
    |
    .item
      .box-content-3
        .box-content-3-type
          a.btn.btn-type-2.text-uppercase(href="#") EDUCATION
        img.w-100(src="assets/img/home1/slider/slider_07.png", alt="")
        a(href="#").box-content-3-overlay
        .box-content-3-featured
          h4
            a(href="#") Thousands of weapons seized from schools
          p.metadata 
            a(href="#") MONMAG
            span.line-divine |
            a(href="#") June 27, 2017
            span.line-divine |
            a(href="#") 42 Views
    |
    |
    .item
      .box-content-3
        .box-content-3-type
          a.btn.btn-type-2.text-uppercase(href="#") MOVIE
        img.w-100(src="assets/img/home1/slider/slider_09.png", alt="")
        a(href="#").box-content-3-overlay
        .box-content-3-featured
          h4
            a(href="#") Rapper in viral plane photo finally speaks out
          p.metadata 
            a(href="#") MONMAG
            span.line-divine |
            a(href="#") June 27, 2017
            span.line-divine |
            a(href="#") 42 Views        
    |
    |
    .item
      .box-content-3
        .box-content-3-type
          a.btn.btn-type-2.text-uppercase(href="#") MOVIE
        img.w-100(src="assets/img/home1/slider/slider_03.png", alt="")
        a(href="#").box-content-3-overlay
        .box-content-3-featured
          h4
            a(href="#") What it's like to be accused of spying for Russia?
          p.metadata 
            a(href="#") MONMAG
            span.line-divine |
            a(href="#") June 27, 2017
            span.line-divine |
            a(href="#") 42 Views
    |
    |
    .item
      .box-content-3
        .box-content-3-type
          a.btn.btn-type-2.text-uppercase(href="#") EDUCATION
        img.w-100(src="assets/img/home1/slider/slider_05.png", alt="")
        a(href="#").box-content-3-overlay
        .box-content-3-featured
          h4
            a(href="#") Fighting for equality in  big-wave surfing
          p.metadata 
            a(href="#") MONMAG
            span.line-divine |
            a(href="#") June 27, 2017
            span.line-divine |
            a(href="#") 42 Views
    |
    |
    .item
      .box-content-3
        .box-content-3-type
          a.btn.btn-type-2.text-uppercase(href="#") EDUCATION
        img.w-100(src="assets/img/home1/slider/slider_07.png", alt="")
        a(href="#").box-content-3-overlay
        .box-content-3-featured
          h4
            a(href="#") Thousands of weapons seized from schools
          p.metadata 
            a(href="#") MONMAG
            span.line-divine |
            a(href="#") June 27, 2017
            span.line-divine |
            a(href="#") 42 Views
    |
    |
    .item
      .box-content-3
        .box-content-3-type
          a.btn.btn-type-2.text-uppercase(href="#") INVESTING
        img.w-100(src="assets/img/home1/slider/slider_09.png", alt="")
        a(href="#").box-content-3-overlay
        .box-content-3-featured
          h4
            a(href="#") Rapper in viral plane photo finally speaks out
          p.metadata 
            a(href="#") MONMAG
            span.line-divine |
            a(href="#") June 27, 2017
            span.line-divine |
            a(href="#") 42 Views        
