// section top-new
section.home1-topnew
  .owl-carousel.owl-theme.carousel-11.custom-nav-2
    .item
      .topnew-wrap
        .topnew-box
          .box-content-3
            .box-content-3-type
              a.btn.btn-type-2.text-uppercase(href="#") MOVIE
            img.w-100(src="assets/img/home1/top-new/news_03.png", alt="")
            a(href="#").box-content-3-overlay
            .box-content-3-featured
              h4
                a(href="#") What can Albania teach us about the trust?
              p.metadata 
                a(href="#") MONMAG
                span.line-divine |
                a(href="#") June 27, 2017
                span.line-divine |
                a(href="#") 42 Views
        |
        |
        .topnew-box
          .box-content-3
            .box-content-3-type
              a.btn.btn-type-2.text-uppercase(href="#") good news
            img.w-100(src="assets/img/home1/top-new/news_05.png", alt="")
            a(href="#").box-content-3-overlay
            .box-content-3-featured
              h4
                a(href="#") The japanese skill copied by the world
              p.metadata 
                a(href="#") MONMAG
                span.line-divine |
                a(href="#") June 27, 2017
                span.line-divine |
                a(href="#") 42 Views
      |
      |
      .topnew-wrap
        .topnew-box
          .box-content-3
            .box-content-3-type
              a.btn.btn-type-2.text-uppercase(href="#") wOrld
            img.w-100(src="assets/img/home1/top-new/news_09.png", alt="")
            a(href="#").box-content-3-overlay
            .box-content-3-featured
              h4
                a(href="#") Reasons to Love The World
              p.metadata 
                a(href="#") MONMAG
                span.line-divine |
                a(href="#") June 27, 2017
                span.line-divine |
                a(href="#") 42 Views
        |
        |
        .topnew-box
          .box-content-3
            .box-content-3-type
              a.btn.btn-type-2.text-uppercase(href="#") tech
            img.w-100(src="assets/img/home1/top-new/news_11.png", alt="")
            a(href="#").box-content-3-overlay
            .box-content-3-featured
              h4
                a(href="#") The subtle symptom of thryoid cancer
              p.metadata 
                a(href="#") MONMAG
                span.line-divine |
                a(href="#") June 27, 2017
                span.line-divine |
                a(href="#") 42 Views
        |
        |
        .topnew-box
          .box-content-3
            .box-content-3-type
              a.btn.btn-type-2.text-uppercase(href="#") food
            img.w-100(src="assets/img/home1/top-new/news_13.png", alt="")
            a(href="#").box-content-3-overlay
            .box-content-3-featured
              h4
                a(href="#") This is the real reason behind your food cravings
              p.metadata 
                a(href="#") MONMAG
                span.line-divine |
                a(href="#") June 27, 2017
                span.line-divine |
                a(href="#") 42 Views
    |
    |
    .item
      .topnew-wrap
        .topnew-box
          .box-content-3
            .box-content-3-type
              a.btn.btn-type-2.text-uppercase(href="#") MOVIE
            img.w-100(src="assets/img/home1/top-new/news_03.png", alt="")
            a(href="#").box-content-3-overlay
            .box-content-3-featured
              h4
                a(href="#") What can Albania teach us about the trust?
              p.metadata 
                a(href="#") MONMAG
                span.line-divine |
                a(href="#") June 27, 2017
                span.line-divine |
                a(href="#") 42 Views
        |
        |
        .topnew-box
          .box-content-3
            .box-content-3-type
              a.btn.btn-type-2.text-uppercase(href="#") good news
            img.w-100(src="assets/img/home1/top-new/news_05.png", alt="")
            a(href="#").box-content-3-overlay
            .box-content-3-featured
              h4
                a(href="#") The japanese skill copied by the world
              p.metadata 
                a(href="#") MONMAG
                span.line-divine |
                a(href="#") June 27, 2017
                span.line-divine |
                a(href="#") 42 Views
      |
      |
      .topnew-wrap
        .topnew-box
          .box-content-3
            .box-content-3-type
              a.btn.btn-type-2.text-uppercase(href="#") wOrld
            img.w-100(src="assets/img/home1/top-new/news_09.png", alt="")
            a(href="#").box-content-3-overlay
            .box-content-3-featured
              h4
                a(href="#") Reasons to Love The World
              p.metadata 
                a(href="#") MONMAG
                span.line-divine |
                a(href="#") June 27, 2017
                span.line-divine |
                a(href="#") 42 Views
        |
        |
        .topnew-box
          .box-content-3
            .box-content-3-type
              a.btn.btn-type-2.text-uppercase(href="#") tech
            img.w-100(src="assets/img/home1/top-new/news_11.png", alt="")
            a(href="#").box-content-3-overlay
            .box-content-3-featured
              h4
                a(href="#") The subtle symptom of thryoid cancer
              p.metadata 
                a(href="#") MONMAG
                span.line-divine |
                a(href="#") June 27, 2017
                span.line-divine |
                a(href="#") 42 Views
        |
        |
        .topnew-box
          .box-content-3
            .box-content-3-type
              a.btn.btn-type-2.text-uppercase(href="#") food
            img.w-100(src="assets/img/home1/top-new/news_13.png", alt="")
            a(href="#").box-content-3-overlay
            .box-content-3-featured
              h4
                a(href="#") This is the real reason behind your food cravings
              p.metadata 
                a(href="#") MONMAG
                span.line-divine |
                a(href="#") June 27, 2017
                span.line-divine |
                a(href="#") 42 Views            
    |
    |
    .item
      .topnew-wrap
        .topnew-box
          .box-content-3
            .box-content-3-type
              a.btn.btn-type-2.text-uppercase(href="#") MOVIE
            img.w-100(src="assets/img/home1/top-new/news_03.png", alt="")
            a(href="#").box-content-3-overlay
            .box-content-3-featured
              h4
                a(href="#") What can Albania teach us about the trust?
              p.metadata 
                a(href="#") MONMAG
                span.line-divine |
                a(href="#") June 27, 2017
                span.line-divine |
                a(href="#") 42 Views
        |
        |
        .topnew-box
          .box-content-3
            .box-content-3-type
              a.btn.btn-type-2.text-uppercase(href="#") good news
            img.w-100(src="assets/img/home1/top-new/news_05.png", alt="")
            a(href="#").box-content-3-overlay
            .box-content-3-featured
              h4
                a(href="#") The japanese skill copied by the world
              p.metadata 
                a(href="#") MONMAG
                span.line-divine |
                a(href="#") June 27, 2017
                span.line-divine |
                a(href="#") 42 Views
      |
      |
      .topnew-wrap
        .topnew-box
          .box-content-3
            .box-content-3-type
              a.btn.btn-type-2.text-uppercase(href="#") wOrld
            img.w-100(src="assets/img/home1/top-new/news_09.png", alt="")
            a(href="#").box-content-3-overlay
            .box-content-3-featured
              h4
                a(href="#") Reasons to Love The World
              p.metadata 
                a(href="#") MONMAG
                span.line-divine |
                a(href="#") June 27, 2017
                span.line-divine |
                a(href="#") 42 Views
        |
        |
        .topnew-box
          .box-content-3
            .box-content-3-type
              a.btn.btn-type-2.text-uppercase(href="#") tech
            img.w-100(src="assets/img/home1/top-new/news_11.png", alt="")
            a(href="#").box-content-3-overlay
            .box-content-3-featured
              h4
                a(href="#") The subtle symptom of thryoid cancer
              p.metadata 
                a(href="#") MONMAG
                span.line-divine |
                a(href="#") June 27, 2017
                span.line-divine |
                a(href="#") 42 Views
        |
        |
        .topnew-box
          .box-content-3
            .box-content-3-type
              a.btn.btn-type-2.text-uppercase(href="#") food
            img.w-100(src="assets/img/home1/top-new/news_13.png", alt="")
            a(href="#").box-content-3-overlay
            .box-content-3-featured
              h4
                a(href="#") This is the real reason behind your food cravings
              p.metadata 
                a(href="#") MONMAG
                span.line-divine |
                a(href="#") June 27, 2017
                span.line-divine |
                a(href="#") 42 Views
    |
    |
    .item
      .topnew-wrap
        .topnew-box
          .box-content-3
            .box-content-3-type
              a.btn.btn-type-2.text-uppercase(href="#") MOVIE
            img.w-100(src="assets/img/home1/top-new/news_03.png", alt="")
            a(href="#").box-content-3-overlay
            .box-content-3-featured
              h4
                a(href="#") What can Albania teach us about the trust?
              p.metadata 
                a(href="#") MONMAG
                span.line-divine |
                a(href="#") June 27, 2017
                span.line-divine |
                a(href="#") 42 Views
        |
        |
        .topnew-box
          .box-content-3
            .box-content-3-type
              a.btn.btn-type-2.text-uppercase(href="#") good news
            img.w-100(src="assets/img/home1/top-new/news_05.png", alt="")
            a(href="#").box-content-3-overlay
            .box-content-3-featured
              h4
                a(href="#") The japanese skill copied by the world
              p.metadata 
                a(href="#") MONMAG
                span.line-divine |
                a(href="#") June 27, 2017
                span.line-divine |
                a(href="#") 42 Views
      |
      |
      .topnew-wrap
        .topnew-box
          .box-content-3
            .box-content-3-type
              a.btn.btn-type-2.text-uppercase(href="#") wOrld
            img.w-100(src="assets/img/home1/top-new/news_09.png", alt="")
            a(href="#").box-content-3-overlay
            .box-content-3-featured
              h4
                a(href="#") Reasons to Love The World
              p.metadata 
                a(href="#") MONMAG
                span.line-divine |
                a(href="#") June 27, 2017
                span.line-divine |
                a(href="#") 42 Views
        |
        |
        .topnew-box
          .box-content-3
            .box-content-3-type
              a.btn.btn-type-2.text-uppercase(href="#") tech
            img.w-100(src="assets/img/home1/top-new/news_11.png", alt="")
            a(href="#").box-content-3-overlay
            .box-content-3-featured
              h4
                a(href="#") The subtle symptom of thryoid cancer
              p.metadata 
                a(href="#") MONMAG
                span.line-divine |
                a(href="#") June 27, 2017
                span.line-divine |
                a(href="#") 42 Views
        |
        |
        .topnew-box
          .box-content-3
            .box-content-3-type
              a.btn.btn-type-2.text-uppercase(href="#") food
            img.w-100(src="assets/img/home1/top-new/news_13.png", alt="")
            a(href="#").box-content-3-overlay
            .box-content-3-featured
              h4
                a(href="#") This is the real reason behind your food cravings
              p.metadata 
                a(href="#") MONMAG
                span.line-divine |
                a(href="#") June 27, 2017
                span.line-divine |
                a(href="#") 42 Views            
      
        
