//section top-read
section.home1-topread
  h4.title-line.text-uppercase TOP READ 
  .line-6.Mb40
  |
  |
  .top-read-wrap
    .row
      .col-md-6
        .box-content-3.box-content-4
          .box-content-3-type
            a.btn.btn-type-2.text-uppercase(href="#") FASHION
          img.w-100(src="assets/img/home1/top-read/read_03.png", alt="")
          a(href="#").box-content-3-overlay
          .box-content-3-featured
            h4
              a(href="#") Emma nails real life Beauty and the Beast moment praise from fans 
            p.metadata
              a(href="#") MONMAG
              span.line-divine |
              a(href="#") June 27, 2017
              span.line-divine |
              a(href="#") 42 Views
      |
      |
      .col-md-6    
        .media.media-5
          a(href="#"): img.media-object.mr-3(src='assets/img/home1/top-read/read_05.png', alt='Generic placeholder image')
          |   
          .media-body
            a(href="#"): h6.text-uppercase INVESTING
            a(href="#"): h5.mt-0 The diet Kate Hudson swears by for clear
        |
        |
        .media.media-5
          a(href="#"): img.media-object.mr-3(src='assets/img/home1/top-read/read_08.png', alt='Generic placeholder image')
          |   
          .media-body
            a(href="#"): h6.text-uppercase INVESTING
            a(href="#"): h5.mt-0 How to automatically and professionally
        |
        |
        .media.media-5
          a(href="#"): img.media-object.mr-3(src='assets/img/home1/top-read/read_10.png', alt='Generic placeholder image')
          |   
          .media-body
            a(href="#"): h6.text-uppercase INVESTING
            a(href="#"): h5.mt-0 Why cancelling plans is the best thing 
        |
        |
        .media.media-5
          a(href="#"): img.media-object.mr-3(src='assets/img/home1/top-read/read_12.png', alt='Generic placeholder image')
          |   
          .media-body
            a(href="#"): h6.text-uppercase INVESTING
            a(href="#"): h5.mt-0 The best thing you can do for your well
  |
  |
  a(href="#"): img.w-100.Mt40(src="assets/img/home1/ads/ads_06.png", alt="")
    
