// section watch
section.home1-watch
  .container
    h4.title-line.text-uppercase WATCH IT
    .line-6.Mb40
    |
    |
    .owl-carousel.owl-theme.carousel-12.custom-nav
      .item
        .row
          .col-md-6
            .box-content-video
              .box-content-video-wrap
                a(href="#")
                  img.w-100(src="assets/img/home1/watch/watch_03.png", alt="")
                  img.play-icon(src="assets/img/home2/video/play-icon.png", alt="")
                
              a(href="#"): h5 World War II vet reunited with love letter 72 years later
              p.metadata-1
                a(href="#") June 27, 2017
                span.line-divine |
                a(href="#") 12 Views
          |
          |
          .col-md-6.watch-right
            .row
              .col-md-6
                .box-content-video
                  .box-content-video-wrap
                    a(href="#")
                      img.w-100(src="assets/img/home1/watch/watch_05.png", alt="")
                      img.play-icon(src="assets/img/home2/video/play-icon.png", alt="")
                    
                  a(href="#"): h5 This woman says she's 'too good
                  p.metadata-1
                    a(href="#") June 27, 2017
                    span.line-divine |
                    a(href="#") 12 Views
              |
              |
              .col-md-6
                .box-content-video
                  .box-content-video-wrap
                    a(href="#")
                      img.w-100(src="assets/img/home1/watch/watch_07.png", alt="")
                      img.play-icon(src="assets/img/home2/video/play-icon.png", alt="")
                    
                  a(href="#"): h5 Baby Giggles at Cute Cocker
                  p.metadata-1
                    a(href="#") June 27, 2017
                    span.line-divine |
                    a(href="#") 12 Views
              |
              |
              .col-md-6
                .box-content-video
                  .box-content-video-wrap
                    a(href="#")
                      img.w-100(src="assets/img/home1/watch/watch_11.png", alt="")
                      img.play-icon(src="assets/img/home2/video/play-icon.png", alt="")
                    
                  a(href="#"): h5 7 Eco Friendly Pet Products You Love
                  p.metadata-1
                    a(href="#") June 27, 2017
                    span.line-divine |
                    a(href="#") 12 Views
              |
              |
              .col-md-6
                .box-content-video
                  .box-content-video-wrap
                    a(href="#")
                      img.w-100(src="assets/img/home1/watch/watch_12.png", alt="")
                      img.play-icon(src="assets/img/home2/video/play-icon.png", alt="")
                    
                  a(href="#"): h5 Lena Dunham Sent to ER After Met
                  p.metadata-1
                    a(href="#") June 27, 2017
                    span.line-divine |
                    a(href="#") 12 Views
      |
      |
      .item
        .row
          .col-md-6
            .box-content-video
              .box-content-video-wrap
                a(href="#")
                  img.w-100(src="assets/img/home1/watch/watch_03.png", alt="")
                  img.play-icon(src="assets/img/home2/video/play-icon.png", alt="")
                
              a(href="#"): h5 World War II vet reunited with love letter 72 years later
              p.metadata-1
                a(href="#") June 27, 2017
                span.line-divine |
                a(href="#") 12 Views
          |
          |
          .col-md-6.watch-right
            .row
              .col-md-6
                .box-content-video
                  .box-content-video-wrap
                    a(href="#")
                      img.w-100(src="assets/img/home1/watch/watch_05.png", alt="")
                      img.play-icon(src="assets/img/home2/video/play-icon.png", alt="")
                    
                  a(href="#"): h5 This woman says she's 'too good
                  p.metadata-1
                    a(href="#") June 27, 2017
                    span.line-divine |
                    a(href="#") 12 Views
              |
              |
              .col-md-6
                .box-content-video
                  .box-content-video-wrap
                    a(href="#")
                      img.w-100(src="assets/img/home1/watch/watch_07.png", alt="")
                      img.play-icon(src="assets/img/home2/video/play-icon.png", alt="")
                    
                  a(href="#"): h5 Baby Giggles at Cute Cocker
                  p.metadata-1
                    a(href="#") June 27, 2017
                    span.line-divine |
                    a(href="#") 12 Views
              |
              |
              .col-md-6
                .box-content-video
                  .box-content-video-wrap
                    a(href="#")
                      img.w-100(src="assets/img/home1/watch/watch_11.png", alt="")
                      img.play-icon(src="assets/img/home2/video/play-icon.png", alt="")
                    
                  a(href="#"): h5 7 Eco Friendly Pet Products You Love
                  p.metadata-1
                    a(href="#") June 27, 2017
                    span.line-divine |
                    a(href="#") 12 Views
              |
              |
              .col-md-6
                .box-content-video
                  .box-content-video-wrap
                    a(href="#")
                      img.w-100(src="assets/img/home1/watch/watch_12.png", alt="")
                      img.play-icon(src="assets/img/home2/video/play-icon.png", alt="")
                    
                  a(href="#"): h5 Lena Dunham Sent to ER After Met
                  p.metadata-1
                    a(href="#") June 27, 2017
                    span.line-divine |
                    a(href="#") 12 Views
      |
      |
      .item
        .row
          .col-md-6
            .box-content-video
              .box-content-video-wrap
                a(href="#")
                  img.w-100(src="assets/img/home1/watch/watch_03.png", alt="")
                  img.play-icon(src="assets/img/home2/video/play-icon.png", alt="")
                
              a(href="#"): h5 World War II vet reunited with love letter 72 years later
              p.metadata-1
                a(href="#") June 27, 2017
                span.line-divine |
                a(href="#") 12 Views
          |
          |
          .col-md-6.watch-right
            .row
              .col-md-6
                .box-content-video
                  .box-content-video-wrap
                    a(href="#")
                      img.w-100(src="assets/img/home1/watch/watch_05.png", alt="")
                      img.play-icon(src="assets/img/home2/video/play-icon.png", alt="")
                    
                  a(href="#"): h5 This woman says she's 'too good
                  p.metadata-1
                    a(href="#") June 27, 2017
                    span.line-divine |
                    a(href="#") 12 Views
              |
              |
              .col-md-6
                .box-content-video
                  .box-content-video-wrap
                    a(href="#")
                      img.w-100(src="assets/img/home1/watch/watch_07.png", alt="")
                      img.play-icon(src="assets/img/home2/video/play-icon.png", alt="")
                    
                  a(href="#"): h5 Baby Giggles at Cute Cocker
                  p.metadata-1
                    a(href="#") June 27, 2017
                    span.line-divine |
                    a(href="#") 12 Views
              |
              |
              .col-md-6
                .box-content-video
                  .box-content-video-wrap
                    a(href="#")
                      img.w-100(src="assets/img/home1/watch/watch_11.png", alt="")
                      img.play-icon(src="assets/img/home2/video/play-icon.png", alt="")
                    
                  a(href="#"): h5 7 Eco Friendly Pet Products You Love
                  p.metadata-1
                    a(href="#") June 27, 2017
                    span.line-divine |
                    a(href="#") 12 Views
              |
              |
              .col-md-6
                .box-content-video
                  .box-content-video-wrap
                    a(href="#")
                      img.w-100(src="assets/img/home1/watch/watch_12.png", alt="")
                      img.play-icon(src="assets/img/home2/video/play-icon.png", alt="")
                    
                  a(href="#"): h5 Lena Dunham Sent to ER After Met
                  p.metadata-1
                    a(href="#") June 27, 2017
                    span.line-divine |
                    a(href="#") 12 Views
      |
      |
      .item
        .row
          .col-md-6
            .box-content-video
              .box-content-video-wrap
                a(href="#")
                  img.w-100(src="assets/img/home1/watch/watch_03.png", alt="")
                  img.play-icon(src="assets/img/home2/video/play-icon.png", alt="")
                
              a(href="#"): h5 World War II vet reunited with love letter 72 years later
              p.metadata-1
                a(href="#") June 27, 2017
                span.line-divine |
                a(href="#") 12 Views
          |
          |
          .col-md-6.watch-right
            .row
              .col-md-6
                .box-content-video
                  .box-content-video-wrap
                    a(href="#")
                      img.w-100(src="assets/img/home1/watch/watch_05.png", alt="")
                      img.play-icon(src="assets/img/home2/video/play-icon.png", alt="")
                    
                  a(href="#"): h5 This woman says she's 'too good
                  p.metadata-1
                    a(href="#") June 27, 2017
                    span.line-divine |
                    a(href="#") 12 Views
              |
              |
              .col-md-6
                .box-content-video
                  .box-content-video-wrap
                    a(href="#")
                      img.w-100(src="assets/img/home1/watch/watch_07.png", alt="")
                      img.play-icon(src="assets/img/home2/video/play-icon.png", alt="")
                    
                  a(href="#"): h5 Baby Giggles at Cute Cocker
                  p.metadata-1
                    a(href="#") June 27, 2017
                    span.line-divine |
                    a(href="#") 12 Views
              |
              |
              .col-md-6
                .box-content-video
                  .box-content-video-wrap
                    a(href="#")
                      img.w-100(src="assets/img/home1/watch/watch_11.png", alt="")
                      img.play-icon(src="assets/img/home2/video/play-icon.png", alt="")
                    
                  a(href="#"): h5 7 Eco Friendly Pet Products You Love
                  p.metadata-1
                    a(href="#") June 27, 2017
                    span.line-divine |
                    a(href="#") 12 Views
              |
              |
              .col-md-6
                .box-content-video
                  .box-content-video-wrap
                    a(href="#")
                      img.w-100(src="assets/img/home1/watch/watch_12.png", alt="")
                      img.play-icon(src="assets/img/home2/video/play-icon.png", alt="")
                    
                  a(href="#"): h5 Lena Dunham Sent to ER After Met
                  p.metadata-1
                    a(href="#") June 27, 2017
                    span.line-divine |
                    a(href="#") 12 Views
