.category8-main-content {
    .box-content-1-text {
        h4 {
            margin-top: 15px;

            a {
                font-size: 30px;
                line-height: 40px;
                @include hoverColor($accent-color2);
            }
        }
    }

    .box-wrap {
        .btn-accent-2 {
            width: 170px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            padding: 10px 20px;
        }
    }

    .btn-black {
        width: 170px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        padding: 10px 20px;
    }

    
}