// section main-content
section.home1-trending.category6-main-content.category8-main-content
    .row
        .col-md-12
            .box-wrap
                .box-content-1
                    .box-content-1-type
                        a.btn.btn-type-2.text-uppercase(href="#") INVESTING
                    a(href="#")
                        img.w-100(src="assets/img/category9/content_03.png", alt="")
                    a.play-icon-1(href="#"): img(src="assets/img/play-icon.png", alt="")
                .box-content-1-text
                    h4
                        a(href="#") Rebecca Admits She Doesn't Want Son Silas Following in Benjamin's Musical Footsteps
                    p.metadata 
                        a(href="#") MONMAG
                        span.line-divine |
                        a(href="#") June 25, 2017
                        span.line-divine |
                        a(href="#") 75 Views
                .line-7
                p.top-rate-content Last week, the U.S. Commerce Department said it had reached an agreement with Chinese authorities that would see Beijing give state-owned companies the green light to negotiate long-term contracts with U.S. LNG exporters, something it has been hesitant gudding to do....
                a.btn.btn-accent-2.text-uppercase(href="#") READ MORE
        |
        |
        .col-md-12
            .box-wrap
                .box-content-1
                    .box-content-1-type
                        a.btn.btn-type-2.text-uppercase(href="#") COMPANIES
                    a(href="#")
                        img.w-100(src="assets/img/category9/content_06.png", alt="")
                    a.volume-icon(href="#"): img(src="assets/img/volume-icon.png", alt="")
                .box-content-1-text
                    h4
                        a(href="#") Liam Payne and Cheryl Cole Gave Their Baby a Sweet, Animal-Inspired Name
                    p.metadata 
                        a(href="#") MONMAG
                        span.line-divine |
                        a(href="#") June 25, 2017
                        span.line-divine |
                        a(href="#") 75 Views
                .line-7
                p.top-rate-content Last week, the U.S. Commerce Department said it had reached an agreement with Chinese authorities that would see Beijing give state-owned companies the green light to negotiate long-term contracts with U.S. LNG exporters, something it has been hesitant gudding to do....
                a.btn.btn-accent-2.text-uppercase(href="#") READ MORE
        |
        |
        .col-md-12
            .box-wrap
                .box-content-8
                    a(href="#")
                        img.w-100(src="assets/img/category8/content_08.png", alt="")
                    a(href="#").box-content-8-overlay
                    .box-content-8-content
                        img(src="assets/img/quote-icon.png", alt="")
                        p.box-content-8-content-text There are two types of people who will tell you that you cannot make a difference in this world: those who are afraid to try and those who are afraid you will succeed.
                        span.box-content-8-content-author - Ray Goforth
                .box-content-1-text
                    h4
                        a(href="#") Rebecca Admits She Doesn't Want Son Silas Following in Benjamin's Musical Footsteps
                    p.metadata 
                        a(href="#") MONMAG
                        span.line-divine |
                        a(href="#") June 25, 2017
                        span.line-divine |
                        a(href="#") 75 Views
                .line-7
                p.top-rate-content Last week, the U.S. Commerce Department said it had reached an agreement with Chinese authorities that would see Beijing give state-owned companies the green light to negotiate long-term contracts with U.S. LNG exporters, something it has been hesitant gudding to do....
                a.btn.btn-accent-2.text-uppercase(href="#") READ MORE
        |
        |
        .col-md-12
            .box-wrap
                .box-content-1
                    .box-content-1-type
                        a.btn.btn-type-2.text-uppercase(href="#") COMPANIES
                    a(href="#")
                        img.w-100(src="assets/img/category9/content_08.png", alt="")
                .box-content-1-text
                    h4
                        a(href="#") Social Security and 6 Other Safety Nets You’re Taking for Granted 
                    p.metadata 
                        a(href="#") MONMAG
                        span.line-divine |
                        a(href="#") June 25, 2017
                        span.line-divine |
                        a(href="#") 75 Views
                .line-7
                p.top-rate-content Last week, the U.S. Commerce Department said it had reached an agreement with Chinese authorities that would see Beijing give state-owned companies the green light to negotiate long-term contracts with U.S. LNG exporters, something it has been hesitant gudding to do....
                a.btn.btn-accent-2.text-uppercase(href="#") READ MORE
        |
        |
        .col-md-12
            .box-wrap
                .box-content-1
                    .box-content-1-type
                        a.btn.btn-type-2.text-uppercase(href="#") COMPANIES
                    a(href="#")
                        img.w-100(src="assets/img/category9/content_10.png", alt="")
                .box-content-1-text
                    h4
                        a(href="#") Social Security and 6 Other Safety Nets You’re Taking for Granted 
                    p.metadata 
                        a(href="#") MONMAG
                        span.line-divine |
                        a(href="#") June 25, 2017
                        span.line-divine |
                        a(href="#") 75 Views
                .line-7
                p.top-rate-content Last week, the U.S. Commerce Department said it had reached an agreement with Chinese authorities that would see Beijing give state-owned companies the green light to negotiate long-term contracts with U.S. LNG exporters, something it has been hesitant gudding to do....
                a.btn.btn-accent-2.text-uppercase(href="#") READ MORE
    |
    |       
    .wrap-btn
        a.btn.btn-black.text-uppercase(href="#") LOAD MORE
