// section break
section.home3-break
  .container
    .row
      .col-md-6
        .box-content-3
          a(href="#")
            img.w-100(src="assets/img/home3/break/break_03.png", alt="")
          a(href="#").box-content-3-overlay
          .box-content-3-featured
            h4
              a(href="#") Reasoning in CRM
            p.metadata
              a(href="#") MONMAG
              span.line-divine |
              a(href="#") June 27, 2017
              span.line-divine |
              a(href="#") 42 Views
      |
      |
      .col-md-3
        .box-content-3.box-content-4
          img.w-100(src="assets/img/home3/break/break_05.png", alt="")
          a(href="#").box-content-3-overlay
          .box-content-3-featured
            h4
              a(href="#") 'Millions May Have Picked Up FalseGuide Malware at Google Play Store
            p.metadata
              a(href="#") MONMAG
              span.line-divine |
              a(href="#") June 27, 2017
              span.line-divine |
              a(href="#") 42 Views
      |
      |
      .col-md-3
        .box-content-3.box-content-4
          img.w-100(src="assets/img/home3/break/break_07.png", alt="")
          a(href="#").box-content-3-overlay
          .box-content-3-featured
            h4
              a(href="#") Salesforce, QuintilesIMS Team to Push New Therapies to Market
            p.metadata
              a(href="#") MONMAG
              span.line-divine |
              a(href="#") June 27, 2017
              span.line-divine |
              a(href="#") 42 Views
