// section featured
section.home2-featured.home3-featured
  h4.title-line.text-uppercase FEATURED NEWS
  .line-4.Mb40
  |
  |
  .row
    .col-md-12
      .box-content-1.box-content-2
        .box-content-1-type
          a.btn.btn-type-1.text-uppercase(href="#") FASHION
        img.w-100(src="assets/img/home3/featured/featured_03.png", alt="")
        a(href="#").box-content-1-overlay
        .box-content-2-featured
          h4
            a(href="#") Lucy Continues to Slay in New Pregnancy Pics See the All-Black Look!
          p.metadata-1 
            a(href="#") MONMAG
            span.line-divine |
            a(href="#") June 27, 2017
            span.line-divine |
            a(href="#") 42 Views
    |
    |      
    .col-md-6
      .box-content-1
        .box-content-1-type
          a.btn.btn-type-1.text-uppercase(href="#") FASHION
        img.w-100(src="assets/img/home3/featured/featured_06.png", alt="")
        a(href="#").box-content-1-overlay
      .box-content-1-text
        h4
          a(href="#") Caroline Herschel Shares Adorable Pic of Her Kids Headed Off to School
        p.metadata 
          a(href="#") MONMAG
          span.line-divine |
          a(href="#") June 27, 2017
          span.line-divine |
          a(href="#") 42 Views
    |
    |    
    .col-md-6
      .box-content-1
        .box-content-1-type
          a.btn.btn-type-1.text-uppercase(href="#") FASHION
        img.w-100(src="assets/img/home3/featured/featured_08.png", alt="")
        a(href="#").box-content-1-overlay
      .box-content-1-text
        h4
          a(href="#") Caroline Smith Voted Off 'Survivor: Game Changers' Weeks After Being
        p.metadata 
          a(href="#") MONMAG
          span.line-divine |
          a(href="#") June 27, 2017
          span.line-divine |
          a(href="#") 42 Views
    |
    |        
    .col-md-6
      .box-content-1
        .box-content-1-type
          a.btn.btn-type-1.text-uppercase(href="#") FASHION
        img.w-100(src="assets/img/home3/featured/featured_12.png", alt="")
        a(href="#").box-content-1-overlay
      .box-content-1-text
        h4
          a(href="#") Amelia Is Coming to 'Carpool Karaoke' With Anthony!
        p.metadata 
          a(href="#") MONMAG
          span.line-divine |
          a(href="#") June 27, 2017
          span.line-divine |
          a(href="#") 42 Views
    |
    |        
    .col-md-6
      .box-content-1
        .box-content-1-type
          a.btn.btn-type-1.text-uppercase(href="#") FASHION
        img.w-100(src="assets/img/home3/featured/featured_13.png", alt="")
        a(href="#").box-content-1-overlay
      .box-content-1-text
        h4
          a(href="#") Bernadette Teaches San Thai the 'Basic' Rules of the UNE
        p.metadata 
          a(href="#") MONMAG
          span.line-divine |
          a(href="#") June 27, 2017
          span.line-divine |
          a(href="#") 42 Views
    |
    |        
    .col-md-6
      .box-content-1
        .box-content-1-type
          a.btn.btn-type-1.text-uppercase(href="#") FASHION
        img.w-100(src="assets/img/home3/featured/featured_16.png", alt="")
        a(href="#").box-content-1-overlay
      .box-content-1-text
        h4
          a(href="#") Amelia Is Coming to 'Carpool Karaoke' With Anthony!
        p.metadata 
          a(href="#") MONMAG
          span.line-divine |
          a(href="#") June 27, 2017
          span.line-divine |
          a(href="#") 42 Views
    |
    |        
    .col-md-6
      .box-content-1
        .box-content-1-type
          a.btn.btn-type-1.text-uppercase(href="#") FASHION
        img.w-100(src="assets/img/home3/featured/featured_17.png", alt="")
        a(href="#").box-content-1-overlay
      .box-content-1-text
        h4
          a(href="#") Bernadette Teaches San Thai the 'Basic' Rules of the UNE
        p.metadata 
          a(href="#") MONMAG
          span.line-divine |
          a(href="#") June 27, 2017
          span.line-divine |
          a(href="#") 42 Views
