//section health
section.home3-health
  .title-area
    .wrap-title
      h4.title-line.text-uppercase HEALTH CARE
      .line-4.Mb40
    |
    |
    nav.navbar-small
      ul.navbar-small-ul.list-unstyled.text-uppercase
        li: a(href="#") ALL
        li: a(href="#") SOFTWARE
        li: a(href="#") OPINION
        li: a(href="#") TREND
        li.nav-item.dropdown
          a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            | more 
          |         
          .dropdown-menu(aria-labelledby='navbarDropdown')
            a.dropdown-item(href='#') Action
            |           
            a.dropdown-item(href='#') Another action
            |           
            a.dropdown-item(href='#') Something else here
  
  |
  |
  .owl-carousel.owl-theme.carousel-8.custom-nav
    .item
      .row
        .col-md-7
          .box-content-1
            .box-content-1-type
              a.btn.btn-type-1.text-uppercase(href="#") FASHION
            a(href="#"): img.w-100(src="assets/img/home3/health/health_03.png", alt="")
            a(href="#").box-content-1-overlay
          .box-content-1-text
            h4
              a(href="#") Lucy Continues to Slay in New Pregnancy Pics See the All-Black Looking Line!
            p MONMAG   |   June 27, 2017   |   42 Views
        |
        |
        .col-md-5    
          .media.media-5
            a(href="#"): img.media-object.mr-3(src='assets/img/home3/health/health_05.png', alt='Generic placeholder image')
            |   
            .media-body
              a(href="#"): h6.text-uppercase INVESTING
              a(href="#"): h5.mt-0 Apple May Transform Diabetes Care
          |
          |
          .media.media-5
            a(href="#"): img.media-object.mr-3(src='assets/img/home3/health/health_08.png', alt='Generic placeholder image')
            |   
            .media-body
              a(href="#"): h6.text-uppercase INVESTING
              a(href="#"): h5.mt-0 Apple May Transform Diabetes Care
          |
          |
          .media.media-5
            a(href="#"): img.media-object.mr-3(src='assets/img/home3/health/health_10.png', alt='Generic placeholder image')
            |   
            .media-body
              a(href="#"): h6.text-uppercase INVESTING
              a(href="#"): h5.mt-0 Apple May Transform Diabetes Care
          |
          |
          .media.media-5
            a(href="#"): img.media-object.mr-3(src='assets/img/home3/health/health_13.png', alt='Generic placeholder image')
            |   
            .media-body
              a(href="#"): h6.text-uppercase INVESTING
              a(href="#"): h5.mt-0 Apple May Transform Diabetes Care
          |
          |
          .media.media-5
            a(href="#"): img.media-object.mr-3(src='assets/img/home3/health/health_15.png', alt='Generic placeholder image')
            |   
            .media-body
              a(href="#"): h6.text-uppercase INVESTING
              a(href="#"): h5.mt-0 Apple May Transform Diabetes Care
    |
    |
    .item
      .row
        .col-md-7
          .box-content-1
            .box-content-1-type
              a.btn.btn-type-1.text-uppercase(href="#") FASHION
            a(href="#"): img.w-100(src="assets/img/home3/health/health_03.png", alt="")
            a(href="#").box-content-1-overlay
          .box-content-1-text
            h4
              a(href="#") Lucy Continues to Slay in New Pregnancy Pics See the All-Black Looking Line!
            p MONMAG   |   June 27, 2017   |   42 Views
        |
        |
        .col-md-5    
          .media.media-5
            a(href="#"): img.media-object.mr-3(src='assets/img/home3/health/health_05.png', alt='Generic placeholder image')
            |   
            .media-body
              a(href="#"): h6.text-uppercase INVESTING
              a(href="#"): h5.mt-0 Apple May Transform Diabetes Care
          |
          |
          .media.media-5
            a(href="#"): img.media-object.mr-3(src='assets/img/home3/health/health_08.png', alt='Generic placeholder image')
            |   
            .media-body
              a(href="#"): h6.text-uppercase INVESTING
              a(href="#"): h5.mt-0 Apple May Transform Diabetes Care
          |
          |
          .media.media-5
            a(href="#"): img.media-object.mr-3(src='assets/img/home3/health/health_10.png', alt='Generic placeholder image')
            |   
            .media-body
              a(href="#"): h6.text-uppercase INVESTING
              a(href="#"): h5.mt-0 Apple May Transform Diabetes Care
          |
          |
          .media.media-5
            a(href="#"): img.media-object.mr-3(src='assets/img/home3/health/health_13.png', alt='Generic placeholder image')
            |   
            .media-body
              a(href="#"): h6.text-uppercase INVESTING
              a(href="#"): h5.mt-0 Apple May Transform Diabetes Care
          |
          |
          .media.media-5
            a(href="#"): img.media-object.mr-3(src='assets/img/home3/health/health_15.png', alt='Generic placeholder image')
            |   
            .media-body
              a(href="#"): h6.text-uppercase INVESTING
              a(href="#"): h5.mt-0 Apple May Transform Diabetes Care
    |
    |
    .item
      .row
        .col-md-7
          .box-content-1
            .box-content-1-type
              a.btn.btn-type-1.text-uppercase(href="#") FASHION
            a(href="#"): img.w-100(src="assets/img/home3/health/health_03.png", alt="")
            a(href="#").box-content-1-overlay
          .box-content-1-text
            h4
              a(href="#") Lucy Continues to Slay in New Pregnancy Pics See the All-Black Looking Line!
            p MONMAG   |   June 27, 2017   |   42 Views
        |
        |
        .col-md-5    
          .media.media-5
            a(href="#"): img.media-object.mr-3(src='assets/img/home3/health/health_05.png', alt='Generic placeholder image')
            |   
            .media-body
              a(href="#"): h6.text-uppercase INVESTING
              a(href="#"): h5.mt-0 Apple May Transform Diabetes Care
          |
          |
          .media.media-5
            a(href="#"): img.media-object.mr-3(src='assets/img/home3/health/health_08.png', alt='Generic placeholder image')
            |   
            .media-body
              a(href="#"): h6.text-uppercase INVESTING
              a(href="#"): h5.mt-0 Apple May Transform Diabetes Care
          |
          |
          .media.media-5
            a(href="#"): img.media-object.mr-3(src='assets/img/home3/health/health_10.png', alt='Generic placeholder image')
            |   
            .media-body
              a(href="#"): h6.text-uppercase INVESTING
              a(href="#"): h5.mt-0 Apple May Transform Diabetes Care
          |
          |
          .media.media-5
            a(href="#"): img.media-object.mr-3(src='assets/img/home3/health/health_13.png', alt='Generic placeholder image')
            |   
            .media-body
              a(href="#"): h6.text-uppercase INVESTING
              a(href="#"): h5.mt-0 Apple May Transform Diabetes Care
          |
          |
          .media.media-5
            a(href="#"): img.media-object.mr-3(src='assets/img/home3/health/health_15.png', alt='Generic placeholder image')
            |   
            .media-body
              a(href="#"): h6.text-uppercase INVESTING
              a(href="#"): h5.mt-0 Apple May Transform Diabetes Care
