//section latest
section.latest.home3-hot
  h4.title-line.text-uppercase Hot news
  .line-4.Mb40
  |
  |
  .box-content-1
    .box-content-1-type
      a.btn.btn-type-1.text-uppercase(href="#") future
    a(href="#")
      img.w-100(src="assets/img/home3/hot/hot_03.png", alt="")
  .box-content-1-text
    h4
      a(href="#") 9 real people explain how they realized they needed to quit their job
    p.metadata 
      a(href="#") MONMAG
      span.line-divine |
      a(href="#") June 27, 2017
      span.line-divine |
      a(href="#") 42 Views
  .Mb20
  |
  |
  .list-latest
    .media.media-2
      a(href="#"): img.mr-3(src='assets/img/home3/hot/hot_06.png', alt='Generic placeholder image')
      |   
      .media-body
        a(href="#"): h5.mt-0 Tiny Device Allows You To Track Your Car Using Smartphone
        p.metadata 
          a(href="#") MONMAG
          span.line-divine |
          a(href="#") June 27, 2017
          span.line-divine |
          a(href="#") 92 Views
    |
    |
    .media.media-2
      a(href="#"): img.mr-3(src='assets/img/home3/hot/hot_09.png', alt='Generic placeholder image')
      |   
      .media-body
        a(href="#"): h5.mt-0 Tiny Device Allows You To Track Your Car Using Smartphone
        p.metadata 
          a(href="#") MONMAG
          span.line-divine |
          a(href="#") June 27, 2017
          span.line-divine |
          a(href="#") 92 Views
    |
    |
    .media.media-2
      a(href="#"): img.mr-3(src='assets/img/home3/hot/hot_11.png', alt='Generic placeholder image')
      |   
      .media-body
        a(href="#"): h5.mt-0 Don’t Panic Yet About the Latest Slump in U.S. Consumer
        p.metadata 
          a(href="#") MONMAG
          span.line-divine |
          a(href="#") June 27, 2017
          span.line-divine |
          a(href="#") 92 Views
    |
    |
    .media.media-2
      a(href="#"): img.mr-3(src='assets/img/home3/hot/hot_13.png', alt='Generic placeholder image')
      |   
      .media-body
        a(href="#"): h5.mt-0 Eleven Celebrities on How They Spend Their Money
        p.metadata 
          a(href="#") MONMAG
          span.line-divine |
          a(href="#") June 27, 2017
          span.line-divine |
          a(href="#") 92 Views
    |
    |
    .media.media-2
      a(href="#"): img.mr-3(src='assets/img/home3/hot/hot_15.png', alt='Generic placeholder image')
      |   
      .media-body
        a(href="#"): h5.mt-0 Poles Regain Stock Market Zest as Dino Polska Soars in Debut
        p.metadata 
          a(href="#") MONMAG
          span.line-divine |
          a(href="#") June 27, 2017
          span.line-divine |
          a(href="#") 92 Views
    |
    |
    .media.media-2
      a(href="#"): img.mr-3(src='assets/img/home3/hot/hot_17.png', alt='Generic placeholder image')
      |   
      .media-body
        a(href="#"): h5.mt-0 This Is What Melinda Gates Is Reading
        p.metadata 
          a(href="#") MONMAG
          span.line-divine |
          a(href="#") June 27, 2017
          span.line-divine |
          a(href="#") 92 Views
    |
    |
    .media.media-2
      a(href="#"): img.mr-3(src='assets/img/home3/hot/hot_19.png', alt='Generic placeholder image')
      |   
      .media-body
        a(href="#"): h5.mt-0 Singapore Businesses Brace for Higher Costs
        p.metadata 
          a(href="#") MONMAG
          span.line-divine |
          a(href="#") June 27, 2017
          span.line-divine |
          a(href="#") 92 Views    
          
          
  
