//section investing
section.home3-hot.home3-investing
  h4.title-line.text-uppercase Investing
  .line-4.Mb40
  |
  |
  .box-content-1
    .box-content-1-type
      a.btn.btn-type-1.text-uppercase(href="#") Investing
    a(href="#")
      img.w-100(src="assets/img/home3/investing/investing_03.png", alt="")
  .box-content-1-text
    h4
      a(href="#") Feds knew of 700 Wells Fargo whistle blower cases in 2010
    p.metadata 
      a(href="#") MONMAG
      span.line-divine |
      a(href="#") June 27, 2017
      span.line-divine |
      a(href="#") 42 Views
  .Mb20
  |
  |
  .list-latest
    .media.media-2
      a(href="#"): img.mr-3(src='assets/img/home3/investing/investing_06.png', alt='Generic placeholder image')
      |   
      .media-body
        a(href="#"): h5.mt-0 Pricey US stocks are being dumped for cheap Europe  
        p.metadata 
          a(href="#") MONMAG
          span.line-divine |
          a(href="#") June 27, 2017
          span.line-divine |
          a(href="#") 92 Views
    |
    |
    .media.media-2
      a(href="#"): img.mr-3(src='assets/img/home3/investing/investing_09.png', alt='Generic placeholder image')
      |   
      .media-body
        a(href="#"): h5.mt-0 Top Reagan economist tells Trump: Cut taxes ASAP 
        p.metadata 
          a(href="#") MONMAG
          span.line-divine |
          a(href="#") June 27, 2017
          span.line-divine |
          a(href="#") 92 Views
    |
    |
    .media.media-2
      a(href="#"): img.mr-3(src='assets/img/home3/investing/investing_11.png', alt='Generic placeholder image')
      |   
      .media-body
        a(href="#"): h5.mt-0 Start your day right with Money's market newsletter 
        p.metadata 
          a(href="#") MONMAG
          span.line-divine |
          a(href="#") June 27, 2017
          span.line-divine |
          a(href="#") 92 Views
    |
    |
    .media.media-2
      a(href="#"): img.mr-3(src='assets/img/home3/investing/investing_13.png', alt='Generic placeholder image')
      |   
      .media-body
        a(href="#"): h5.mt-0 Morgan Stanley may be Wall Street's new king
        p.metadata 
          a(href="#") MONMAG
          span.line-divine |
          a(href="#") June 27, 2017
          span.line-divine |
          a(href="#") 92 Views
    |
    |
    .media.media-2
      a(href="#"): img.mr-3(src='assets/img/home3/investing/investing_15.png', alt='Generic placeholder image')
      |   
      .media-body
        a(href="#"): h5.mt-0 Samsung's Galaxy S8 is super hot in South Korea
        p.metadata 
          a(href="#") MONMAG
          span.line-divine |
          a(href="#") June 27, 2017
          span.line-divine |
          a(href="#") 92 Views
  
