//section post-tag
section.post-tag
  h4.title-line.text-uppercase POST TAGS
  .line-4.Mb40
  |
  |
  .post-tag-wrap
    a.btn.btn-tag.text-uppercase(href="#") DRAMA  
    a.btn.btn-tag.text-uppercase(href="#") ENTERTAINMENT
    a.btn.btn-tag.text-uppercase(href="#") STAR
    a.btn.btn-tag.text-uppercase(href="#") FASHION
    a.btn.btn-tag.text-uppercase(href="#") MUSIC
    a.btn.btn-tag.text-uppercase(href="#") VIDEO
    a.btn.btn-tag.text-uppercase(href="#") TV
    a.btn.btn-tag.text-uppercase(href="#") FUTURE
    a.btn.btn-tag.text-uppercase(href="#") GALLERY
    
  
