//section thumb
section.home3-thumb
  .container
    .col-md-9.thumb-box
      .thumb-content
        a.btn.btn-accent-1.text-uppercase(href="#") SOFTWARE
        a(href="#"): h3 Report: Commercial Software Riddled With Open Source Code Flaws
        p.metadata
          a(href="#") MONMAG
          span.line-divine |
          a(href="#") June 27, 2017
          span.line-divine |
          a(href="#") 42 Views
  |
  |
  .side-content
    .side-content-box
      a(href="#"): h4 Report: Commerrcial Software Riddled With Open Source
      p.metadata
        a(href="#") MONMAG
        span.line-divine |
        a(href="#") June 27, 2017
        span.line-divine |
        a(href="#") 52 Views
    |
    |
    .side-content-box
      a(href="#"): h4 BlackBerry KEYone's Success Hinges on Physical Keyboard Longing 
      p.metadata
        a(href="#") MONMAG
        span.line-divine |
        a(href="#") June 27, 2017
        span.line-divine |
        a(href="#") 52 Views
    |
    |
    .side-content-box
      a(href="#"): h4 Nintendo Drops New Portable on Market as Switch Sales Take
      p.metadata
        a(href="#") MONMAG
        span.line-divine |
        a(href="#") June 27, 2017
        span.line-divine |
        a(href="#") 52 Views
    |
    |
    .side-content-box
      a(href="#"): h4 Millions May Have Picked Up False Guide Malware at Google Play Store
      p.metadata
        a(href="#") MONMAG
        span.line-divine |
        a(href="#") June 27, 2017
        span.line-divine |
        a(href="#") 52 Views
        
            
            
        
