// section watch
section.home3-watch
  h4.title-line.text-uppercase WATCH IT
  .line-4.Mb40
  |
  |
  .owl-carousel.owl-theme.carousel-9.custom-nav
    .item
      .box-content-1.box-content-2
        a(href="#")
          img.w-100(src="assets/img/home3/watch/watch_03.png", alt="")
          img.play-icon(src="assets/img/home3/play-icon.png", alt="")
        a(href="#").box-content-1-overlay
        .box-content-2-featured
          h4
            a(href="#") Why Is It OK to Abuse Customers?
      |
      |
      .row
        .col-6.col-md-3
          .wrap-box-content
            .box-content-5
              a(href="#")
                img.w-100(src="assets/img/home3/watch/watch_06.png", alt="")
            .box-content-5-text
              h4
                a(href="#") Kim Jong Un Oversees Military Parade
        |
        |
        .col-6.col-md-3
          .wrap-box-content
            .box-content-5
              a(href="#")
                img.w-100(src="assets/img/home3/watch/watch_08.png", alt="")
            .box-content-5-text
              h4
                a(href="#") Beware the Rally in Emerging-Market Currencies
        |
        |
        .col-6.col-md-3
          .wrap-box-content
            .box-content-5
              a(href="#")
                img.w-100(src="assets/img/home3/watch/watch_10.png", alt="")
            .box-content-5-text
              h4
                a(href="#") How this brand is still thriving after two centuries
        |
        |
        .col-6.col-md-3
          .wrap-box-content
            .box-content-5
              a(href="#")
                img.w-100(src="assets/img/home3/watch/watch_12.png", alt="")
            .box-content-5-text
              h4
                a(href="#") Emirates Sees Slower U.S. Traffic in Fallout From Travel Bans
  
    |
    |
    .item
      .box-content-1.box-content-2
        a(href="#")
          img.w-100(src="assets/img/home3/watch/watch_03.png", alt="")
          img.play-icon(src="assets/img/home3/play-icon.png", alt="")
        a(href="#").box-content-1-overlay
        .box-content-2-featured
          h4
            a(href="#") Why Is It OK to Abuse Customers?
      |
      |
      .row
        .col-6.col-md-3
          .wrap-box-content
            .box-content-5
              a(href="#")
                img.w-100(src="assets/img/home3/watch/watch_06.png", alt="")
            .box-content-5-text
              h4
                a(href="#") Kim Jong Un Oversees Military Parade
        |
        |
        .col-6.col-md-3
          .wrap-box-content
            .box-content-5
              a(href="#")
                img.w-100(src="assets/img/home3/watch/watch_08.png", alt="")
            .box-content-5-text
              h4
                a(href="#") Beware the Rally in Emerging-Market Currencies
        |
        |
        .col-6.col-md-3
          .wrap-box-content
            .box-content-5
              a(href="#")
                img.w-100(src="assets/img/home3/watch/watch_10.png", alt="")
            .box-content-5-text
              h4
                a(href="#") How this brand is still thriving after two centuries
        |
        |
        .col-6.col-md-3
          .wrap-box-content
            .box-content-5
              a(href="#")
                img.w-100(src="assets/img/home3/watch/watch_12.png", alt="")
            .box-content-5-text
              h4
                a(href="#") Emirates Sees Slower U.S. Traffic in Fallout From Travel Bans
    |
    |
    .item
      .box-content-1.box-content-2
        a(href="#")
          img.w-100(src="assets/img/home3/watch/watch_03.png", alt="")
          img.play-icon(src="assets/img/home3/play-icon.png", alt="")
        a(href="#").box-content-1-overlay
        .box-content-2-featured
          h4
            a(href="#") Why Is It OK to Abuse Customers?
      |
      |
      .row
        .col-6.col-md-3
          .wrap-box-content
            .box-content-5
              a(href="#")
                img.w-100(src="assets/img/home3/watch/watch_06.png", alt="")
            .box-content-5-text
              h4
                a(href="#") Kim Jong Un Oversees Military Parade
        |
        |
        .col-6.col-md-3
          .wrap-box-content
            .box-content-5
              a(href="#")
                img.w-100(src="assets/img/home3/watch/watch_08.png", alt="")
            .box-content-5-text
              h4
                a(href="#") Beware the Rally in Emerging-Market Currencies
        |
        |
        .col-6.col-md-3
          .wrap-box-content
            .box-content-5
              a(href="#")
                img.w-100(src="assets/img/home3/watch/watch_10.png", alt="")
            .box-content-5-text
              h4
                a(href="#") How this brand is still thriving after two centuries
        |
        |
        .col-6.col-md-3
          .wrap-box-content
            .box-content-5
              a(href="#")
                img.w-100(src="assets/img/home3/watch/watch_12.png", alt="")
            .box-content-5-text
              h4
                a(href="#") Emirates Sees Slower U.S. Traffic in Fallout From Travel Bans
