.category6-main-content {
    .btn-accent-2 {
        margin-top: 15px;
        font-size: 10px;
        margin-bottom: 0;
    }

    .box-wrap {
        margin-bottom: 30px;
    }

    .wrap-btn {
        margin-top: 0px;
    }
}