// section article
sectiona.article
  h4.title-line.text-uppercase MOST ARTICLES
  .line-1.Mb40
    
  ul.article-list.list-unstyled
    li
      a(href="#") Bruce Hampton, 'granddaddy of the jam scene,' dies after collapsing on stag... meme 
      p MONMAG   |   June 27, 2017   |   52 Views
    li
      a(href="#") Jimmy Kimmel put a face on pre-existing conditions, his cousin says
      p MONMAG   |   June 27, 2017   |   72 Views
    li
      a(href="#") Chris Rock's awkward run-in with Michelle Obama
      p MONMAG   |   June 25, 2017   |   100 Views
    li
      a(href="#") Jimmy Kimmel tearfully reveals son's health crisis
      p MONMAG   |   June 24, 2017   |   35 Views
    li
      a(href="#") Ed Sheeran talks 'Game of Thrones' character
      p MONMAG   |   June 24, 2017   |   40 Views
    
