// section article
sectiona.article
  h4.title-line.text-uppercase MOST ARTICLES
  .line-1.Mb40
    
  ul.article-list.list-unstyled
    li
      a(href="#") Bruce Hampton, 'granddaddy of the jam scene,' dies after collapsing on stag... meme 
      p.metadata
        a(href="#") MONMAG
        span.line-divine |
        a(href="#") June 27, 2017
        span.line-divine |
        a(href="#") 52 Views
    li
      a(href="#") Jimmy Kimmel put a face on pre-existing conditions, his cousin says
      p.metadata
        a(href="#") MONMAG
        span.line-divine |
        a(href="#") June 27, 2017
        span.line-divine |
        a(href="#") 72 Views
    li
      a(href="#") Chris Rock's awkward run-in with Michelle Obama
      p.metadata
        a(href="#") MONMAG
        span.line-divine |
        a(href="#") June 25, 2017
        span.line-divine |
        a(href="#") 100 Views
    li
      a(href="#") Jimmy Kimmel tearfully reveals son's health crisis
      p.metadata
        a(href="#") MONMAG
        span.line-divine |
        a(href="#") June 24, 2017
        span.line-divine |
        a(href="#") 35 Views
    li
      a(href="#") Ed Sheeran talks 'Game of Thrones' character
      p.metadata
        a(href="#") MONMAG
        span.line-divine |
        a(href="#") June 24, 2017
        span.line-divine |
        a(href="#") 40 Views
    
