//section carousel
section.carousel.home2-carousel
  .owl-carousel.owl-theme.carousel-2
    .item
      .wrap-item
        .type-box
          a.btn.btn-type.text-uppercase(href="#") FASHION
        img(src="assets/img/home2/carousel/image-1.png", alt="")
        .white-overlay
        .black-overlay
        .content-box
          h4
            a(href="#") Helen Alice debuts a shorter haircut on social media, earns instant praise from fans
          p.metadata 
            a(href="#") MONMAG
            span.line-divine |
            a(href="#") June 27, 2017
            span.line-divine |
            a(href="#") 42 Views
    |
    |
    .item
      .wrap-item
        .type-box
          a.btn.btn-type.text-uppercase(href="#") LIFESTYLE
        img(src="assets/img/home2/carousel/image-2.png", alt="")
        .white-overlay
        .black-overlay
        .content-box
          h4
            a(href="#") Meet the Comedian Who Trolled Sean Spicer, United Airlines and Pepsi in 1 Meme
          p.metadata 
            a(href="#") MONMAG
            span.line-divine |
            a(href="#") June 27, 2017
            span.line-divine |
            a(href="#") 42 Views
    |    
    |
    .item
      .wrap-item
        .type-box
          a.btn.btn-type.text-uppercase(href="#") LIFESTYLE
        img(src="assets/img/home2/carousel/image-3.png", alt="")
        .white-overlay
        .black-overlay
        .content-box
          h4
            a(href="#") Meet the Comedian Who Trolled Sean Spicer, United Airlines and Pepsi in 1 Meme
          p.metadata 
            a(href="#") MONMAG
            span.line-divine |
            a(href="#") June 27, 2017
            span.line-divine |
            a(href="#") 42 Views
        
  
