// section connected
section.connected
  h4.title-line.text-uppercase Stay Connected
  .line-1.Mb40
  |
  |
  .wrap-connected
    .social-box
      a(href="#"): i.fa.fa-search(aria-hidden='true')
    .social-box
      a(href="#"): i.fa.fa-twitter(aria-hidden='true')
    .social-box
      a(href="#"): i.fa.fa-google-plus(aria-hidden='true')
    .social-box
      a(href="#"): i.fa.fa-envelope(aria-hidden='true')

  
