// section featured
section.home2-featured
  h4.title-line.text-uppercase FEATURED NEWS
  .line-1.Mb40
  |
  |
  .row
    .col-md-12
      .box-content-1.box-content-2
        .box-content-1-type
          a.btn.btn-type.text-uppercase(href="#") FASHION
        img.w-100(src="assets/img/home2/featured/featured_03.png", alt="")
        a(href="#").box-content-1-overlay
        .box-content-2-featured
          h4
            a(href="#") Lucy Continues to Slay in New Pregnancy Pics See the All-Black Look!
          p MONMAG   |   June 27, 2017   |   42 Views
    |
    |      
    .col-md-6
      .box-content-1
        .box-content-1-type
          a.btn.btn-type.text-uppercase(href="#") FASHION
        img.w-100(src="assets/img/home2/featured/featured_06.png", alt="")
        a(href="#").box-content-1-overlay
      .box-content-1-text
        h4
          a(href="#") Caroline Herschel Shares Adorable Pic of Her Kids Headed Off to School
        p MONMAG   |   June 27, 2017   |   42 Views
    |
    |    
    .col-md-6
      .box-content-1
        .box-content-1-type
          a.btn.btn-type.text-uppercase(href="#") FASHION
        img.w-100(src="assets/img/home2/featured/featured_08.png", alt="")
        a(href="#").box-content-1-overlay
      .box-content-1-text
        h4
          a(href="#") Caroline Smith Voted Off 'Survivor: Game Changers' Weeks After Being
        p MONMAG   |   June 27, 2017   |   42 Views
    |
    |        
    .col-md-6
      .box-content-1
        .box-content-1-type
          a.btn.btn-type.text-uppercase(href="#") FASHION
        img.w-100(src="assets/img/home2/featured/featured_11.png", alt="")
        a(href="#").box-content-1-overlay
      .box-content-1-text
        h4
          a(href="#") Amelia Is Coming to 'Carpool Karaoke' With Anthony!
        p MONMAG   |   June 27, 2017   |   42 Views
    |
    |        
    .col-md-6
      .box-content-1
        .box-content-1-type
          a.btn.btn-type.text-uppercase(href="#") FASHION
        img.w-100(src="assets/img/home2/featured/featured_12.png", alt="")
        a(href="#").box-content-1-overlay
      .box-content-1-text
        h4
          a(href="#") Bernadette Teaches San Thai the 'Basic' Rules of the UNE
        p MONMAG   |   June 27, 2017   |   42 Views
