.row
  .col-md-5.Mb50
    //section hotgraphies
    section.hotgraphies
      h4.title-line.text-uppercase HOTGRAPHIES
      .line-1.Mb40
      .owl-carousel.owl-theme.carousel-4.custom-nav
        .item
          .box-content-3.box-content-4
            img.w-100(src="assets/img/home2/modern-hotgraphies/image_03.png", alt="")
            a(href="#").box-content-3-overlay
            .box-content-3-featured
              h4
                a(href="#") 'May the Fourth' be with these action figures on Star Wars Day
              p.metadata-1
                a(href="#") MONMAG
                span.line-divine |
                a(href="#") June 27, 2017
                span.line-divine |
                a(href="#") 42 Views
              
        .item
          .box-content-3.box-content-4
            img.w-100(src="assets/img/home2/modern-hotgraphies/image_03.png", alt="")
            a(href="#").box-content-3-overlay
            .box-content-3-featured
              h4
                a(href="#") 'May the Fourth' be with these action figures on Star Wars Day
              p.metadata-1
                a(href="#") MONMAG
                span.line-divine |
                a(href="#") June 27, 2017
                span.line-divine |
                a(href="#") 42 Views
              
        .item
          .box-content-3.box-content-4
            img.w-100(src="assets/img/home2/modern-hotgraphies/image_03.png", alt="")
            a(href="#").box-content-3-overlay
            .box-content-3-featured
              h4
                a(href="#") 'May the Fourth' be with these action figures on Star Wars Day
              p.metadata-1
                a(href="#") MONMAG
                span.line-divine |
                a(href="#") June 27, 2017
                span.line-divine |
                a(href="#") 42 Views
              
        .item
          .box-content-3.box-content-4
            img.w-100(src="assets/img/home2/modern-hotgraphies/image_03.png", alt="")
            a(href="#").box-content-3-overlay
            .box-content-3-featured
              h4
                a(href="#") 'May the Fourth' be with these action figures on Star Wars Day
              p.metadata-1
                a(href="#") MONMAG
                span.line-divine |
                a(href="#") June 27, 2017
                span.line-divine |
                a(href="#") 42 Views
  |
  |        
  .col-md-7
    //section modern design
    section.modern-design
      h4.title-line.text-uppercase MODERN DESIGN
      .line-1.Mb40
      .owl-carousel.owl-theme.carousel-5.custom-nav
        .item
          .media.media-1
            a(href="#"): img.mr-3(src='assets/img/home2/modern-hotgraphies/image_05.png', alt='Generic placeholder image')
            |   
            .media-body
              a(href="#"): h5.mt-0 ‘Impotent fury and sadness’ after shut down
              p.metadata
                a(href="#") MONMAG
                span.line-divine |
                a(href="#") June 26, 2017
                span.line-divine |
                a(href="#") 92 Views
          |
          |
          .media.media-1
            a(href="#"): img.mr-3(src='assets/img/home2/modern-hotgraphies/image_08.png', alt='Generic placeholder image')
            |   
            .media-body
              a(href="#"): h5.mt-0 Big stars sign on for new Lion King movie 
              p.metadata
                a(href="#") MONMAG
                span.line-divine |
                a(href="#") June 26, 2017
                span.line-divine |
                a(href="#") 92 Views    
              
        .item
          .media.media-1
            a(href="#"): img.mr-3(src='assets/img/home2/modern-hotgraphies/image_05.png', alt='Generic placeholder image')
            |   
            .media-body
              a(href="#"): h5.mt-0 ‘Impotent fury and sadness’ after shut down
              p.metadata
                a(href="#") MONMAG
                span.line-divine |
                a(href="#") June 26, 2017
                span.line-divine |
                a(href="#") 92 Views
          |
          |
          .media.media-1
            a(href="#"): img.mr-3(src='assets/img/home2/modern-hotgraphies/image_08.png', alt='Generic placeholder image')
            |   
            .media-body
              a(href="#"): h5.mt-0 Big stars sign on for new Lion King movie 
              p.metadata
                a(href="#") MONMAG
                span.line-divine |
                a(href="#") June 26, 2017
                span.line-divine |
                a(href="#") 92 Views   
              
        .item
          .media.media-1
            a(href="#"): img.mr-3(src='assets/img/home2/modern-hotgraphies/image_05.png', alt='Generic placeholder image')
            |   
            .media-body
              a(href="#"): h5.mt-0 ‘Impotent fury and sadness’ after shut down
              p.metadata
                a(href="#") MONMAG
                span.line-divine |
                a(href="#") June 26, 2017
                span.line-divine |
                a(href="#") 92 Views
          |
          |
          .media.media-1
            a(href="#"): img.mr-3(src='assets/img/home2/modern-hotgraphies/image_08.png', alt='Generic placeholder image')
            |   
            .media-body
              a(href="#"): h5.mt-0 Big stars sign on for new Lion King movie 
              p.metadata
                a(href="#") MONMAG
                span.line-divine |
                a(href="#") June 26, 2017
                span.line-divine |
                a(href="#") 92 Views   
          

          
