//section latest
section.latest
  h4.title-line.text-uppercase Stay Connected
  .line-1.Mb40
  |
  |
  .box-content-1
    .box-content-1-type
      a.btn.btn-type.text-uppercase(href="#") FASHION
    img.w-100(src="assets/img/home2/latest/latest_03.png", alt="")
    a(href="#").box-content-1-overlay
  .box-content-1-text
    h4
      a(href="#") Caroline Herschel Shares Adorable Pic of Her Kids Headed Off to School
    p MONMAG   |   June 27, 2017   |   42 Views
  .Mb20
  |
  |
  .list-latest
    .media.media-2
      a(href="#"): img.mr-3(src='assets/img/home2/latest/latest_06.png', alt='Generic placeholder image')
      |   
      .media-body
        a(href="#"): h5.mt-0 Movie Madonna is furious about but powerless to stop
        p MONMAG   |   June 26, 2017   |   92 Views
    |
    |
    .media.media-2
      a(href="#"): img.mr-3(src='assets/img/home2/latest/latest_09.png', alt='Generic placeholder image')
      |   
      .media-body
        a(href="#"): h5.mt-0 The scariest shark movie since Jaws?
        p MONMAG   |   June 26, 2017   |   92 Views
    |
    |
    .media.media-2
      a(href="#"): img.mr-3(src='assets/img/home2/latest/latest_11.png', alt='Generic placeholder image')
      |   
      .media-body
        a(href="#"): h5.mt-0 A-listers named for Lion King remake
        p MONMAG   |   June 26, 2017   |   92 Views
    |
    |
    .media.media-2
      a(href="#"): img.mr-3(src='assets/img/home2/latest/latest_13.png', alt='Generic placeholder image')
      |   
      .media-body
        a(href="#"): h5.mt-0 Inside the sleepless nights of Heath Ledger
        p MONMAG   |   June 26, 2017   |   92 Views
    |
    |
    .media.media-2
      a(href="#"): img.mr-3(src='assets/img/home2/latest/latest_15.png', alt='Generic placeholder image')
      |   
      .media-body
        a(href="#"): h5.mt-0 Goldie Hawn wishes she hadn’t been so successful
        p MONMAG   |   June 26, 2017   |   92 Views
    |
    |
    .media.media-2
      a(href="#"): img.mr-3(src='assets/img/home2/latest/latest_17.png', alt='Generic placeholder image')
      |   
      .media-body
        a(href="#"): h5.mt-0 How Hemsworth gets so bloody ripped
        p MONMAG   |   June 26, 2017   |   92 Views
    |
    |
    .media.media-2
      a(href="#"): img.mr-3(src='assets/img/home2/latest/latest_19.png', alt='Generic placeholder image')
      |   
      .media-body
        a(href="#"): h5.mt-0 Mulan fans outraged about new movie
        p MONMAG   |   June 26, 2017   |   92 Views    
          
          
  
