// section movie
section.home2-movie.Mb60
  h4.title-line.text-uppercase MOVIE NEWS
  .line-1.Mb40
  |
  |  
  .owl-carousel.owl-theme.carousel-1.custom-nav
    .item
      .box-content-3.box-content-4
        img.w-100(src="assets/img/home2/movie/movie_03.png", alt="")
        a(href="#").box-content-3-overlay
        .box-content-3-featured
          h4
            a(href="#") 'May the Fourth' be with these action figures on Star Wars Day
          p MIEMAG   |   June 27, 2017   |   42 Views
    |
    |      
    .item
      .box-content-3.box-content-4
        img.w-100(src="assets/img/home2/movie/movie_05.png", alt="")
        a(href="#").box-content-3-overlay
        .box-content-3-featured
          h4
            a(href="#") The British Prime Minister And George Clooney Share More Than You Might Imagine
          p MIEMAG   |   June 27, 2017   |   42 Views
    |
    |      
    .item
      .box-content-3.box-content-4
        img.w-100(src="assets/img/home2/movie/movie_07.png", alt="")
        a(href="#").box-content-3-overlay
        .box-content-3-featured
          h4
            a(href="#") Janet Jackson says she will resume world tour, addresses split from husband
          p MIEMAG   |   June 27, 2017   |   42 Views
    |
    |      
    .item
      .box-content-3.box-content-4
        img.w-100(src="assets/img/home2/movie/movie_03.png", alt="")
        a(href="#").box-content-3-overlay
        .box-content-3-featured
          h4
            a(href="#") 'May the Fourth' be with these action figures on Star Wars Day
          p MIEMAG   |   June 27, 2017   |   42 Views
    |
    |      
    .item
      .box-content-3.box-content-4
        img.w-100(src="assets/img/home2/movie/movie_05.png", alt="")
        a(href="#").box-content-3-overlay
        .box-content-3-featured
          h4
            a(href="#") Janet Jackson says she will resume world tour, addresses split from husband
          p MIEMAG   |   June 27, 2017   |   42 Views
