//section subscribe
section.subscribe
  .subscribe-wrap
    h4.title-line.text-uppercase SUBSCRIBE
    .line-3.Mb40
    |
    |
    form.subscribe-form
      input.form-control(type="text" placeholder="Enter your email...")
      a.btn.btn-type(href="#"): i.fa.fa-envelope-o(aria-hidden='true')
