//section video
section.video
  .container
    h4.title-line.text-uppercase WATCH IT
    .line-1.Mb40
      
  .owl-carousel.owl-theme.carousel-6
    .item
      .box-content-video
        .box-content-video-wrap
          a(href="#")
            img(src="assets/img/home2/video/video_03.png", alt="")
            img.play-icon(src="assets/img/home2/video/play-icon.png", alt="")
          
        a(href="#"): h5 La La Land skewered in honest trailer
        p.metadata-1
          a(href="#") June 27, 2017
          span.line-divine |
          a(href="#") 12 Views
    |
    |    
    .item
      .box-content-video
        .box-content-video-wrap
          a(href="#")
            img(src="assets/img/home2/video/video_05.png", alt="")
            img.play-icon(src="assets/img/home2/video/play-icon.png", alt="")
        a(href="#"): h5 La La Land skewered in honest trailer
        p.metadata-1
          a(href="#") June 27, 2017
          span.line-divine |
          a(href="#") 12 Views
    |
    |
    .item
      .box-content-video
        .box-content-video-wrap
          a(href="#")
            img(src="assets/img/home2/video/video_07.png", alt="")
            img.play-icon(src="assets/img/home2/video/play-icon.png", alt="")
        a(href="#"): h5 La La Land skewered in honest trailer
        p.metadata-1
          a(href="#") June 27, 2017
          span.line-divine |
          a(href="#") 12 Views
    |
    |
    .item
      .box-content-video
        .box-content-video-wrap
          a(href="#")
            img(src="assets/img/home2/video/video_09.png", alt="")
            img.play-icon(src="assets/img/home2/video/play-icon.png", alt="")
        a(href="#"): h5 La La Land skewered in honest trailer
        p.metadata-1
          a(href="#") June 27, 2017
          span.line-divine |
          a(href="#") 12 Views
    |
    |
    .item
      .box-content-video
        .box-content-video-wrap
          a(href="#")
            img(src="assets/img/home2/video/video_11.png", alt="")
            img.play-icon(src="assets/img/home2/video/play-icon.png", alt="")
        a(href="#"): h5 La La Land skewered in honest trailer
        p.metadata-1
          a(href="#") June 27, 2017
          span.line-divine |
          a(href="#") 12 Views
    |
    |
    .item
      .box-content-video
        .box-content-video-wrap
          a(href="#")
            img(src="assets/img/home2/video/video_13.png", alt="")
            img.play-icon(src="assets/img/home2/video/play-icon.png", alt="")
        a(href="#"): h5 La La Land skewered in honest trailer
        p.metadata-1
          a(href="#") June 27, 2017
          span.line-divine |
          a(href="#") 12 Views
    |
    |
    .item
      .box-content-video
        .box-content-video-wrap
          a(href="#")
            img(src="assets/img/home2/video/video_22.png", alt="")
            img.play-icon(src="assets/img/home2/video/play-icon.png", alt="")
        a(href="#"): h5 La La Land skewered in honest trailer
        p.metadata-1
          a(href="#") June 27, 2017
          span.line-divine |
          a(href="#") 12 Views
    |
    |
    .item
      .box-content-video
        .box-content-video-wrap
          a(href="#")
            img(src="assets/img/home2/video/video_25.png", alt="")
            img.play-icon(src="assets/img/home2/video/play-icon.png", alt="")
        a(href="#"): h5 La La Land skewered in honest trailer
        p.metadata-1
          a(href="#") June 27, 2017
          span.line-divine |
          a(href="#") 12 Views
        
