// section destination
section.home5-destination
    h4.title-line.text-uppercase TOP DESTINATION
            .line-10.Mb40
    |
    |
    .owl-carousel.owl-theme.carousel-destination.custom-nav
        .item
            .box-content-7
                img(src="assets/img/home5/destination/destination_03.png", alt="")
                a(href="#").box-content-7-overlay
                a.box-text.text-uppercase(href="#") ROMANCE
        |
        |
        .item
            .box-content-7
                img(src="assets/img/home5/destination/destination_05.png", alt="")
                a(href="#").box-content-7-overlay
                a.box-text.text-uppercase(href="#") PoP
        |
        |
        .item
            .box-content-7
                img(src="assets/img/home5/destination/destination_07.png", alt="")
                a(href="#").box-content-7-overlay
                a.box-text.text-uppercase(href="#") Jazz
        |
        |
        .item
            .box-content-7
                img(src="assets/img/home5/destination/destination_09.png", alt="")
                a(href="#").box-content-7-overlay
                a.box-text.text-uppercase(href="#") BALLAD
        |
        |
        .item
            .box-content-7
                img(src="assets/img/home5/destination/destination_03.png", alt="")
                a(href="#").box-content-7-overlay
                a.box-text.text-uppercase(href="#") ROMANCE
        |
        |
        .item
            .box-content-7
                img(src="assets/img/home5/destination/destination_05.png", alt="")
                a(href="#").box-content-7-overlay
                a.box-text.text-uppercase(href="#") PoP
        |
        |
        .item
            .box-content-7
                img(src="assets/img/home5/destination/destination_07.png", alt="")
                a(href="#").box-content-7-overlay
                a.box-text.text-uppercase(href="#") Jazz
        |
        |
        .item
            .box-content-7
                img(src="assets/img/home5/destination/destination_09.png", alt="")
                a(href="#").box-content-7-overlay
                a.box-text.text-uppercase(href="#") BALLAD