// section footer
section.footer-wrap.home5-footer
  .container
    .row
      .col-md-12.col-lg-4.footer-col.footer-col-1
        a(href="#"): img(src="assets/img/home5/header/logo.png", alt="")
        p MONMangazine, which is known for showing satellite imagery, topography and 3D buildings, unveiled new low features on Tuesday that offer additional information and more interactive experiences.
        ul.list-unstyled
          li
            i.fa.fa-map-marker(aria-hidden='true')
            span 935-994 Tortor. Street Santa Rosa
          li
            i.fa.fa-phone(aria-hidden='true')
            span +88 3333 6789
          li
            i.fa.fa-envelope-o(aria-hidden='true')
            span hello@eplus-themes.com
      |
      |
      .col-md-12.col-lg-4.footer-col.footer-col-2
        h4.footer-title.text-uppercase TRENDING
        .media.media-2
          a(href="#"): img.mr-3(src='assets/img/home2/footer/post_03.png', alt='Generic placeholder image')
          |   
          .media-body
            a(href="#"): h5.mt-0 Cleveland Murder Intensifies Scrutiny of Facebook Live
            p.metadata
              a(href="#") MONMAG
              span.line-divine |
              a(href="#") June 14, 2017
        |
        |
        .media.media-2
          a(href="#"): img.mr-3(src='assets/img/home2/footer/post_06.png', alt='Generic placeholder image')
          |   
          .media-body
            a(href="#"): h5.mt-0 Reversing Net Neutrality
            p.metadata
              a(href="#") MONMAG
              span.line-divine |
              a(href="#") June 14, 2017
        |
        |
        .media.media-2
          a(href="#"): img.mr-3(src='assets/img/home2/footer/post_08.png', alt='Generic placeholder image')
          |   
          .media-body
            a(href="#"): h5.mt-0 Salesforce Offers AI-Powered CRM for Financial Advisors
            p.metadata
              a(href="#") MONMAG
              span.line-divine |
              a(href="#") June 14, 2017
      |
      |
      .col-md-12.col-lg-4.footer-col.footer-col-3
        h4.footer-title.text-uppercase INSTAGRAM
        .social-1
          .social-box
            a(href="#"): img(src="assets/img/home5/instagram/instagram_03.png", alt="")
          .social-box
            a(href="#"): img(src="assets/img/home5/instagram/instagram_05.png", alt="")
          .social-box
            a(href="#"): img(src="assets/img/home5/instagram/instagram_07.png", alt="")
          .social-box
            a(href="#"): img(src="assets/img/home5/instagram/instagram_12.png", alt="")
          .social-box
            a(href="#"): img(src="assets/img/home5/instagram/instagram_13.png", alt="")
          .social-box
            a(href="#"): img(src="assets/img/home5/instagram/instagram_14.png", alt="")
|
|
// section copyright
section.copyright
  p © Copyright 2017 
    a(href="#") MONMagazine
    |  by Eplus-themes.            

              
        
