header.header2.home5-header
  // section topbar
  section.topbar
    .container
      .row
        .col-md-6
          p.text-uppercase WELCOME TO MONMAG
        |
        |  
        .col-md-6
          p
            a(href="login.html") Login
            span |
            a(href="login.html") Register
  |
  |
  // section menu
  section.menu
    .container
      .row
        nav.navbar.navbar-expand-lg.navbar-light.bg-light.justify-content-between
          a.navbar-brand(href='#')
            img(src="assets/img/home5/header/logo.png", alt="")
          |   
          button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
          |   
          #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.mr-auto.text-uppercase
              li.nav-item.active
                a.nav-link(href='#')
                  | HOMEPAGES 
                  span.sr-only (current)
              |       
              li.nav-item
                a.nav-link(href='#') OTHERPAGES 
              |       
              li.nav-item
                a.nav-link(href='#') MEGAMENU
              |       
              li.nav-item
                a.nav-link(href='#') ABOUT
              |       
              li.nav-item
                a.nav-link(href='#') CONTACT
            |
            |    
            a.search-btn(href="#")
              i.fa.fa-search(aria-hidden='true')

              
        
            
