//section hot-new
section.latest.home1-hot.home5-hot
  h4.title-line.text-uppercase Hot news
  .line-10.Mb40
  |
  |
  .row
    .col-md-6
      .box-1-wrap
        .box-content-1
          a(href="#")
            img.w-100(src="assets/img/home5/hot-new/new_03.png", alt="")
        .box-content-1-text
          h4
            a(href="#") Happy People Live Longer, Says Study
          p.metadata 
            a(href="#") June 27, 2017
            span.line-divine |
            a(href="#") 42 Views
    |
    |
    .col-md-6
      .box-1-wrap
        .box-content-1
          a(href="#")
            img.w-100(src="assets/img/home5/hot-new/new_05.png", alt="")
        .box-content-1-text
          h4
            a(href="#") You Can Achieve Happiness In Life
          p.metadata 
            a(href="#") June 27, 2017
            span.line-divine |
            a(href="#") 42 Views
    |
    |
    .col-md-6
      .box-1-wrap
        .box-content-1
          a(href="#")
            img.w-100(src="assets/img/home5/hot-new/new_10.png", alt="")
        .box-content-1-text
          h4
            a(href="#")  Germany eyes new North Korea
          p.metadata 
            a(href="#") June 27, 2017
            span.line-divine |
            a(href="#") 42 Views
    |
    |
    .col-md-6
      .box-1-wrap
        .box-content-1
          a(href="#")
            img.w-100(src="assets/img/home5/hot-new/new_11.png", alt="")
        .box-content-1-text
          h4
            a(href="#") Theresa May: What you need to know
          p.metadata 
            a(href="#") June 27, 2017
            span.line-divine |
            a(href="#") 42 Views
    |
    |
    .col-md-6
      .box-1-wrap
        .box-content-1
          a(href="#")
            img.w-100(src="assets/img/home5/hot-new/new_15.png", alt="")
        .box-content-1-text
          h4
            a(href="#")  Uninhabited island is the most polluted in
          p.metadata 
            a(href="#") June 27, 2017
            span.line-divine |
            a(href="#") 42 Views
    |
    |
    .col-md-6
      .box-1-wrap
        .box-content-1
          a(href="#")
            img.w-100(src="assets/img/home5/hot-new/new_16.png", alt="")
        .box-content-1-text
          h4
            a(href="#")  Chris Cornell on Seattle's grunge era
          p.metadata 
            a(href="#") June 27, 2017
            span.line-divine |
            a(href="#") 42 Views
    |
    |
    .col-md-6
      .box-1-wrap
        .box-content-1
          a(href="#")
            img.w-100(src="assets/img/home5/hot-new/new_19.png", alt="")
        .box-content-1-text
          h4
            a(href="#") Uninhabited island is the most polluted in
          p.metadata 
            a(href="#") June 27, 2017
            span.line-divine |
            a(href="#") 42 Views
    |
    |
    .col-md-6
      .box-1-wrap
        .box-content-1
          a(href="#")
            img.w-100(src="assets/img/home5/hot-new/new_20.png", alt="")
        .box-content-1-text
          h4
            a(href="#") 7 Things Your Wife Wishes You'd Do More
          p.metadata 
            a(href="#") June 27, 2017
            span.line-divine |
            a(href="#") 42 Views
  
