// section last-video
section.home5-last-video
    h4.title-line.text-uppercase LAST VIDEO
        .line-10.Mb40
    |
    |
    .row
        .col-md-6
            .box-content-video-2
                    .box-content-video-wrap
                        a(href="#")
                            img.w-100(src="assets/img/home5/last-video/last_03.png", alt="")
                        
                    a(href="#"): h5 The One Thing You Should Be Spending Money on to Be Happy
                    p.metadata
                        a(href="#") MONMAG
                        span.line-divine |
                        a(href="#") June 27, 2017
                        span.line-divine |
                        a(href="#") 42 Views
        |
        |
        .col-md-6
            .box-content-video-2
                    .box-content-video-wrap
                        a(href="#")
                            img.w-100(src="assets/img/home5/last-video/last_05.png", alt="")
                        
                    a(href="#"): h5 The One Thing You Should Be Spending Money on to Be Happy
                    p.metadata
                        a(href="#") MONMAG
                        span.line-divine |
                        a(href="#") June 27, 2017
                        span.line-divine |
                        a(href="#") 42 Views
        |
        |
        .col-md-6
            .box-content-video-2
                    .box-content-video-wrap
                        a(href="#")
                            img.w-100(src="assets/img/home5/last-video/last_09.png", alt="")
                        
                    a(href="#"): h5 The 5 Things You Should Do After Being Hacked
                    p.metadata
                        a(href="#") MONMAG
                        span.line-divine |
                        a(href="#") June 27, 2017
                        span.line-divine |
                        a(href="#") 42 Views
        |
        |
        .col-md-6
            .box-content-video-2
                    .box-content-video-wrap
                        a(href="#")
                            img.w-100(src="assets/img/home5/last-video/last_10.png", alt="")
                        
                    a(href="#"): h5 Most expensive shore excursions that might be worth your money
                    p.metadata
                        a(href="#") MONMAG
                        span.line-divine |
                        a(href="#") June 27, 2017
                        span.line-divine |
                        a(href="#") 42 Views
        |
        |
        .col-md-6
            .box-content-video-2
                    .box-content-video-wrap
                        a(href="#")
                            img.w-100(src="assets/img/home5/last-video/last_13.png", alt="")
                        
                    a(href="#"): h5 5 travel innovations that will upgrade your summer adventures
                    p.metadata
                        a(href="#") MONMAG
                        span.line-divine |
                        a(href="#") June 27, 2017
                        span.line-divine |
                        a(href="#") 42 Views
        |
        |
        .col-md-6
            .box-content-video-2
                    .box-content-video-wrap
                        a(href="#")
                            img.w-100(src="assets/img/home5/last-video/last_14.png", alt="")
                        
                    a(href="#"): h5 Eating Cheese Does Not Increase the Risk of Heart Attack or Stroke
                    p.metadata
                        a(href="#") MONMAG
                        span.line-divine |
                        a(href="#") June 27, 2017
                        span.line-divine |
                        a(href="#") 42 Views
        |
        |
        .col-md-6
            .box-content-video-2
                    .box-content-video-wrap
                        a(href="#")
                            img.w-100(src="assets/img/home5/last-video/last_17.png", alt="")
                        
                    a(href="#"): h5 Why Your Credit Score Matters and Tips to Improve It
                    p.metadata
                        a(href="#") MONMAG
                        span.line-divine |
                        a(href="#") June 27, 2017
                        span.line-divine |
                        a(href="#") 42 Views
        |
        |
        .col-md-6
            .box-content-video-2
                    .box-content-video-wrap
                        a(href="#")
                            img.w-100(src="assets/img/home5/last-video/last_18.png", alt="")
                        
                    a(href="#"): h5 9 Healthy Kitchen Staples That Cost Less Than $1 Per Serving
                    p.metadata
                        a(href="#") MONMAG
                        span.line-divine |
                        a(href="#") June 27, 2017
                        span.line-divine |
                        a(href="#") 42 Views