// section most-view
section.home5-most
    h4.title-line.text-uppercase Most Viewed Today
            .line-10.Mb40
    |
    |
    .row
        .col-md-6
            .box-content-video-2
                .box-content-video-wrap
                    a(href="#")
                        img.w-100(src="assets/img/home5/most-view/most_03.png", alt="")
                    
                a(href="#"): h5 The One Thing You Should Be Spending Money on to Be Happy
                p.metadata
                    a(href="#") MONMAG
                    span.line-divine |
                    a(href="#") June 27, 2017
                    span.line-divine |
                    a(href="#") 42 Views
        |
        |
        .col-md-6
            .box-content-video-2
                .box-content-video-wrap
                    a(href="#")
                        img.w-100(src="assets/img/home5/most-view/most_05.png", alt="")
                    
                a(href="#"): h5 Out with The Young Pope, in with The New Pope
                p.metadata
                    a(href="#") MONMAG
                    span.line-divine |
                    a(href="#") June 27, 2017
                    span.line-divine |
                    a(href="#") 42 Views
        |
        |
        .col-md-6
            .box-content-video-2
                .box-content-video-wrap
                    a(href="#")
                        img.w-100(src="assets/img/home5/most-view/most_09.png", alt="")
                    
                a(href="#"): h5 5 Things to Know About Taylor Swift's Rumored New Boyfriend, Joe Alwyn
                p.metadata
                    a(href="#") MONMAG
                    span.line-divine |
                    a(href="#") June 27, 2017
                    span.line-divine |
                    a(href="#") 42 Views
        |
        |
        .col-md-6
            .box-content-video-2
                .box-content-video-wrap
                    a(href="#")
                        img.w-100(src="assets/img/home5/most-view/most_10.png", alt="")
                    
                a(href="#"): h5 Harry Styles set to beat Sheeran in UK charts
                p.metadata
                    a(href="#") MONMAG
                    span.line-divine |
                    a(href="#") June 27, 2017
                    span.line-divine |
                    a(href="#") 42 Views