// section movie
section.home5-movie
    .container
        h4.title-line.text-uppercase movie
        .line-10.Mb40
        |
        |
        .row
            .col-md-6
                .box-content-video-2
                    .box-content-video-wrap
                        a(href="#")
                            img.w-100(src="assets/img/home5/movie/movie_03.png", alt="")
                        
                    a(href="#"): h5 Romance & Music: ‘White Christmas’ At The Ordway
                    p.metadata
                        a(href="#") MONMAG
                        span.line-divine |
                        a(href="#") June 27, 2017
                        span.line-divine |
                        a(href="#") 42 Views
            |
            |
            .col-md-6.right-movie
                .row
                    .col-md-4
                        .box-content-video-2
                            .box-content-video-wrap
                                a(href="#")
                                    img.w-100(src="assets/img/home5/movie/movie_05.png", alt="")
                                
                            a(href="#"): h5 Mesmerizing sunrise over Camano Island
                            p.metadata
                                a(href="#") June 27, 2017
                                span.line-divine |
                                a(href="#") 42 Views
                    |
                    |
                    .col-md-4
                        .box-content-video-2
                            .box-content-video-wrap
                                a(href="#")
                                    img.w-100(src="assets/img/home5/movie/movie_07.png", alt="")
                                
                            a(href="#"): h5 Two teens who eluded security to stage a noc
                            p.metadata
                                a(href="#") June 27, 2017
                                span.line-divine |
                                a(href="#") 42 Views
                    |
                    |
                    .col-md-4
                        .box-content-video-2
                            .box-content-video-wrap
                                a(href="#")
                                    img.w-100(src="assets/img/home5/movie/movie_09.png", alt="")
                                
                            a(href="#"): h5 Germany eyes new North Korea
                            p.metadata
                                a(href="#") June 27, 2017
                                span.line-divine |
                                a(href="#") 42 Views
                    |
                    |
                    .col-md-4
                        .box-content-video-2
                            .box-content-video-wrap
                                a(href="#")
                                    img.w-100(src="assets/img/home5/movie/movie_14.png", alt="")
                                
                            a(href="#"): h5 Princess giving up royal status for love
                            p.metadata
                                a(href="#") June 27, 2017
                                span.line-divine |
                                a(href="#") 42 Views
                    |
                    |
                    .col-md-4
                        .box-content-video-2
                            .box-content-video-wrap
                                a(href="#")
                                    img.w-100(src="assets/img/home5/movie/movie_15.png", alt="")
                                
                            a(href="#"): h5 Everyone loves this 86-year-old referee
                            p.metadata
                                a(href="#") June 27, 2017
                                span.line-divine |
                                a(href="#") 42 Views
                    |
                    |
                    .col-md-4
                        .box-content-video-2
                            .box-content-video-wrap
                                a(href="#")
                                    img.w-100(src="assets/img/home5/movie/movie_16.png", alt="")
                                
                            a(href="#"): h5 The Cheapest Places to Travel Each Month
                            p.metadata
                                a(href="#") June 27, 2017
                                span.line-divine |
                                a(href="#") 42 Views
