// section music
section.home5-movie.home5-music
    .container
        h4.title-line.text-uppercase MUSIC
        .line-10.Mb40
        |
        |
        .row
            .col-md-12.col-lg-6
                .box-content-video-2
                    .box-content-video-wrap
                        a(href="#")
                            img.w-100(src="assets/img/home5/music/music_03.png", alt="")
                        
                    a(href="#"): h5 Top 10 Best Music Videos October 2016
                    p.metadata
                        a(href="#") MONMAG
                        span.line-divine |
                        a(href="#") June 27, 2017
                        span.line-divine |
                        a(href="#") 42 Views
            |
            |
            .col-md-12.col-lg-6.right-movie
                .row
                    .col-6.col-md-4
                        .box-content-video-2
                            .box-content-video-wrap
                                a(href="#")
                                    img.w-100(src="assets/img/home5/music/music_05.png", alt="")
                                
                            a(href="#"): h5 Ylvis - Language of Love [Official music
                            p.metadata
                                a(href="#") June 27, 2017
                                span.line-divine |
                                a(href="#") 42 Views
                    |
                    |
                    .col-6.col-md-4
                        .box-content-video-2
                            .box-content-video-wrap
                                a(href="#")
                                    img.w-100(src="assets/img/home5/music/music_07.png", alt="")
                                
                            a(href="#"): h5 Billboard Music Awards' Wildest Moments Ever
                            p.metadata
                                a(href="#") June 27, 2017
                                span.line-divine |
                                a(href="#") 42 Views
                    |
                    |
                    .col-6.col-md-4
                        .box-content-video-2
                            .box-content-video-wrap
                                a(href="#")
                                    img.w-100(src="assets/img/home5/music/music_09.png", alt="")
                                
                            a(href="#"): h5 Sounds of the 80s
                            p.metadata
                                a(href="#") June 27, 2017
                                span.line-divine |
                                a(href="#") 42 Views
                    |
                    |
                    .col-6.col-md-4
                        .box-content-video-2
                            .box-content-video-wrap
                                a(href="#")
                                    img.w-100(src="assets/img/home5/music/music_14.png", alt="")
                                
                            a(href="#"): h5 SugarBeats - Groove City Romance EP
                            p.metadata
                                a(href="#") June 27, 2017
                                span.line-divine |
                                a(href="#") 42 Views
                    |
                    |
                    .col-6.col-md-4
                        .box-content-video-2
                            .box-content-video-wrap
                                a(href="#")
                                    img.w-100(src="assets/img/home5/music/music_15.png", alt="")
                                
                            a(href="#"): h5 Sharing the Joy of Christmas All Year Long
                            p.metadata
                                a(href="#") June 27, 2017
                                span.line-divine |
                                a(href="#") 42 Views
                    |
                    |
                    .col-6.col-md-4
                        .box-content-video-2
                            .box-content-video-wrap
                                a(href="#")
                                    img.w-100(src="assets/img/home5/music/music_16.png", alt="")
                                
                            a(href="#"): h5 Easy Star Records Sampler
                            p.metadata
                                a(href="#") June 27, 2017
                                span.line-divine |
                                a(href="#") 42 Views
