// section playlist
section.home5-playlist
    .container
        h4.title-line.text-uppercase Top playlist
        .line-10.Mb40
        |
        |
        .row
            .col-md-8
                .box-content-video-1
                    img.w-100(src="assets/img/home5/playlist/playlist_03.png", alt="")
                    a(href="#").box-content-3-overlay
                    a(href="#"): img.play-icon(src="assets/img/home2/video/play-icon.png", alt="")
                    .box-content-3-featured
                        h4
                            a(href="#") Dancing Mom Out Does Her Daughter
            |
            |
            .col-md-4
                .media.media-2
                    a(href="#"): img.mr-3(src='assets/img/home5/playlist/playlist_06.png', alt='Generic placeholder image')
                    |   
                    .media-body
                        a(href="#"): h5.mt-0 Dancing Mom Out Does Her Daughter
                        p.metadata
                            a(href="#") MONMAG
                            span.line-divine |
                            a(href="#") June 27, 2017
                            span.line-divine |
                            a(href="#") 42 Views
                |
                |
                .media.media-2
                    a(href="#"): img.mr-3(src='assets/img/home5/playlist/playlist_09.png', alt='Generic placeholder image')
                    |   
                    .media-body
                        a(href="#"): h5.mt-0 Eleven Celebrities on How They Spend Their Money
                        p.metadata
                            a(href="#") MONMAG
                            span.line-divine |
                            a(href="#") June 27, 2017
                            span.line-divine |
                            a(href="#") 42 Views
                |
                |
                .media.media-2
                    a(href="#"): img.mr-3(src='assets/img/home5/playlist/playlist_11.png', alt='Generic placeholder image')
                    |   
                    .media-body
                        a(href="#"): h5.mt-0 Poles Regain Stock Market Zest as Dino Polska Soars in Debut
                        p.metadata
                            a(href="#") MONMAG
                            span.line-divine |
                            a(href="#") June 27, 2017
                            span.line-divine |
                            a(href="#") 42 Views
                |
                |
                .media.media-2
                    a(href="#"): img.mr-3(src='assets/img/home5/playlist/playlist_13.png', alt='Generic placeholder image')
                    |   
                    .media-body
                        a(href="#"): h5.mt-0 This Is What Melinda Gates Is Reading
                        p.metadata
                            a(href="#") MONMAG
                            span.line-divine |
                            a(href="#") June 27, 2017
                            span.line-divine |
                            a(href="#") 42 Views
                |
                |
                .media.media-2
                    a(href="#"): img.mr-3(src='assets/img/home5/playlist/playlist_15.png', alt='Generic placeholder image')
                    |   
                    .media-body
                        a(href="#"): h5.mt-0 Adventure-seekers can sleep on the edge
                        p.metadata
                            a(href="#") MONMAG
                            span.line-divine |
                            a(href="#") June 27, 2017
                            span.line-divine |
                            a(href="#") 42 Views