// section ads-2
section.ads-2.home5-post-slider
  h4.title-line.text-uppercase POST SLIDER
  .line-10.Mb40
  |
  |
  .owl-carousel.owl-theme.carousel-13.custom-nav
    .item
        a(href="#"): img.w-100(src="assets/img/home5/ads/ads_03.png", alt="")
    |
    |
    .item
        a(href="#"): img.w-100(src="assets/img/home5/ads/ads_03.png", alt="")

    |
    |
    .item
        a(href="#"): img.w-100(src="assets/img/home5/ads/ads_03.png", alt="")

    |
    |
    .item
        a(href="#"): img.w-100(src="assets/img/home5/ads/ads_03.png", alt="")
