// section subscribe
section.home3-subscribe
  .container
    .row
      .col-md-4
        .wrap-subscribe
          .line-11.line-transform
          h4.text-uppercase SUBSCRIBE
          p.text-uppercase Get all latest news to your email
      |
      |
      .col-md-3.d-flex.align-items-center
        input.form-control(type="text" placeholder="Enter your name...")
      |
      |
      .col-md-3.d-flex.align-items-center
        input.form-control(type="text" placeholder="Enter your email...")
      |
      |
      .col-md-2.d-flex.align-items-center
        a.btn.btn-accent-3.btn-block.text-uppercase(href="#") SUBSCRIBE
