// section today
section.home5-today
    h4.title-line.text-uppercase NEW TODAY
        .line-10.Mb40
    |
    |
    .today-wrap
        .box-content-video
            .box-content-video-wrap
                a(href="#")
                    img.w-100(src="assets/img/home5/today/today_03.png", alt="")
                
            a(href="#"): h5 War for the Planet of the Apes Ends Caesar’s Story
        |
        |
        .box-content-video
            .box-content-video-wrap
                a(href="#")
                    img.w-100(src="assets/img/home5/today/today_05.png", alt="")
                
            a(href="#"): h5 War for the Planet of the Apes Ends Caesar’s Story
        |
        |
        .box-content-video
            .box-content-video-wrap
                a(href="#")
                    img.w-100(src="assets/img/home5/today/today_07.png", alt="")
                
            a(href="#"): h5 War for the Planet of the Apes Ends Caesar’s Story
        |
        |
        .box-content-video
            .box-content-video-wrap
                a(href="#")
                    img.w-100(src="assets/img/home5/today/today_12.png", alt="")
                
            a(href="#"): h5 War for the Planet of the Apes Ends Caesar’s Story
        |
        |
        .box-content-video
            .box-content-video-wrap
                a(href="#")
                    img.w-100(src="assets/img/home5/today/today_13.png", alt="")
                
            a(href="#"): h5 War for the Planet of the Apes Ends Caesar’s Story
        |
        |
        .box-content-video
            .box-content-video-wrap
                a(href="#")
                    img.w-100(src="assets/img/home5/today/today_14.png", alt="")
                
            a(href="#"): h5 War for the Planet of the Apes Ends Caesar’s Story