// section video-list
section.home5-video-list
    .container
        .row
            .col-md-12.col-lg-6
                .box-content-video-1
                    img.w-100(src="assets/img/home5/video-list/video_03.png", alt="")
                    a(href="#").box-content-3-overlay
                    a(href="#"): img.play-icon(src="assets/img/home2/video/play-icon.png", alt="")
                    .box-content-3-featured
                        h4
                            a(href="#") Lucy Continues to Slay in New Pregnancy Pics See the All-Black Look!
            |
            |
            .col-md-12.col-lg-6.right-video-list
                .row
                    .col-md-6
                        .box-content-video-1
                            img.w-100(src="assets/img/home5/video-list/video_05.png", alt="")
                            a(href="#").box-content-3-overlay
                            .box-content-3-featured
                                h4
                                    a(href="#") Finding Summer Jobs For Teens
                    |
                    |
                    .col-md-6
                        .box-content-video-1
                            img.w-100(src="assets/img/home5/video-list/video_07.png", alt="")
                            a(href="#").box-content-3-overlay
                            .box-content-3-featured
                                h4
                                    a(href="#") 5 Cool Summer Treats For People
                    |
                    |
                    .col-md-6
                        .box-content-video-1
                            img.w-100(src="assets/img/home5/video-list/video_11.png", alt="")
                            a(href="#").box-content-3-overlay
                            .box-content-3-featured
                                h4
                                    a(href="#") Best skincare tips for summer
                    |
                    |
                    .col-md-6
                        .box-content-video-1
                            img.w-100(src="assets/img/home5/video-list/video_12.png", alt="")
                            a(href="#").box-content-3-overlay
                            .box-content-3-featured
                                h4
                                    a(href="#") Summer Of Savings:Beach Events
