// section breadcrumb
section.breadcrumb-wrap
    .container
        .row
            .col-md-12
                nav(aria-label='breadcrumb', role='navigation')
                    ol.breadcrumb.breadcrumb-1.text-uppercase
                        li.breadcrumb-item
                            a(href='#') Home
                        li.breadcrumb-item
                            a(href='#') BUSINESS
                        li.breadcrumb-item.active(aria-current='page') Ryan Reynolds Gushes Over Blake Lively at Met Gala: ‘She’s Made Me a More Empathetic Person’
