// section single-post-content
section.single-post1-content
    h3.title Ryan Reynolds Gushes Over Blake Lively at Met Gala: ‘She’s Made Me a More Empathetic Person’
    .wrap-meta
        p.metadata
            a(href="#") BUSINESS
            span.line-divine |
            a(href="#") BY JOHANNES KEPLER 
            span.line-divine |
            a(href="#") June 14, 2017
        |
        |
        p.metadata
            a(href="#")
                img(src="assets/img/comment-icon.png", alt="")
                |  09
            span.line-divine |
            a(href="#")
                img(src="assets/img/view-icon.png", alt="")
                |  200
    |
    |
    .wrap-share
        span 
            i.fa.fa-share-alt(aria-hidden='true')
            | Share
        span
            a.btn.btn-social.btn-fb(href="#"): i.fa.fa-facebook(aria-hidden='true')
            a.btn.btn-social.btn-twitter(href="#"): i.fa.fa-twitter(aria-hidden='true')
            a.btn.btn-social.btn-google(href="#"): i.fa.fa-google-plus(aria-hidden='true')
    |
    |
    img.w-100(src="assets/img/single-post/post.png", alt="")
    |
    |
    .wrap-content
        p If you have enough money in a savings account, it can be possible to live off the interest. Here's how to determine how much you would need in the bank to do this, how much you can expect to save at your current rate, and another way of building a million-dollar nest egg that could be a better idea.
        p How much money do you need to live off the interest?
        p The answer to this question depends on a couple of variables -- specifically, how much income you'll need to live comfortably, and what interest rate you're getting on savings.
        p Having said that, here's a quick (but imperfect) calculation method. Simply take the amount of annual income you want and divide it by the interest rate you expect to receive, expressed as a decimal. For example, if I need $40,000 per year to live comfortably and expect to receive 4% interest on my savings, $40,000 divided by 0.04 shows that I'll need $1,000,000 to live off my interest.
        p As I mentioned, though, this isn't a perfect calculation. Specifically, it doesn't account for inflation -- in other words, if you're 30, $50,000 today will not have nearly the same buying power when you're ready to retire. And it doesn't consider the fact that interest rates fluctuate over time, which can cause your income to fluctuate from year to year.
        p How much interest will your savings produce?
        p As long as you understand the limitations of calculating how much money you'll need to live off the interest, it can still be useful to have a long-term savings goal in mind, and to know whether or not you're on track to achieve it.
        p For example, let's say your income goal is $50,000 and you expect to earn 4% on your savings. We'll say that you currently have $100,000 in the bank and that you're 40 years old. If you're saving at a rate of $10,000 per year and expect to increase that amount by 2% per year, you can expect to have $676,145 by the time you're 65.
        p If you're willing to use some of your principal as well, you'll be able to withdraw an annual income of $34,496 per year for 30 years. Of course, this gives you the risk of running out of money, but it's a common retirement strategy to withdraw a combination of interest and principal. The often-cited 4% rule is a common example.
        |
        |
        .wrap-quote
            .quote
                .line-8.line-transform
                p "There are two types of people who will tell you that you cannot make a difference in this world: those who are afraid to try and those who are afraid you will succeed."
        |
        |
        p As a final thought, it's generally a bad idea to keep significant sums of money in savings accounts. You can read a thorough discussion of why I say this here, but over time, savings accounts earn such low interest rates that they tend to not even keep up with inflation.
        p Consider the previous example of a $100,000 savings balance at age 40, and a savings rate of $10,000 per year. Instead, let's assume you earn an 8% rate of return, which is actually conservative compared with the stock market's historical performance. In this case, you'd end up with more than $1.1 million at age 65, and what's more, you could reasonably expect to withdraw $82,222 per year for 30 years without running out of money, more than double what you could withdraw from a savings account, even assuming an optimistic 4% interest rate.
        p Editor's note: This article originally mistakenly claimed that $50,000 was 4% of $1,000,000. It has been updated to reflect that $40,000 is 4% of $1,000,000. The Fool regrets the error.
        p SPONSORED: The $16,122 Social Security bonus most retirees completely overlook
        p If you're like most Americans, you're a few years (or more) behind on your retirement savings. But a handful of little-known Social Security secrets could help ensure a boost in your retirement income. For example, one easy trick could pay you as much as $16,122 more each year. Once you learn how to maximize your Social Security benefits, we think you could retire confidently with the peace of mind we're all after. Simply click here to discover how to learn more about these strategies.
    |
    |
    .wrap-tag
        p
            span 
                i.fa.fa-tags(aria-hidden='true')
                | Tags:
                a(href="#") Business,
                a(href="#") hot,
                a(href="#") Finance
    |
    |
    .owl-carousel.owl-theme.carousel-5.post-carousel
        .item
            .wrap-post
                .media.media-5
                    .media-body
                        a(href="#"): h6.text-uppercase INVESTING
                        a(href="#"): h5.mt-0 Exxon, Shell Join Ivanka Trump to Defend Paris Climate Pact
                    a(href="#"): img.media-object.mr-3(src='assets/img/home4/world/world_15.png', alt='Generic placeholder image')
                    |   
                    
                |
                |
                .media.media-5
                    a(href="#"): img.media-object.mr-3(src='assets/img/home4/world/world_15.png', alt='Generic placeholder image')
                    |   
                    .media-body
                        a(href="#"): h6.text-uppercase INVESTING
                        a(href="#"): h5.mt-0 Exxon, Shell Join Ivanka Trump to Defend Paris Climate Pact